		<tmpl_if display:str>
			<tr id='family_%%familyid%%_divider' class='family_divider'>
				<td colspan=2>
					<a name='%%first%%<tmpl_if spouse:str> &amp; %%spouse%%</tmpl_if> %%last%%'><hr size=1></a>
				</td>
			</tr>
			
			<tr id='family_%%familyid%%_data' class='family_data'>
				<td class='photo_cell' align='center' valign='top'>
					<tmpl_if photo:str>
						<a href='%%large_photo%%' target='_new'><img src='%%photo%%' class='photo' border='0'></a>
					<tmpl_else>
						<!--<div class='no_photo'>
							?
						</div>-->
					</tmpl_if>
				</td>
				<td class='info_cell' valign='top'>
					<table class='dirinfo' width='100%'>
						<tr class='name'>
							<td class='name' colspan=2>
								<tmpl_if userid><a href='/%%user%%' title="View %%first%%'s Wall"></tmpl_if>%%first%%<tmpl_if userid></a></tmpl_if> <tmpl_if spouse:str> &amp; <tmpl_if spouse_userid><a href='/%%spouse_user%%' title="View %%spouse%%'s Wall"></tmpl_if>%%spouse%%<tmpl_if spouse_userid></a></tmpl_if></tmpl_if> %%last%%
							
								<tmpl_if can_edit>
									<div class='edit'>
										<a href='%%bin%%/edit?familyid=%%familyid%%'>Edit</a>
										<tmpl_if is_admin> | <a href='%%bin%%/delete?familyid=%%familyid%%' onclick='return confirm("Are you sure?")'>Delete</a></tmpl_if>
									</div>
								<tmpl_else>
									<tmpl_unless has_account>
										<div class='edit'>
											<a href='%%bin%%/claim?familyid=%%familyid%%'>This is My Family!</a>
										</div>
									</tmpl_unless>
								</tmpl_if>
							</td>
						</tr>
						<tmpl_if incomplete_flag>
							<tr class='incomplete'>
								<td colspan='2'>
									<div class='incomplete'>
										(No Directory Info Sheet found - Just fill one out and drop it off at the sound booth.)
									</div>
								</td>
							</tr>
						</tmpl_if> 
						<tmpl_if address:str>
							<tr class='address'>
								<td class='value' colspan='2'>
									<tmpl_if is_mobile>
										<a href='map:%%address%%'>
									</tmpl_if>
										%%address%%
									<tmpl_if is_mobile>
										</a>
									</tmpl_if>
								</td>
							</tr>
						</tmpl_if>
						<tmpl_if home:str>
							<tr class='phone phone-home'>
								<td class='key'>
									Home Phone:
								</td>
								<td class='value'>
									<tmpl_if is_mobile>
										<a href='tel:%%home%%'>
									</tmpl_if>
									%%home%%
									<tmpl_if is_mobile>
										</a>
									</tmpl_if>
								</td>
							</tr>
						</tmpl_if>
						<tmpl_unless p_cell_dir>
							<tmpl_if cell:str>
								<tr class='cell'>
									<td class='key'>
										<tmpl_if spouse:str>%%first%%'s </tmpl_if>Cell:
									</td>
									<td class='value'>
										<tmpl_if is_mobile>
											<a href='tel:%%cell%%'>
										</tmpl_if>
										%%cell%%
										<tmpl_if is_mobile>
											</a>
										</tmpl_if>
									</td>
								</tr>
							</tmpl_if>
						</tmpl_unless>
						<tmpl_unless p_spouse_cell_dir>
							<tmpl_if spouse_cell:str>
								<tr class='cell'>
									<td class='key'>
										<tmpl_if spouse:str>%%spouse%%'s </tmpl_if>Cell:
									</td>
									<td class='value'>
										<tmpl_if is_mobile>
											<a href='tel:%%spouse_cell%%'>
										</tmpl_if>
										%%spouse_cell%%
										<tmpl_if is_mobile>
											</a>
										</tmpl_if>
									</td>
								</tr>
							</tmpl_if>
						</tmpl_unless>
						
						
						<tmpl_unless p_email_dir>
							<tmpl_if email:str>
								<tr class='email'>
									<td class='key'>
										<tmpl_if spouse:str>%%first%%'s </tmpl_if>Email:
									</td>
									<td class='value'>
										<a href='mailto:%%email%%'>%%email%%</a>
									</td>
								</tr>
							</tmpl_if>
						</tmpl_unless>
						<tmpl_unless p_spouse_email_dir>
							<tmpl_if spouse_email:str>
								<tr class='email'>
									<td class='key'>
										<tmpl_if spouse:str>%%spouse%%'s </tmpl_if>Email:
									</td>
									<td class='value'>
										<a href='mailto:%%spouse_email%%'>%%spouse_email%%</a>
									</td>
								</tr>
							</tmpl_if>
						</tmpl_unless>
						
						<tmpl_if birthday:str>
							<tr class='birthday'>
								<td class='key'>
									<tmpl_if spouse:str>%%first%%'s </tmpl_if>Birthday:
								</td>
								<td class='value'>
									%%birthday%%
								</td>
							</tr>
						</tmpl_if>
						<tmpl_if spouse_birthday:str>
							<tr class='birthday'>
								<td class='key'>
									<tmpl_if spouse:str>%%spouse%%'s </tmpl_if>Birthday:
								</td>
								<td class='vale'>
									%%spouse_birthday%%
								</td>
							</tr>
						</tmpl_if>
						
						<tmpl_if anniversary:str>
							<tr class='anniversary'>
								<td class='key'>
									Anniversary:
								</td>
								<td class='vale'>
									%%anniversary%%
								</td>
							</tr>
						</tmpl_if>
						<tmpl_if comments:str>
							<tr class='comments'>
								<td colspan='2'>
									<i>%%comments_html%%</i>
								</td>
							</tr>
						</tmpl_if> 
						<tmpl_if kids>
							<tr class='kids'>
								<td class='key' valign='top'>
									Children:
								</td>
								<td class='value'>
									<table class='kids'>
										<tmpl_loop kids>
											<tr>
												<td class='name'>
													%%display%%
												</td>
												<td class='bday'>
													%%birthday%%
												</td>
											</tr>
										</tmpl_loop>
									</table>
								</td>
							</tr>
						</tmpl_if>
						
						
					</table>
				</td>
			</tr>
		</tmpl_if>