<tmpl_if is_widget>
<html>
	<head>
		<title>PHC Family Directory</title>
		
		<!--<link href="%%modpath%%/css/subpage.css" rel="stylesheet" type="text/css" />-->
		<link rel="icon" type="image/x-icon" href="%%modpath%%/favicon-trans.ico"/>
		
		<link href='%%appcore%%/jquery-ui/css/smoothness/jquery-ui-1.8.12.custom.css' rel="stylesheet" type="text/css">
		<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js'></script>
		
		<!-- This stylesheet applies to all browsers -->
		<a:cssx src="%%modpath%%/css/subpage.css"/>
		
		<style>
			body {
				margin:0;
				padding:0;
				border:0;
				overflow: hidden;
				overflow-y: auto;
				background: white;
			}
		</style>
	</head>
	
	<body>			

	<iframe id="helperframe" src='' height='0' width='0' frameborder='0'></iframe>
	
	<script type="text/javascript">
		
		function iframeResizePipe()
		{
			// What's the page height?
			var height = $(document.body).height();
			
			// Going to 'pipe' the data to the parent through the helpframe..
			var pipe = document.getElementById('helperframe');
			
			// Cachebuster a precaution here to stop browser caching interfering
			pipe.src = 'http://www.mypleasanthillchurch.org/iframe_resize_helper.html?height='+height+'&cacheb='+Math.random();
			
			//console.debug("new height:"+height);
		
		}
		
		$(function(){
			
			$(document).ready(iframeResizePipe); 
			$(document.body).resize(iframeResizePipe);
			$(window).resize(iframeResizePipe);
			$(window).bind('scroll', iframeResizePipe);
			setTimeout(iframeResizePipe, 1500);
		});
	</script>


<tmpl_else>

<title>PHC Family Directory</title> 
<h1>PHC Family Directory</h1>
<!--%macro::sub_nav()%-->

</tmpl_if>
<style>
.new_link, .new_reply_link, .edit_post_link
{ 
	border: 2px solid #c9ac93;
	padding: 5px;
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-size: 13px;
	display: block;
	width: 150px;
	/*background: #fff6ec; */
	background: white;border-color: blue;
	-moz-border-radius: 4px;
	
}
	

.dir-body 
{
	display: block;
	page: main;
	counter-reset: page 1;
	
}

.dir-body, .dir-body td
{
	font-family: Bergamo, Georgia, serif;
}


.photo
{
	max-width: 10em;
	max-height: 8em;
	border: .25px solid black;
}
.photo_cell
{
	width: 10em;
	padding-top: .5em;
}
.info_cell
{
	padding-top: .5em;
	padding-left: .5em;
}

.no_photo
{
	border: 1px solid black;
	background: rgb(220,220,220);
	font-weight: bold;
	font-size: 2em;
}

tr.name
{
	font-weight: bold;
}

div.incomplete
{
	border: .1px solid black;
	color: green;
}

tr.address td
{
	/*border-bottom: .1px solid black;*/ 
}

tr.name td
{
	/*border-top: .1px solid black;*/
}

table.kids
{
	border-spacing: 0;
}

table.kids td.bday
{
	padding-left: .5em;
	/*font-size: .85em;*/
	color: rgb(80,80,80);
}

table.entry td
{
	font-size: .85em;
}

table.entry td.key
{
	color: rgb(80,80,80);
	font-size: .75em;
	width: 1%;
	white-space:nowrap;
}


.admin_notes td
{
	padding-top: .5em;
}

.paging
{
	border: 2px solid #c9ac93;
	padding: 5px;
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-size: 13px;
	display: block;
	/*width: 150px;*/
	/*background: #fff6ec; */
	background: white;border-color: rgb(180,180,180);
	-moz-border-radius: 4px;
}
.paging .total { font-weight: bold }
.paging .curpg { font-weight: bold }

td.load-done,
td.loading
{
	background: rgb(230,230,230);
	/*border: 1px solid rgb(100,100,100);*/
	-moz-border-radius: 3px;
	padding: .5em;
	margin-top: 1em;
	font-size: .75em;
	font-weight: bold;
	text-align: center;
	color: rgb(80,80,80);
}

tr.loadmore a
{
	text-decoration: none;
	/*font-weight: normal;*/
	color: #364a90;
}

<tmpl_unless is_mobile>
div.dlinfo
{
	width: 13.25em;
	margin-right: -15em;
	margin-top: -4em;
	padding: .5em;
	float: right;
	background: #E6E6E6;
	-moz-border-radius: 3px;
}
	
div.dlinfo td.text
{
	font-size: .8em;
}

div.dlinfo td.text img
{
	background: white;
	padding: .5em;
	border: 1px solid rgb(230,230,230);
	-moz-border-radius: 3px;
	
	margin-top: .2em;
	margin-bottom: .4em;
	
	display: block;
	text-align: center;
	
}
</tmpl_unless>

</style>

	<!--
	<div class='paging top'>
		<tmpl_unless is_start>
			<span class='prev'><a href='%%bin%%/sermons?start=0'>&laquo; Start</a></span> | 
			<span class='prev'><a href='%%bin%%/sermons?start=%%prev_start%%'>&laquo; Prev Page</a></span> | 
		</tmpl_unless>
		<tmpl_unless is_end>
			<span class='next'><a href='%%bin%%/sermons?start=%%next_start%%'>Next Page &raquo;</a></span> | 
			<span class='next'><a href='%%bin%%/sermons?start=%%count%%'>End &raquo;</a></span> | 
		</tmpl_unless>
		<span class='pages'>
			Page <span class='curpg'>%%cur_page%%</span> of <span class='totalpg'>%%pages%%</span> |
			Total: <span class='total'>%%count%% Entries</span>
		</span>
	</div>
	-->

	<div class='dlinfo'>
		<table>
			<tr>
				<td class=text valign=top>
					<tmpl_unless is_mobile><center><a href='/connect/directory/pdf/PHC_FamilyDirectory.pdf'><img src='%%modpath%%/images/pdf.gif' border=0></a></center></tmpl_unless>
					<b>Did you know?</b> You can download a <a href='/connect/directory/pdf/PHC_FamilyDirectory.pdf'>printable version of the directory</a>! Just <a href='/connect/directory/pdf/PHC_FamilyDirectory.pdf'>click here</a> to download and print off your own multi-page full-color copy!
				</td>
			</tr>
		</table>
	</div>
	
	<style>
		.edit
		{
			float: right;
			
		}
		
		.edit a
		{
			text-decoration: none;
			font-weight: normal;
			color: #364a90;
		}
	</style>
	
	<form action='%%binpath%%' method=GET class='searchform'>
		<tmpl_if is_widget><input type=hidden name=widget value='%%is_widget%%'></tmpl_if>
		<table class='entry' width='100%' class=search-results>
			<tr>
				<td align=center>
					<tmpl_unless is_widget>
						<hr size=1>
					</tmpl_unless>
					<div style='margin-top:1.1em;margin-bottom:1em'>
						Search: <input type=text name=search value='%%search%%' class='search_field' size=<tmpl_if search>16<tmpl_else>20</tmpl_if>> <tmpl_if search><input type=button class='clear_search' value='X'></tmpl_if> <input type=submit value='Search'>
					</div>
					<tmpl_if is_admin>
						<hr size=1>
						<div style='margin-top:1em'>
							<a href='%%binpath%%/new'>Add a new family...</a>
						</div>
					</tmpl_if>
				</td>
			</tr>
		</table>
		<script>
		$(function() {
			var field = $('.search_field').get(0);
			if(field) //&& field.value != '')
			{
// 				field.focus();
// 				field.select();
			}
			
			$('.clear_search').live('click',function() {
// 				$('.search_field').get(0).value = '';
// 				$('.searchform').submit();
				document.location.href = '%%binpath%%<tmpl_if is_widget>?widget=1</tmpl_if>';
			
			});
		});
		
		</script>
	</form>
	
	<table class='entry' width='100%' class=search-results>
		<tr class='search-footer'></tr>
	</table>
	
	<table class='entry' width='100%' class=dir-body>
		<tmpl_loop entries>
			<tmpl_include 'inc-dir-entry.tmpl'>
		</tmpl_loop>
		<tmpl_unless search>
			<tr class='loadmore'><td colspan=2 class='loading'><tmpl_if is_end>(No more entries)<tmpl_else><a href='%%binpath%%?start=%%next_idx%%<tmpl_if is_widget>&widget=1</tmpl_if>'>See more entries...</a></tmpl_if></td></tr>
		</tmpl_unless>
	</table>
	
	<tmpl_if search>
		<tmpl_unless entries>
			<hr size=1>
			<center>
			<h2 style='margin:2em'>Sorry, no entries match "<i><tmpl_var search escape=html></i>"</h2>
			</center>
		</tmpl_unless>
	</tmpl_if>
	
	<script id="entry-tmpl" type="text/x-jquery-tmpl">
		${tmpl2jq:%%modpath%%/tmpl/directory/inc-dir-entry.tmpl}	
	</script>
	
	<script flag='dynamic_server_content'>
	// Put these two values in a script block marked with 'flag='dynamic_server_content'' just to throw off the
	// server-based script compressor. The compressor grabs all script blocks and does an MD5 to see if they
	// have changed, and if so, it uses YUI to re-compress them. Since these values are LIKELY to change based
	// on database values, we DONT want to trigger a recompress (takes >950ms or so) just because we have a new
	// post or whatever. The 'flag='dynamic...'' is just to prevent the server compressor from grabbing this
	// script block because it only grabs script blocks with certain attributes and ingores others.
	window.PagingNextIndex = %%next_idx%%;
	</script>
	
	<script>
	$(function() {
	
		var loaderGif = '${CDN:%%appcore%%/mods/ThemePHC/images/fb-ajax-loader.gif}';
			
		//loadmore_link
		var pagingLock = false;
		var pagingFunc = function(){
			
			if(pagingLock)
				return;
				
			pagingLock = true;
			
			if(window.PagingNextIndex<0)
				return false;
				
			$("body").css("cursor", "progress");
			$("tr.loadmore").children("td").html("<img src="+loaderGif+" align=absmiddle> Loading ... ").addClass("loading");
			
			// Set a timeout so the browser has time to update the DOM with the loader gif we just added
			setTimeout(pagingStage2,100);
					
			return false;
		};
		
		var pagingStage2 = function()
		{
			var loadMoreUrl = '%%binpath%%';
			var linkHref = loadMoreUrl+"?start="+window.PagingNextIndex<tmpl_if is_widget>+"&widget=1"</tmpl_if>;
			
			$.ajax({
				type: "GET",
				url: loadMoreUrl,
				data: 
				{
					start: window.PagingNextIndex,
					length: %%length%%,
					output_fmt: 'json'
				},
				success: function(data)
				{
					//console.debug("got post data: "+data+", typeof: "+typeof(data));
					//alert("Got post data:"+data+", type:"+typeof(data));
					if(typeof(data) == "string")
					{
						// something wierd on server - should be JSON!
						document.location.href = linkHref;
						//alert("Got data as string");
					}
					else
					{
						// Iterate over the list of posts and reate the posts from the template
						var posts = data.list;
						for(var i=0;i<posts.length;i++)
						{
							var postData = posts[i];
							//console.debug(postData);
							var obj = $("#entry-tmpl").tmpl(postData);
							//console.debug(obj.get(0));
							obj.insertBefore("tr.loadmore");
						}
						
						window.PagingNextIndex = parseInt(data.start) + parseInt(data.length);
						
						$("tr.loadmore").children("td").html("<a href='%%bin%%?start="+window.PagingNextIndex+"'>See more entries...</a>");
						
						// Store the next index for the next time they request more posts
						if(window.PagingNextIndex >= parseInt(data.count))
						{
							window.PagingNextIndex = -1;
							$("tr.loadmore").children("td").html("(No more entries)").addClass("load-done");
						}
						
						// Remove busy cursor
						$("body").css("cursor", "auto");
						
						pagingLock = false;
						
						<tmpl_if is_widget>
						//alert("Yup, widget!");
						//setTimeout(iframeResizePipe, 100);
						</tmpl_if>
					}	
				},
				error: function() 
				{ 
					//alert("Error");
					document.location.href = linkHref; 
				}
				
			});
			
			return false;
		}
		
 		$(".loadmore a").live("click",pagingFunc);
// 		$("a.loadmore_link").live("click",pagingFunc);
		
		
		// Add a "load on scroll" method. 
		// This listens for the "onscroll" event and checks to see if the
		// bottom "Load more" link is visible at the bottom of the window.
		// As soon as the link gets close (see 'fudge'), then the 
		// paging function (above) is triggered just as if the user
		// had clicked the link
		<tmpl_unless search>
// 		$(window).bind('scroll', function(){
// 				
// 			var rowRef = $("tr.loadmore");
// 			var scrollBottom = $(window).scrollTop() + $(window).height();
// 			var fudge = 100; // amount by which to fudge the detection
// 			var rowTop = rowRef.offset().top - fudge; 
// 			if(rowTop < scrollBottom)
// 			{
// 				//var domElm = rowRef.get()[0]; //document.getElementById("load_more_bottom");
// 				//domElm.doPaging = pagingFunc;
// 				//domElm.doPaging();
// 				pagingFunc();
// 			}
// 		});
		//setTimeout(pagingFunc,500);
		</tmpl_unless>
		
		
		var closestToOffset = function($collection, offset) {
			var el = null,
				elOffset,
				x = offset.left,
				y = offset.top,
				distance,
				dx,
				dy,
				minDistance;
			
			$collection.each(function() {
			
				elOffset = $(this).offset();

				if (
					(x >= elOffset.left)  && (x <= elOffset.right) &&
					(y >= elOffset.top)   && (y <= elOffset.bottom)
				) {
					el = $(this);
					return false;
				}

				var offsets = [[elOffset.left, elOffset.top], [elOffset.right, elOffset.top], [elOffset.left, elOffset.bottom], [elOffset.right, elOffset.bottom]];
				for (off in offsets)
				{
					dx = offsets[off][0] - x;
					dy = offsets[off][1] - y;
					distance = Math.sqrt((dx*dx) + (dy*dy));
					if (minDistance === undefined || distance < minDistance) {
						minDistance = distance;
						el = $(this);
					}
				}
			});
			return el;
		}

		var nameHideTid;
		
		$(window).bind('scroll', function(){
			
			clearTimeout(nameHideTid);
			$('.scroll-name-display').show();
			
			var y = $(window).scrollTop(),
				x = $(window).width() / 2;
				max = $(document.body).height(),
				percent = y/max,
				newTop = $(window).height() * percent;
			
			var $collection = $('.family_divider');
			
			//$('.scroll-name-display').animate('top', newTop+'px');
			$('.scroll-name-display').css('top',newTop+'px');
			
			//console.log("max:",max, ", y:",y, "perc:",percent,", newTop:",newTop);
			
			var $el = closestToOffset($collection, { left: x, top: y });
			
			//console.log("Closest: ",$el,", last:", $el.attr('data-last'));
			
			var str = $el.attr('data-last') + "";
			str = str.substring(0,3) + (str.length > 3 ? '...' : '');
			
			$('.scroll-name-display').html(str);
			
			nameHideTid = setTimeout(function() {
				$('.scroll-name-display').fadeOut('fast');
			}, 2500);
		});
		
		setTimeout(function() {
			$('.scroll-name-display').hide();
		}, 100);
		
	
	});
	
	</script>
	
	<div class='scroll-name-display'>
	</div>
	
	<style>
	.scroll-name-display {
		position: fixed;
		right: 0;
		top: 0;
		width: 3em;
		padding: .5em;
		color: white;
		font-size: 32px;
		font-weight: bold;
		background: rgba(0,0,0,0.75);
		font-family: Monospace;
	}
	</style>
	
	<!--
	<div class='paging top'>
		<tmpl_unless is_start>
			<span class='prev'><a href='%%bin%%/sermons?start=0'>&laquo; Start</a></span> | 
			<span class='prev'><a href='%%bin%%/sermons?start=%%prev_start%%'>&laquo; Prev Page</a></span> | 
		</tmpl_unless>
		<tmpl_unless is_end>
			<span class='next'><a href='%%bin%%/sermons?start=%%next_start%%'>Next Page &raquo;</a></span> | 
			<span class='next'><a href='%%bin%%/sermons?start=%%count%%'>End &raquo;</a></span> | 
		</tmpl_unless>
		<span class='pages'>
			Page <span class='curpg'>%%cur_page%%</span> of <span class='totalpg'>%%pages%%</span> |
			Total: <span class='total'>%%count%% Entries</span>
		</span>
	</div>
	-->

<script type="text/javascript" src="%%appcore%%/js/jquery.tmpl.js" index="50"></script>
<script type="text/javascript" src="%%appcore%%/mods/ThemePHC/fancybox/jquery.mousewheel-3.0.4.pack.js" index="50"></script>
<script type="text/javascript" src="%%appcore%%/mods/ThemePHC/fancybox/jquery.fancybox-1.3.4.pack.js" index="50"></script>
<!--<link rel="stylesheet" type="text/css" href="%%modpath%%/fancybox/jquery.fancybox-1.3.4.css" media="screen" />-->
<a:cssx src="%%appcore%%/mods/ThemePHC/fancybox/jquery.fancybox-1.3.4.css"/>
<script>
	$(function() {
// 		$("div.attach a.image-link").live("click", function() {
// 			var t = this, $t = $(this);
// 			var fullImageUrl = $t.attr('href');
// 			
// 		});
		$("td.photo_cell a.photo_link").fancybox({
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
			'titlePosition' 	: 'over',
			'changeSpeed'		: 0,
			'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
				return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
			}
		});
	});
</script>


<tmpl_if is_widget>
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' index="-100"></script>
	</body>
</html>
</tmpl_if>
