<html>
<head>
	<title><tmpl_if page_title>%%page_title%% - </tmpl_if>WriteBlock</title>
	<a:cssx src="%%modpath%%/css/writeblock.css"/>
</head>

<body>
	<div id='header'>
		<h1>WriteBlock</h1>
	</div>
	<div id='body'>
		%%page_content%%
	</div>
	
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' index="-100"></script>

</body>

</html>
	