/* Comments */
#comments
{
	/*float: right;*/
	/*background:	url('/images/nav-bg-w75.png');*/
	/*margin-right: -3.5em;*/
	/*margin-top: -5px;*/
	/*margin-top: -25%;*/
	
	
	/*padding: .5em;*/
	font-size: 11px;
	/*border: 1px solid rgb(200,200,200);*/
	
	/*height: 150px;*/
	
}


.comments_block
{
	float: none;
/*	border: 1px solid #838183;*/
	border-top: 1px solid #838183; 
	background: rgb(250,250,250);
	padding: .95em;
	margin-left: .5em;
	margin-bottom: .5em;
	/*width: 55em;*/
	/*margin-right: -5em;*/
	margin-top: 2.95em; padding-top:.95em;
	
	
}

.comments_block .comments_title 
{
	font-weight: bold;
	border-bottom: 1px solid #838183;
	
}

.comments_block .comment_link
{
	float: right;
} 

.comments_block  .timestamp 
{ 
	font-size: 1em; 
	color: rgb(60,160,60);
	font-family: Courier New, Monospace;
	font-weight: bold;
}

.comments_box .subject { display: none }

.comments_block  .meta 
{
	font-size: 1em; font-weight: bold;
	color: rgb(60,160,60);
}

.comments_block .nocomments {}

.comment_text  blockquote { margin:0;padding:0;margin-left:3em; }

.comment_text + .comment_text  { border-top: 1px dotted #838183; margin-top: .2em; padding-top: .2em }
