<title>People</title>

<h1>People</h1>

<a href='%%binpath%%/create'>Add a new person...</a>

<style>
.pic
{
	position:relative;
}

.pic img
{
	border: 1px solid black;
}

.pic .full
{
	display: none;
	position: absolute;
	top: -18px;
	left: -4px;
	z-index: 500;
	-moz-box-shadow: 0 0 3px #fff, 0px 0px 8px #000;
}

table.pretty tr:hover .pic .full
{
	display: block;
}
table.pretty td.fbuser
{
	font-weight: bold;
	color: white;
	background: green;
}
</style>

<table class='pretty'>
	<thead>
		<th>Actions</th>
		<th>Photo</th>
		<th>Name</th>
		<th>Email</th>
		<th>User</th>
		<th>From FB?</th>
	</thead>
	<tbody>
		<tmpl_loop list>
		<tr>
			<td class='util'>
				<!--<a href='%%url%%'>Visit</a> | -->
				<a href='%%binpath%%/edit?userid=%%userid%%'>Edit</a> | 
				<a href='%%binpath%%/delete?userid=%%userid%%' onclick="return confirm('Are you SURE you want to delete %%first%% %%last%%? This can\'t be undone!')">Delete</a>
			</td>
			<td align=center>
				<tmpl_if photo>
					<div class='pic'>
						<img src='%%photo%%' width=25 height=25>
						<img src='%%photo%%' width=60 height=60 class='full'>
					</div>
				</tmpl_if>
			</td>
			<td>%%first%% %%last%%</td>
			<td><tmpl_if email>
				<a href='mailto:%%email%%'>%%email%%<a/>
				<tmpl_else>-</tmpl_if></td>
			<td>%%user%%</td>
			<td align=center <tmpl_if is_fbuser>class='fbuser'</tmpl_if>>
				<tmpl_if is_fbuser>Yes<tmpl_else>No</tmpl_if></td>
		</tr>
		</tmpl_loop>
	</tbody>
</table>
