/* Reset table cell font size */
td { font-size: 68.75% }

/* Style for new post form */
.newpost { 
	cursor: default; 
	/*background: #e9eeff;*/
}

.newpost textarea
{
	width:100%;
	height:54px;
	margin-top: 0;
}

.newpost td
{
	white-space: nowrap; /* nowrap attr */
	/*vertical-align: top; *//* valign=top */
}

.newpost td.content
{
	width: 100%;
}

/* Add a border to the bottom "load more" link, top number display, and new post form */
/*.newpost td,*/ 
.loadmore td,
.current_nums td {
	border-bottom: 1px solid #c7cddf;
	border-top: 1px solid white;
}

/* Add a nice background for the current post numbers at the top and load link at bottom */
.loadmore td,
.current_nums td { background: #e9eeff; }

/* Style the load more posts link at bottom */
.loadmore td a {
	/*color: #364a90;*/
	font-weight: bold;
	/*font-size: .85em;*/
	display: block;
	padding: 1em;
	text-decoration: none;
}

/* Styling for the loading animation at the bottom */
.loadmore td img {
	display: block;
	margin-bottom: 1em;
}

/* Styling for the current number of posts display at the top of the page */
.current_nums div {
	color: #364a90;
	font-weight: bold;
	/*font-size: .85em;*/
	display: block;
	margin: 1em 13px;
	text-decoration: none;
}

.current_nums div a,
.current_nums div span.link {
	/*color: #364a90;*/
	font-weight: normal;
}

/* Remove the dotted border for the bottom "Load more posts" link */
.loadmore td a:active,
.loadmore td a:focus { outline: 0; }

/* Width and clearfix for the new comment form */
.reply_form .wrap { width: 450px; }
.reply_form .wrap .fc { clear: both; }

/* Styling for user ID in the new post and comment form */
.reply_form .ident,
.newpost .ident {
	color: #364a90;
	/*font-size: .7225em;*/
	float: left;
}

/* Styling for controls ("Post" button) in the new post and comment form */
.reply_form .controls,
.newpost .controls { 
	float: right;
	padding-bottom: 2px; 
}
/* Styling for controls ("Post" button) in the new post form */
/*.newpost .controls { padding-right: 3px; }*/

/*.reply_form .controls a,
.newpost .controls a { font-size: .75em; }*/

/* Styling for the comment "Cancel" link */
.reply_form .controls a.cancel {
	/*font-size: .7em;*/
	float: left;
	margin-right: 5px;
}

/* Collapse postas form table borders in the new post form */
#postas_form table { border-collapse: collapse; }

/* Add text color to the table cells in the postas from in the new post form */
#postas_form td { 
	color: #364a90;
	/*font-size: .7225em;*/
	padding: 0;
}

/* Add basic margins to the postas from in the new post form */
#postas_form {
	display: none;
	margin-top: -1px;
	margin-bottom: 2px;
}

/* Add a solid border to the newpost and reply form input elements */
.reply_form textarea, 
.reply_form input,
.newpost textarea, 
.newpost input.text {
	border: 1px solid #b9c0da;
}

/* Add dropshadows to the newpost and reply form input elements when focused */
.reply_form textarea:focus, 
.reply_form input:focus,
.newpost textarea:focus, 
.newpost input.text:focus {
	-moz-box-shadow: 0px 0px 9px #364a90;
	-webkit-box-shadow: 0px 0px 9px #364a90;
	box-shadow: 0px 0px 9px #364a90;
}

/*  Add some spacing to the "post as" inputs in the reply and new post forms */
.reply_form input,
.newpost input.text {
	margin-top: 2px;
}

/* Remove table cell borders on the reply form and new post forms */
.reply_form table td, 
.newpost table td { border: 0  !important }

/* Reset border spacing on the post list */
table.postlist { border-spacing: 0 } 

/* Add a border to the user photo and a drop shadow */
.postlist .user_photo {
	border: 1px solid #364a90;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
}

/*table.postlist td { font-size: .85em; }*/

/* Style the user photo - set width and padding */ 
.postlist td.photo {
	width: 52px;
	padding: 20px 5 10 0;
}

tr.newpost td.photo {
	padding-left: 7px;
}

/* Set default styling on images and image-links  */
.postlist td img { cursor: default; }
.postlist td a img { cursor: pointer; }	

/* Add padding to the top of posts */
.postlist td.data { padding: 18px 0 0 0; }
.postlist tr.newpost td.data { padding: 5px 0 0 0 } 

/* Hide the subject field by default */
.postlist .data .title_link { display: none; }

/* Styling for timestamp and bylines */
.postlist .data .by { 
	font-style: italic;
	/*font-size: .85em;*/
} 
.postlist .data .posted_by .name { 
	font-weight: bold; 
	color: #364a90;
}

/*.postlist .data .timestamp { font-size: .7225em; }*/
/*.postlist .more { font-size: .7225em; }*/

/* Add padding to top and bottom of the post text */
.postlist .post_text { padding: 5px 0 3 0; }

/* Hide the long text place holder by default (filled via ajax)
.long_text { display: none; }

/* Hide the post placeholder by default */
img.loading, 
#post-placeholder { display: none; }

/* Styling for an image link */
.postlist td a.image-link {
	/*display: block;*/
	position: relative;
	/*width: 120px;
	height: 90px;*/
	overflow: hidden !important;
	/*border: 2px solid black;*/
	/*background: white;*/
	/*padding: 10px;*/
	/*-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);*/
	/*margin-top: 4em;*/
}

.postlist td a.image-link img {
	border: 1px solid black;
	padding: 10px;
	/*width: auto;
	height: auto;
	margin: auto auto;*/
	background: white;
}

/* Styling for the video play link */
.postlist td a.video-play-link {
	display: block;
	position: relative;
	width: 120px;
	height: 90px;
	overflow: hidden !important;
	border: 1px solid black;
}

/* Styling for the video thumnail image */
.postlist td a.video-play-link img {
	display: block;
	position: absolute;
	z-index: 1;
}

/* TODO: Adapt overlay for IE 6 */
.postlist td a.video-play-link span {
	display: block;
	position: absolute;
	background: url(%%modpath%%/images/play-icon-48px.png) no-repeat center;
	z-index: 2;
	width: 120px;
	height: 90px;
	opacity: .75;
}

/* Add a dropshadow to the video play links */
.postlist td a.video-play-link,
iframe.video-iframe {
	-webkit-box-shadow: 0px 0px 9px #364a90;
	-moz-box-shadow: 0px 0px 9px #364a90;
	box-shadow: 0px 0px 9px #364a90;
}

/* Add margin to the video play links */
.postlist td a.video-play-link {
	margin: 10 0;
}

/* Make sure the iframe doesnt overflow the borders */
.postlist td a.video-play-link iframe { z-index: -1; }

/* Remove the dotted outline around the video link*/
.postlist td a.video-play-link:active, 
.postlist td a.video-play-link:focus { outline: 0; }

/* Styling for horizontal rules in posts */
.postlist td hr {
	margin-top: 10px;
	margin-bottom: 4px;
	border-color: #b9c0da;
}

.postlist td hr.post-attach-divider { margin-bottom: 10px; }

/* Hide the "post as" form by default */
.reply_form .form { display: none; }


/* "Like" link styling */
.add_like a,
.you_like {
	background: url(%%appcore%%/mods/ThemePHC/images/icon-list.png) no-repeat -1px -33px;
	padding-left: 16px;
}

.actions a.reply_link {
	background: url(%%appcore%%/mods/ThemePHC/images/icon-list.png) no-repeat -1px -141px;
	padding-left: 16px;
}

/* "Like" link hover styling */
.actions a.reply_link:hover,
.add_like a:hover { color: #292929 !important; }

.add_like a:hover {
	background: url(%%appcore%%/mods/ThemePHC/images/icon-list.png) no-repeat -1px -3px;
	padding-left: 16px;
}

.actions a.reply_link:hover {
	background: url(%%appcore%%/mods/ThemePHC/images/icon-list.png) no-repeat 0px -170px;
	padding-left: 16px;
}

/* Set initial margin on the actions list */
.post .actions { margin-top: 2px; }

/* Move the reply form up a bit for the post */
.post .reply_form { margin-top: -8px; }

/* Add spacing to the reply form and actions list (overrides .actions margin-top above) */
.replies_container .actions,
.replies_container .reply_form { margin-bottom: 0; }
.replies_container .reply_form { margin-top: 4px; }

/* Add some margins to comments text and photo */
.comment_text img.user_photo { margin-left: 10px; }
.comment_text div.text { margin-top: 4px; }

/* Put some spacing between the loading animation and the text */
.like-loading-img  { padding-left: 4px; }

/* Alternating highlighting for various indent levels */
.indent-odd { background: #e2e7f7 !important; }
.indent-even { background: #dce1f1 !important; }

a.not-a-link { cursor: default; }

/* Collpase borders on comment tables */
.comment_text { border-collapse: collapse; }

/* Reset borders/padding on comments ... */
table.comment_text td {
	/*font-size: .85em;*/
	border:  0;
	padding: 0;
}

/* Style user photos inside comments */
.comment_text .user_photo {	
	float: left; 
	margin: 4px 10px 4px 0;
}

/* Clear fix */
.comment_text .fc { clear: both; }

/* Restrict the width of the comments block to a set width */
.comments_block {
	float: none;
	/*font-size: .85em;*/
	/*width: 600px;*/
}

/* TODO: IS this used anymore ? *(/
.comments_block  .timestamp { 
	/*font-size: 1em;*/ 
	font-family: Courier New, Monospace;
}

/* TODO: Is .subject even used anymore? */
.comments_box .subject { display: none }

/* Style the comments block in the post as a whole */
.comment_text_wrap {
	padding: 8px 0;
	border-bottom: 1px solid #c7cddf;
	border-top: 1px solid white;
	padding-right: 10px;
}

/* Add a small spacing to bottom of comments list */
.replies_container {
	margin-bottom: 10px;
}

/* Style all links and actions list */
/*.postlist .actions a,*/
.postlist a {
	color: #364a90;
	text-decoration: none;
}

.postlist a:hover {
	text-decoration: underline;
}


.postlist .posted_by .by,
.postlist .posted_by .timestamp,
.postlist .actions,
.postlist .actions a {
	color: #768ad3;
}

.postlist .comment_text .posted_by .by,
.postlist .comment_text .posted_by .timestamp,
.postlist .comment_text .actions,
.postlist .comment_text .actions a {
	color: #6272ac;
}


/* Apply border to bottom of the post actions list, but not the comments inside the post */
.postlist .post_actions {
	margin-bottom: 10px;
}

/* When user clicks top "load more" icon, this  shows a checkmark icon when loading done */
.current_nums i.loaded
{
	background: url(%%appcore%%/mods/ThemePHC/images/icon-list.png) no-repeat 0px -155px;
	padding-left: 16px;
	display: none;
}

/* Margin at bottom of post text and comment text paragraphs */
.comment_text p, .post_text p { 
	margin: 0 0 10 0;
	font-size: inherit !important;
	text-indent: 0em; 
}

/* Indent paragraphs (all but the first p) */
.comment_text p + p, 
.post_text    p + p {
	text-indent: 0em;
}

/* Nice pretty border on left of block quotes */
.post_text blockquote,
.comment_text blockquote { 
	margin-left: 3em;
	border-left: 2px solid #c7cddf;
	padding-left: 1em;
	width: 75%; 
}

/* Fix <pre> font sizes.. */
.post_text pre,
.comment_text pre
{
	font-size: 11px;
}

/*h1.page_title {
	text-align: center;
}*/

/* "Growler" Styling */
#purr-container {
	position: fixed;
	bottom: 0;
	left: 0;
}

.notice {
	position: relative;
	width: 324px;
}

.notice .close	{position: absolute; top: 12px; right: 12px; display: block; width: 18px; height: 17px; text-indent: -9999px; background: url(%%modpath%%/images/purr/purrClose.png) no-repeat 0 10px;}

.notice-body {
	min-height: 50px;
	padding: 22px 22px 0 22px;
	background: url(%%modpath%%/images/purr/purrTop.png) no-repeat left top;
	color: #f9f9f9;
}
.notice-body img	{width: 50px; margin: 0 10px 0 0; float: left;}
.notice-body h3		{margin: 0; font-size: 1.1em;}
.notice-body p		
{
	margin: 5px 0 0 60px; 
	/*font-size: 0.8em;*/ 
	line-height: 1.4em;
	
	/*font-size: 14px;*/
	font-size: 1.2em;
	color: white;
	font-weight: bold;
}
.notice-body p a {
	font-size: 1em;
	color: #ccd6fd;
	font-weight: bold;
	text-decoration: underline;
}


.notice-bottom {
	height: 22px;
	background: url(%%modpath%%/images/purr/purrBottom.png) no-repeat left top;
}


/* post.tmpl links just below the header */
.other_links
{
	/*text-align: center;*/
	/*background: rgb(230,230,230);*/
	padding: 3px 0 9px;
	margin-bottom: .95em;
	font-size: .909em;
	border-bottom: 1px solid rgb(230,230,230);
}

.other_links a
{
	color: rgb(100,100,100);
}
