.editform
{
	padding: 1em;
	background:rgb(220,220,220);
	-moz-border-radius: 4px;
	border:rgb(220,220,220);
	/*margin-bottom:.5em;*/
}

.editform td
{
	padding: .1em;
	color: rgb(80,80,80);
	text-shadow: #fff 0px 0px 3px;
	/*font-weight: bold;*/
}

.editform td.controls
{
	padding-top: 1em;
	text-align: center;
}

.editform .textinput,
.editform .text,
.editform input[type="text"]
{
	border: 1px solid rgb(80,80,80);
	/*-moz-border-radius: 3px;*/
	background: white;
	color: black;
	padding: 1 2 1 2 ;
	text-shadow: none;
	-moz-box-shadow: 0px 0px 3px #000;
	box-shadow: 0 0 3px #000;
}

.editform .textinput:focus,
.editform .text:focus,
.editform input[type="text"]:focus
{
	background: #fff67c;
	border: 1px solid #8e8500; 
	-moz-box-shadow: 0px 0px 5px #5a5400;
	box-shadow: 0 0 5px #5a5400;
}

div.editform-controls
{
	/*border: 1px solid red;*/
	margin-top: .2em;
	padding: 1em;
	text-align: center;
	background:rgb(220,220,220);
	-moz-border-radius: 4px;
	/*border:rgb(220,220,220);*/
}

.editform td .hint
{
	display: block;
	margin-top: .25em;
}
