html {
        margin:0;
        padding:0;
}

/* Reset body and table cell font size */
body, td { font-size: 68.75% }

body
{
        /*font-family: Calibri, Verdana, Sans-Serif;*/
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        /*font-size: 11px;*/
        /*font-size: 62.5%;*/

        margin: 0;
        padding: 0;
        background: rgb(100,100,100);
}

h1, h2, h3, h4, h5, h6, h7, p, form, ul, ol, li, blockquote { /* resets most browser styles to enhance cross-browser compatibility */
        margin: 0;
        padding: 0;
}

/*
body, td
{
	font-family: Calibri, Verdana, Sans-Serif;
	font-size: 11px;
	
}

body
{
	margin: 0;
	padding: 0;
	background: rgb(100,100,100);
}
*/
#header
{
	background-image: url("%%modpath%%/images/header-bluebg2.jpg");
	width: 100%;
	
	height: 325px;
}

#header #header-shadow
{
	background-image: url("%%modpath%%/images/header-shadow2.png");
	background-repeat: repeat-x;
	width: 100%;
	background-position: 0px 145px;
	height: 325px;
}

#mainlogo-floater
{
	width: 100%;
	position: absolute;
	z-index: 500;
}

#mainlogo-wrap
{
	width: 965px;
	margin: 0 auto;
	position: relative;	
}

#mainlogo
{
	/*margin-top: -80px;
	margin-bottom: -50px;*/
	/*margin-top: -47px;
	margin-left: -118px;
	*/
	top: -70px;
	left: -120px;
	position: absolute;
	
}

#build-lnk
{
	position: absolute;
	top: 118;
	left: 423;
}



#mainlogo-wrap a:focus, 
#mainlogo-wrap a:active
{
	outline: 0;
}

#graphicblock-wrap
{
	position: absolute;
	
	top: 0;
	left: 0;
	
	z-index: 100;
	
	width: 100%;
	
}

#graphicblock
{
	background-image: url("%%modpath%%/images/graphic_box_bg_sm.png");
	background-repeat: no-repeat;
	
	width: 940px;
	height: 324px;
	padding: 22px 25px;
	
	margin: 183px auto 0;
	
	/*border: 1px solid red;*/
}

#graphicblock-bg
{
	width: 728px;
	height: 322px;
	
	/*background-image: url("%%modpath%%/images/graphicbg.jpg");*/
	background-repeat: no-repeat;

}

.bluebg
{
	width: 728px;
	height: 322px;
	
	background-image: url("%%modpath%%/images/graphicbg.jpg");
	background-repeat: no-repeat;

}


#graphic-wrap
{
	width: 727px;
	height: 322px;
	
	overflow: hidden;
	position: relative;
	
	float: left;
	margin-left: 13px;
}

#graphic-wrap iframe.vimeo-video
{
	width: 400px;
	height: 300px;
	margin: 11px auto;
	border: 1px solid black;
}

#graphic-wrap .block-item
{
	/*background: red;
	border: 1px solid blue;*/
	width: 728px;
	height: 322px;
	position: absolute;
	top: 322;
	left: 0;
	/*display: none;*/
}

/* Make curley quotes more "curley" by using a serifed font */
.ldquo, .rdquo
{
	font-family: Constantia, Times Roman, Serif;
}

.videos-watch-more 
{
	float: right;
	padding-right: 35px;
	padding-top: 140px;
	margin-left: -135px;
}

.ask-pastor 
{
	float: left;
	padding-left: 35px;
	padding-top: 140px;
	margin-right: -135px;
	display: none;
}

.videos-watch-more a, 
.ask-pastor a
{
	color: white;
	text-shadow: rgb(8,8,8) 0px 0px 8px;
	text-decoration: none;
	font-size: 16px;
}


.block-item h3
{
	margin: 4em;
}

#graphic-floater
{
	width: 100%;
	position: absolute;
	z-index: 300;
	top: 205;
	left: 0;
}

#graphic-centerer
{
	width: 965px;
	margin: 0 auto;
	
	z-index: 800;
}


#block-timer
{
	width: 0;
	height: 3px;
	
	border: 1px solid black;
	opacity: .95;
	background: url("%%modpath%%/images/w40.png");
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	position: absolute;
	top: 311;
	left: 660;
	z-index: 500;
	
}

#block-time-nbr
{
	top: 306;
	left: 714;
	width: 10px;
	height: 1em;	
	
	opacity: .85;
	background: url("%%modpath%%/images/w40.png");
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: auto auto;
	font-weight: bold;
	padding: 1 0 3;
	text-align: center;
	font-size: 8px;
	
	position: absolute;
	z-index: 555;
	
	overflow: hidden;
	
	color: rgb(30,30,30);
	
	border: 1px solid black;
	
	
}

#photo-wrap
{
	position:relative;
}
#photo-cap-wrap
{
	position: absolute;
	top: 269px;
	width: 728px;
	height: auto;
}

#photo-cap
{
	width: 400px;
	/*background: rgb(200,200,200);*/
	opacity: .85;
	background: url("%%modpath%%/images/w40.png");
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: auto auto;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	font-size: 1.2em;
}

#photo-nav-wrap
{
	position: absolute;
	width: 728px;
	top: 301px;
	height: auto;
	text-align: center;
	/*color: white;*/
}

#photo-nav
{
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: .85;
	background: url("%%modpath%%/images/w40.png");
	color: black;
	padding: 4px;
}

#photo-nav a
{
	font-weight: bold;
	padding: 0 10px;
	text-decoration: none;
	color: black;
	outline: 0;
}

#photo-nav a:active, #photo-nav a:focus
{
	outline: 0;
}

#photo-nav a.current
{
	color: #e7ff30;
	background: black;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#sidebar
{
	float: left;
	
	background-image: url("%%modpath%%/images/sidebar.jpg");
	background-repeat: no-repeat;
	
	height: 322px;
	width: 210px;
	
	
	
}

#sidebar .sidebar-link-block
{
	display: block;
}

#sidebar .sidebar-link-block a
{
	display: block;
	width: 210px;
	height: 56px;
	text-align: center;
	color: white;
	text-decoration: none;
	padding-top: 24px;
	font-size: 14px;
	
	text-shadow: rgb(8,8,8) 1px 1px 1px;
	outline: 0;

}


#sidebar .sidebar-link-block a:hover,
#sidebar .sidebar-link-block a:active,
#sidebar .sidebar-link-block a:focus
{
	color: #f3ff99;
}


#sidebar .sidebar-link-block a.current
{
	color: #e7ff30;
}

#sidebar .sidebar-link-block a .title
{
	font-weight: bold;
}

#sidebar .sidebar-link-block a .subtitle
{
	font-weight: normal;
	font-size: 12px;
}

.bodywrap
{
	width: 100%;
	background-image: url("%%modpath%%/images/content-bg.jpg");
	background-repeat: repeat-x;
	background-color: white;
	
	height: 100px;
	
	padding-top: 180px;
}

.bodycontent
{
	width: 965px;
	margin: 0 auto;
	font-size: 1.5em;
}

#footer
{
	background-image: url("%%modpath%%/images/footer-shadow2.png");
	background-repeat: repeat-x;
	height: 180px;
	width: 100%;
}

#footercontent
{
	padding: 1em 0 1em 0;
	width: 965px;
	margin: 0 auto;
	/*font-size: 1.5em;*/
}

#footercontent a
{
	color: white; 
}



/********************* */

.block-item h1
{
	color: white;
	text-shadow: rgb(8,8,8) 0px 0px 8px;
}

.event_list a
{
	text-decoration: none;
	
}

.event_list li {
	position: relative;
}

.event_list h5
{
	background: url("%%modpath%%/images/calendar_background.jpg") no-repeat scroll 0 0 transparent;
	color: #A09F9F;
	display: block;
	/*float: left;*/
	font-size: 1.4em;
	height: 41px;
	margin: 0 15px 0px 10px;
	padding: 2px 0 0;
	text-align: center;
	width: 41px;
	
	position: absolute;
}	

.event_list h5 strong
{
	color: #FFFFFF;
	display: block;
	font-size: 0.6em;
	text-transform: uppercase;
}

.event_list h3.event-title
{
	color: black;
	padding: 2px 35px 2px 0px;
	margin: 0;
	width: 90%;
	height: 1.25em;
	overflow: hidden;
	
	margin-left: 51px;
}

.event_list p
{
	color: #6C6C6C;
	padding: 0 35px 0px 10px;
	margin-top: -5px;
	margin: 0;
	
	margin-left: 41px;
}

.event_list ul
{
	margin: 0;
	padding: 0;
}

.event_list li
{
	background-color: #FFFFFF;
	/*background: red;*/
	border-bottom: 1px dotted black;
	font-size: 1.5em;
	list-style-type: none;
	text-align: left;
	padding-bottom: 10px;
	margin-top: 10px;
}

.event_list 
{
	background: white;
	padding: 5px 0 0 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 10px;
}

.event_list .readmore a 
{
	text-align: center;
	display: block;
	width: 100%;
	padding: .5em;
}


.event_list a:active,
.event_list a:focus
{
	outline: none;
}

.readmore a span
{
	font-weight: bold;
	font-size: 1em;
	color: black;
	text-decoration: none;
	/*border-bottom: 1px solid blue;*/
}

#graphic-wrap .block-item h1
{
	margin: 1em 0 .75em;
}