/* Styling for the navblock */
#navblock
{
	background-image: url("/appcore/mods/ThemePHC/images/bg_repeat_top.jpg");
	background-repeat: repeat-x;
	height: 49px;
	width: 100%;
	
}

/* Raise the menu above the background and any images that may overlap */
#header-wrap 
{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 600;
	/*display: none;*/
	padding-top: 3px;
}

/* Center the content in the wrap */
#header-content
{
	width: 990px;
	margin: 0 auto;
}


#header-content input
{
	/*display: block;*/
	/*float: left;*/
	/*margin-top: -5px;*/
	
	
}

ul#mainnav
{
	background: white;
	list-style: none;
	padding:0;
	margin:0;
}

/* Mainmenu list item */
ul#mainnav li 
{
	display: block;
	float: left;
	/* Need releative position inorder to position submenu dropdowns correctly */
	position: relative;
}

/* Main menu item */
ul#mainnav li a
{
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	padding: 10px 30px 5px 30px; 
	text-shadow: rgb(8,8,8) 1px 1px 1px;
	font-weight: bold;
	 
}


/* Submenu base element */
ul#mainnav li ul
{
	list-style: none;
	
	display: none;
	position: absolute;
	
	top: 1.5em;
	left: 19px;
	width: 15em;
	
	background-image: url("/appcore/mods/ThemePHC/images/header-bluebg.jpg");
	/*background: rgb(80,80,80);*/
	border: 1px solid black;
	
	margin: 0;
	padding: 0;
	 
	-moz-border-radius: 2px;
	-moz-box-shadow: 0px 0px 4px #000;
}

/* Submenu item li elm */
ul#mainnav li ul li
{
	display: block;
	float: none;
	
	/* borders for the gray bg */
	/*border-bottom: 1px solid rgb(30,30,30);*/
	/*border-top: 1px solid rgb(130,130,130);*/
	
	/* borders for the blue bg */
	border-bottom: 1px solid #1c2956; 
	border-top: 1px solid #314795 /*#4563d1*/;
	
}

/* Submenu item normal style - padding and text shadow */
ul#mainnav li ul li a
{
	display: block;
	float: none;
	
	/* Padding here instead of the 'li' to make a larger hit target */
	padding: 5px 10px 5px 10px;
	text-shadow: rgb(8,8,8) 0px 0px 3px;
}

/* Change submenu item's border colors and bg on hover */
ul#mainnav li ul li:hover
{
	border-bottom: 1px solid #2f120d;
	border-top: 1px solid #e1563d;
	
	/* Use the orange color from the logo, white text can stay white */
	background: #c14934;
}

/* If decide to not use the orange bg, this styling will change the font to white with black dropshadow */
ul#mainnav li ul li:hover a
{
	/* White bg/blac text */
	/*background-image: url("http://www.mypleasanthillchurch.org/images/nav-bg-w625.png");
	color: black;
	text-shadow: rgb(255,255,255) 0px 0px 3px;*/
}

/* Show the dropdown on hover on main menu */
ul#mainnav li:hover ul 
{
	display:block;
}
/*ul#mainnav li:hover
{
	background-image: url("http://www.mypleasanthillchurch.org/images/nav-bg-w625.png") !important;
}

ul#mainnav li:hover ul li
{
	background-image: none !important;
}

*/

#header-content table
{
	margin-top: 6px;
}

#header-content form
{
	display: inline;
}

#header-content table td
{
	font-size: 11px;
	/*
	line-height: 17px;*/
}