/* Styling for the navblock */
#navblock
{
	background-image: url("/appcore/mods/ThemePHC/images/bg_repeat_top.jpg");
	background-repeat: repeat-x;
	height: 49px;
	width: 100%;
}

/*#navblock * { font-size: 100% }*/

/* Raise the menu above the background and any images that may overlap */
#header-wrap 
{
	width: 100%;
	position: absolute;
	/*top: 20px;*/
	top: 0;
	left: 0;
	z-index: 600;
	/*display: none;*/
	padding-top: 3px;
}

/* Center the content in the wrap */
#header-content
{
	width: 990px;
	margin: 0 auto;
}


#header-content input
{
	/*display: block;*/
	/*float: left;*/
	/*margin-top: -5px;*/
	
	
}

ul#mainnav
{
	background: white;
	list-style: none;
	padding:0;
	margin:0;
}

/* Mainmenu list item */
ul#mainnav li 
{
	display: block;
	float: left;
	/* Need releative position inorder to position submenu dropdowns correctly */
	position: relative;
}

/* Main menu item */
ul#mainnav li a
{
	color: white;
	/*font-size: 1.2em;*/
	font-size: 100%;
	text-decoration: none;
	padding: 10px 25px 5px 25px; 
	text-shadow: rgb(8,8,8) 1px 1px 1px;
	font-weight: bold;
	outline: 0;
}

ul#mainnav li a:hover,
h2#mobile-link a:hover
{
	/*color: #f3ff99;*/
	/*color: #c14934;*/
	/*color: #c19891;*/
	color: #fb7058; 
}

ul#mainnav li a:active,
ul#mainnav li a:focus
{
	color: #fba495; 
}


/* Submenu base element */
ul#mainnav li ul
{
	list-style: none;
	
	display: none;
	position: absolute;
	
	top: 1.5em;
	left: 19px;
	width: 15em;
	
	background-image: url("/appcore/mods/ThemePHC/images/header-bluebg.jpg");
	/*background: rgb(80,80,80);*/
	border: 1px solid black;
	
	margin: 0;
	padding: 0;
	 
	-moz-border-radius: 2px;
	-moz-box-shadow: 0px 0px 4px #000;

	border-radius: 2px;
	box-shadow: 0 0 4px #000;
}

/* Submenu item li elm */
ul#mainnav li ul li
{
	display: block;
	float: none;
	
	/* borders for the gray bg */
	/*border-bottom: 1px solid rgb(30,30,30);*/
	/*border-top: 1px solid rgb(130,130,130);*/
	
	/* borders for the blue bg */
	border-bottom: 1px solid #1c2956; 
	border-top: 1px solid #314795 /*#4563d1*/;
	
}

/* Submenu item normal style - padding and text shadow */
ul#mainnav li ul li a
{
	display: block;
	float: none;
	
	/* Padding here instead of the 'li' to make a larger hit target */
	padding: 5px 10px 5px 10px;
	text-shadow: rgb(8,8,8) 0px 0px 3px;
	outline: 0;
}


ul#mainnav li ul li a:hover,
ul#mainnav li ul li a:active,
ul#mainnav li ul li a:focus
{
	color: white;
}


/* Change submenu item's border colors and bg on hover */
ul#mainnav li ul li:hover
{
	border-bottom: 1px solid #2f120d;
	border-top: 1px solid #e1563d;
	
	/* Use the orange color from the logo, white text can stay white */
	background: #c14934;
}

/* If decide to not use the orange bg, this styling will change the font to white with black dropshadow */
ul#mainnav li ul li:hover a
{
	/* White bg/blac text */
	/*background-image: url("http://www.mypleasanthillchurch.org/images/nav-bg-w625.png");
	color: black;
	text-shadow: rgb(255,255,255) 0px 0px 3px;*/
}

/* Show the dropdown on hover on main menu */
ul#mainnav li:hover ul.level2nav
{
	display:block;
}

ul#mainnav li ul li ul.level3nav { display: none; }
ul#mainnav li:hover ul li:hover ul.level3nav 
{
	display: block;
}

ul#mainnav li ul li ul.level3nav { width: auto !important; }

ul#mainnav li span.kid_flag {
	float:right;
	color:white;
	font-weight:bold;
	margin-top:5px;
	margin-right:10px;
}
/*ul#mainnav li:hover
{
	background-image: url("http://www.mypleasanthillchurch.org/images/nav-bg-w625.png") !important;
}

ul#mainnav li:hover ul li
{
	background-image: none !important;
}

*/

#header-content table
{
	margin-top: 6px;
}

#header-content form
{
	display: inline;
}

#header-content table td
{
	font-size: 11.5px;
	/*font-size: 104.545%;*/
	/*
	line-height: 17px;*/
}


.search 
{
    background-image: url("/appcore/mods/ThemePHC/images/search_bg.png");
    /*float: right;*/
    height: 12px;
    margin: 4px 0 0 30px;
    padding: 2px 0 4px 4px;
    width: 138px;
}

#top-searchbox 
{
    background: transparent;
    border: none;
    float: left;
    width: 135px;
    padding: 0 0 4px 0;
}


/* Link to mobile site */
h2#mobile-link
{
	display: block;
	position: absolute;
	top:0;
	left: 0;
	z-index: 700;
	
	margin:0;
	padding:0;
	border-bottom: 1px solid rgb(40,40,40);
	border-right: 1px solid rgb(40,40,40);
	/*-moz-border-radius-bottom-right: 3px;*/
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0 0 4px #000;
	
	/*width: 7.5em;*/ 
	height: 34px;
	width: 50px;
	text-align: center;
	padding: 8px 3px 0 3px;
	/*background: url(%%modpath%%/images/mobile/full_link_background.jpg) repeat-x;*/ 
	/*background-color: rgb(40,40,40);*/
	
}

h2#mobile-link a 
{
	width: 100%; 
	color: #fff; 
	text-align: center; 
	text-decoration: none; 
	font-size: 0.7em; 
	font-weight: 300; 
	height: 20px; 
	text-shadow: #000 0 0px 3px; 
	padding: 4px 0 0 0;
	/*margin-bottom: -2px;*/
	/*border-bottom: 1px solid black;*/
}


ul#mainnav li.nav-connect a
{
	/*color: yellow;*/
}

ul#mainnav li.nav-connect a span.icon
{
	background: url(%%appcore%%/mods/ThemePHC/images/icon-list.png) no-repeat -1px -141px;
	padding-left: 18px;
}
