
.nav_level2
{
	padding: 3;
	margin-bottom: 5px;
	/*font-size: .75em;*/
	color: rgb(100,100,100);
	background: rgb(230,230,230);
	/*text-shadow: rgb(200,200,200) 1px 1px 1px;*/
	text-shadow: #fff 1px 1px 1px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding-left: 5px;
	margin-top: -1.75em;
	-moz-box-shadow: 0px 0px 8px white;
	box-shadow: 0 0 8px white;
}

.nav_level2 td
{
	color: rgb(100,100,100);
}

.nav_level2 a 
{
	color: rgb(100,100,100);
}

.nav_level2 a:hover
{
	color: #364a90;
}

.nav_level2 .current
{
	font-weight: bold;
}

.nav_level2 .return
{
	float:right;
	/*margin-top: -1em;*/
}