
/* Table styling */
@import url("%%modpath%%/css/table.css");
/* Nav 2 (breadcrumbs) */
@import url("%%modpath%%/css/nav-level2.css");
/* Edit form style */
@import url("%%modpath%%/css/editform.css");

html {
	margin:0;
	padding:0;
}

/* Reset body and table cell font size */
body, td { font-size: 68.75% }

body
{
	/*font-family: Calibri, Verdana, Sans-Serif;*/
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	/*font-size: 11px;*/
	/*font-size: 62.5%;*/
	
	margin: 0;
	padding: 0;
	background: rgb(100,100,100);
}

h1, h2, h3, h4, h5, h6, h7, p, form, ul, ol, li, blockquote { /* resets most browser styles to enhance cross-browser compatibility */
	margin: 0;
	padding: 0;
}

#header
{
	background-image: url("%%modpath%%/images/header-bluebg2.jpg");
	width: 100%;
	
	height: 143px;
}

#header #header-shadow
{
	background-image: url("%%modpath%%/images/header-shadow2.png");
	background-repeat: repeat-x;
	/*background-attachment: fixed;*/ 
	/*height: 180px;*/
	/*margin-top: 25px;*/
	/*margin-bottom: -25px;*/
	/*height: 100%;*/
	background-position: 0 -37;
	width: 100%;
}


#mainlogo-wrap
{
	/*z-index: 500;
	position: absolute;*/
	
	width: 965px;
	margin: 0 auto;
	
}

#mainlogo
{
	margin-top: -70px;
	margin-left: -120px;
}

#mainlogo-wrap a:focus, 
#mainlogo-wrap a:active
{
	outline: 0;
}


.bodywrap
{
	width: 100%;
	background-repeat: repeat-x;
	background-color: white;
	
	min-height: 200px;
	
	/* Need this for IE */
	/*margin-top: -29px; */
	
	
	
}

.bodywrap h1
{
	margin-top: 0;
	margin-bottom: 15px;
}

.bodycontent
{
	width: 965px;
	margin: 0 auto;
	/*font-size: 1.5em;*/
	
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
}


.bodycontent h1, .bodycontent h2, .bodycontent h3, .bodycontent h4, .bodycontent h5, .bodycontent h6, .bodycontent h7, .bodycontent p, .bodycontent form, .bodycontent ul, .bodycontent ol, .bodycontent li, .bodycontent blockquote { 
/* resets most browser styles to enhance cross-browser compatibility */
	margin: default;
	padding: default;
}

.bodycontent ul
{
	margin: 1em 0 2em; 
}

.bodycontent li
{
	margin-left: 1.5em;
	margin-bottom: .75em;
}

.bodycontent ul li ul
{
	margin: 0em 0 1em 0; 
}

.bodycontent p,
.bodycontent li
{
	font-size: 110%;
}

.bodycontent p
{
	margin: .5em 0 .75em 0;
	text-indent: 2em;
}

.bodycontent p + p {
	/*text-indent: 0em;*/
	/*text-indent: 2em;*/
}

/* Nice pretty border on left of block quotes */
.bodycontent blockquote { 
	margin-left: 3em;
	border-left: 2px solid #c7cddf;
	padding-left: 1em;
	width: 75%; 
}

/* Fix <pre> font sizes.. */
.bodycontent pre {
	font-size: 11px;
}


span.year, span.date { font-weight: bold }


#footer
{
	background-image: url("%%modpath%%/images/footer-shadow2.png");
	background-repeat: repeat-x;
	height: 180px;
	width: 100%;
}


#footercontent
{
	padding: 1em 0 1em 0;
	width: 965px;
	margin: 0 auto;
	/*font-size: 1.5em;*/
}

#footercontent a
{
	color: white; 
}


/*img, a, div, input, span
{
	behavior: url("%%appcore%%/ie/iepngfix/iepngfix.htc"); 
}*/

td.nav-sibs-cell
{
	width:15em;
}

.nav-sibs
{
	/*background: rgb(220,220,220);*/
	-moz-border-radius: 4px;
	padding: .75em 1em;
	float: left;
		
	color: rgb(100,100,100);
	background: rgb(230,230,230);
	text-shadow: #fff 1px 1px 1px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	
	margin: .25em 1em 1em 0;
	
	width: 15em;
}

.nav-sibs ul, 
.nav-sibs li
{
	list-style: none;
	margin: 0;
	font-size: 110%;
	padding: .25em 0 .25em 0;
}



.nav-sibs a 
{
	color: rgb(100,100,100);
}

.nav-sibs a:hover
{
	color: #364a90;
}

.nav-sibs .current
{
	font-weight: bold;
}

.pagebody { 
	padding-right: 15em;
	font-size: 110%;
}

.pagebody h1
{
	/*margin: .25em 0 .25em 0;*/
	/*font-family: Georgia, Serif;
	text-transform: uppercase;*/
	/*font-size: 120%;*/
	/*background: #c7cddf;*/
	background: rgb(230,230,230);
	border-radius: 3px;
	-moz-border-radius: 3px;
	margin: .15em 0 .25em 0;
	padding: .25em 0 .25em .25em;
	/*text-shadow: white 0px 0px 8px;*/
	/*text-align: center;*/
	
}

.pagebody h3
{
	margin: 1em 0 .25em 0;
	/*font-family: Georgia, Serif;
	text-transform: uppercase;*/
	font-size: 120%;
	border-bottom: 1px solid #c7cddf; 
}

div.fc { clear:both }