/* Table styling */
@import url("%%modpath%%/css/table.css");
/* Nav 2 (breadcrumbs) */
@import url("%%modpath%%/css/nav-level2.css");
/* Edit form style */
@import url("%%modpath%%/css/editform.css");

/* Admin Template Styles */
body
{
	font-family: Calibri, Verdana, Sans-Serif;
	font-size: 11px;
	
}

body
{
	margin: 0;
	padding: 0;
	background: rgb(100,100,100);
}

#header
{
	background-image: url("%%modpath%%/images/header-bluebg.jpg");
	width: 100%;
	
	height: 47px;
}

#header #header-shadow
{
	background-image: url("%%modpath%%/images/header-shadow.png");
	background-repeat: repeat-x;
	/*background-attachment: fixed;*/ 
	/*height: 180px;*/
	/*margin-top: 25px;*/
	/*margin-bottom: -25px;*/
	/*height: 100%;*/
	background-position: 0 -133;
	width: 100%;
}


#mainlogo-wrap
{
	/*z-index: 500;
	position: absolute;*/
	
	width: 965px;
	margin: 0 auto;
	
	font-size:38px;
	
	padding-bottom: 2px;
	
	text-shadow: rgb(8,8,8) 2px 2px 2px;
	color: rgb(100,100,100);
	
}

#mainlogo-wrap a
{
	color:white;
	text-decoration: none;
	font-weight: bold;
}

#mainlogo
{
	margin-top: -111px;
	margin-left: -175px;
	/*margin-bottom: -50px;*/
	/*padding-left: 100px;*/
}


.bodywrap
{
	width: 100%;
	background-repeat: repeat-x;
	background-color: white;
	
	min-height: 400px;
	
	
	
}

.bodywrap h1
{
	margin-top: 0;
	margin-bottom: 15px;
}

.bodycontent
{
	width: 965px;
	margin: 0 auto;
	font-size: 1.5em;
	
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

#footer
{
	background-image: url("%%modpath%%/images/footer-shadow.png");
	background-repeat: repeat-x;
	height: 180px;
	width: 100%;
}


/* Customizations for the jQuery UI Tabs widget */

/* Change padding on content area */
.ui-tabs .ui-tabs-panel 
{
	padding: .2em 0 0 0;
}
/* No outline on the tab - it looks ugly! */
.ui-tabs-nav a:active,
.ui-tabs-nav a:focus
{
	outline:0 !important;
}
/* Cursor shouldn't be text on non-clickable tab - just a arrow will do */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a 
{
	cursor: default !important;
}
/* Match our edit form table border to tab nav border */
.ui-tabs .editform
{
	border: 1px solid #AAAAAA;
	/*background: #cccccc;*/
}
