<html>
<head>
	<title>Bryan Blogs</title>
	<a:cssx src="%%modpath%%/css/frontpage.css"/>
</head>

<body>

<div id='header'>
	<div id='header-shadow'>
		<h1>Bryan Blogs</h1>
	</div>
</div>

<!--<_tmpl_include main-nav.inc.tmpl>-->

<div id='bodywrap'>
	<div id='bodycontent'>
		
		%%page_content%%
		
		<tmpl_include user-footer.inc.tmpl>
	</div>

</div>

<div id='footer'>
	
</div>



</body>
</frontpage>