<script src='%%appcore%%/ckeditor/ckeditor.js' index='0'></script>
<title><tmpl_if pageid>Edit &quot;<tmpl_var page_title>&quot;<tmpl_else>Create New Page</tmpl_if></title>
<h1><tmpl_if pageid>Edit &quot;<tmpl_var page_title>&quot;<tmpl_else>Create New Page</tmpl_if></h1>

<form action='%%binpath%%/save' method=POST name=content >
	
	<input type=hidden name=pageid value="<tmpl_var pageid>">
	<input type=hidden name=url_from value="<tmpl_var url_from>">
	<script>function $x(e){return document.getElementById(e)}</script>
	<script>
	$(function() {
		$( "#tabs" ).tabs();
		
		var type_list =$x('typeid');
		var type_hint =$x('type_hint');
		if(type_list)
		{
			var opt = type_list.options[type_list.selectedIndex];
			if(opt)
			{
				var hint = opt.getAttribute("hint");
				if(type_hint)
					type_hint.innerHTML = hint;
					
				var uses_content = opt.getAttribute("x:usescontent") == "1";
				if(!uses_content)
				{
					$("#tabs").tabs('select',2);
					$("#tabs").tabs({disabled: [0,1]});
				}
			}
		}
	});
	</script>
	
	<table class='editform' width='100%'>
		<tr>
			<td>Address:</td> <td>
				%%server_name%%/<tmpl_if pageid><a href='%%page_url%%' id='edit_url'><b><span id='url_text'>%%page_url%%</span><img src='%%appcore%%/images/silk/page_edit.png' align=absmiddle border=0></b></a></tmpl_if><input type=text name=url id=url onfocus='select()' value='<tmpl_if page_url><tmpl_var page_url escape=html></tmpl_if>' size=40 <tmpl_if pageid>style='display:none'</tmpl_if>>
				<!--<span style='font-size:.85em;color:rgb(100,100,100)'>(Will <b>NOT</b> be displayed)</span>-->
			</td>
		</tr>
		<tr>
			<td>Page Title:</td> <td>
				<input type=text name=title id=title onfocus='select()' value='<tmpl_if page_title><tmpl_var page_title escape=html><tmpl_else><tmpl_var page_url></tmpl_if>' size=65> 
				<!--<span style='font-size:.85em;color:rgb(100,100,100)'>(Will <b>NOT</b> be displayed)</span>-->
				<script>var e= $x('title');if(e)e.focus()</script>
			</td>
		</tr>
		
		<tr>
			<td>ACL:</td> <td>
				<input type=text name=acl id=acl onfocus='select()' value='%%page_acl%%' size=65> 
			</td>
		</tr>
		<tr>
			<td valign='top'>Redirect To:</td> <td>
				<!--%%server_name%%/<input type=text name=url id=url onfocus='select()' value='<tmpl_if redirect_url><tmpl_var redirect_url escape=html></tmpl_if>' size=40>-->
				<select name='redirect_url'>
					<option value=''>(Use Content Below)</option>
					
					<tmpl_loop redir_list>
						<option value='%%value%%'>%%value%% - %%text%%</option>
					</tmpl_loop>
				</select>
				<br>
				<span style='font-size:.85em;color:rgb(100,100,100)'>(If you specify a page here, the content below will not be shown at all.)</span>
			</td>
		</tr>
	</table>
	
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Edit Page Content</a></li>
			<li><a href="#tabs-2">Mobile Content</a></li>
			<li><a href="#tabs-3">Advanced Options</a></li>
		</ul>
		<div id="tabs-1">
			<table class='editform' width='100%'>
				<tr>
					<td colspan=2>
						<textarea name=content id=body_value rows=20 cols=95 style='width:96%'><tmpl_if page_content><tmpl_var page_content></tmpl_if></textarea>
						
						<script>
						CKEDITOR.replace( 'body_value', {
							disableNativeSpellChecker: false,
							//skin: 'v2'
						});
						</script>
		
						
					</td>
				</tr>
			</table>
		</div>
		
		<div id="tabs-2">
			<table class='editform' width='100%'>
				<tr>
					<td valign=top>Alternative Mobile URL:</td> <td>
						<!--%%server_name%%/--><input type=text name=mobile_alt_url id=page_mobile_alt_url onfocus='select()' value='<tmpl_if page_url><tmpl_var page_mobile_alt_url escape=html></tmpl_if>' size=40>
						<br> 
						<span style='font-size:.85em;color:rgb(100,100,100)'>In this field you can specify a different page that should be used if the user is accessing with a mobile browser such as a cellphone. <b>If you give a URL here,</b> the content below will <b>not be used!</b> Leave this field blank to use the content below.</span>
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<textarea name=mobile_content id=body_value2 rows=20 cols=95 style='width:96%'><tmpl_if page_mobile_content><tmpl_var page_mobile_content></tmpl_if></textarea>
						
						<script>
						CKEDITOR.replace( 'body_value2', {
							disableNativeSpellChecker: false,		
							//skin: 'v2'
						});
						</script>
		
						
					</td>
				</tr>
			</table>
		</div>
		
		<div id='tabs-3'>
			<table class='editform' width='100%'>
				
				<tr>
					<td>Theme:</td> <td>
						<select id='themeid' name='themeid' onchange='$x("theme_hint").innerHTML=this.options[this.selectedIndex].getAttribute("hint")'>
							<tmpl_loop themes>
								<option value='%%value%%' x:img='%%image%%' hint='%%hint%%' <tmpl_if selected>selected</tmpl_if>>%%text%%</option>
							</tmpl_loop>
						</select>
						<span class=hint id='theme_hint'></span>
						<script>
							(function(){
								var theme_list =$x('themeid');
								var theme_hint =$x('theme_hint');
								if(theme_list)
								{
									var opt = theme_list.options[theme_list.selectedIndex];
									var hint = opt ? opt.getAttribute("hint"): "";
									if(theme_hint)
										theme_hint.innerHTML = hint;
								}
							})();
						</script>
					</td>
				</tr>
				<tr>
					<td>View Code:</td> <td>
						<select name='view_code'>
							<tmpl_loop view_codes>
								<option value='%%value%%' x:img='%%image%%' hint='%%hint%%' <tmpl_if selected>selected</tmpl_if>>%%text%%</option>
							</tmpl_loop>
						</select>
						<span class=hint id='vc_hint'></span>
					</td>
				</tr>
				<tr>
					<td valign=top>Page Type:</td> <td>
						<select id='typeid' name='typeid' onchange='updateTypeHint(this)' onkeyup='updateTypeHint(this)'>
							<tmpl_loop page_types>
								<option value='%%value%%' x:img='%%image%%' x:usescontent="%%uses_content%%" hint='%%hint%%' fields='%%custom_fields%%' <tmpl_if selected>selected</tmpl_if>>%%text%%</option>
							</tmpl_loop>
						</select>
						<span class=hint id='type_hint'></span>
						<script>
// 							$("#tabs").tabs('select',2);
// 							$("#tabs").tabs({disabled: [0,1]});
							function updateTypeHint(elm)
							{
								var opt = elm.options[elm.selectedIndex];
								$x("type_hint").innerHTML = opt.getAttribute("hint");
								
								var uses_content = opt.getAttribute("x:usescontent") == "1";
								if(!uses_content)
								{
									$("#tabs").tabs('select',2);
									$("#tabs").tabs({disabled: [0,1]}); 
								}
								else
								{
									$("#tabs").tabs('select',2);
									$("#tabs").tabs("option", "disabled", false);
								}
								
								var fieldsBlock = $("#page_type_fields");
								var fieldsTypeid = fieldsBlock.get(0).getAttribute('typeid');
								//alert(fieldsTypeid+','+opt.value);
								if(fieldsTypeid == opt.value)
									fieldsBlock.show();
								else
									fieldsBlock.hide();
							}
						</script>
						<div id='page_type_fields' typeid='%%typeid%%'>
							<tmpl_if page_type_fields>
								<hr size=1>
								<h3>Options Specific to %%typeid_name%%</h3>
								<table border=0>
									<tmpl_loop page_type_fields>
										<tr>
											<tmpl_if type_bool>
												<td>&nbsp;</td>
												<td valign=middle>
													<input type=checkbox class=checkbox name=opt_%%field%% value=1 <tmpl_if value>checked</tmpl_if> id=opt_%%field%%>
													<label for=opt_%%field%%> <b>%%title%%</b></label>
												
											<tmpl_else>	
												<td valign=top><b>%%title%%</b>:</td><td></td>
												</tr><tr> 
												<td valign=top colspan=2>
													<tmpl_if type_int>
														<input type=text class=num name=opt_%%field%% value='%%value%%' size=10>
													<tmpl_else>
														<input type=text class=textinput name=opt_%%field%% id=opt_%%field%% onfocus='select()' value="<tmpl_var value escape=html>" size=50>
													</tmpl_if>
											</tmpl_if>
												
												<tmpl_if hint>
													<div class=hint>%%hint%%</div>
												</tmpl_if>
											</td>
										</tr>
									</tmpl_loop>
								</table>
							</tmpl_if>
						</div>
					</td>
				</tr>
			
			</table>
		</div>

	</div>
	
			
	<div class='editform-controls'>
		<input type=submit value="Save Changes"> 
		<input type=reset value="Reset to Original Values">
	</div>
</form>

<script>
var editUrlLock = false;
$(function()
{
	var loaderGif = '${CDN:%%appcore%%/mods/ThemePHC/images/fb-ajax-loader.gif}';
	$("#edit_url").live("click", function()
	{
		if(editUrlLock)
			return;
		editUrlLock = true;
		
		var	th	= $(this),
			url 	= th.attr('href'),
			newUrl	= prompt("Use the field below to change the page address:", url),
			doneFunc= function(data)
			{
				th.children('img').attr('src','${CDN:%%appcore%%/images/silk/page_edit.png}');
				
				// Remove busy cursor
				$("body").css("cursor", "auto");
				
				th.attr('href',newUrl);
				$("#url_text").html(newUrl);
				
				$("#url").attr('value',newUrl);
			};
		
		if(newUrl != undefined)
		{
			$("body").css("cursor", "progress");
			
			th.children("img").attr('src',loaderGif);
			
			$.ajax({
				type: "POST",
				url: "%%binpath%%/change_url",
				data:
				{
					output_fmt: "json",
					pageid: <tmpl_if pageid>%%pageid%%<tmpl_else>-1</tmpl_if>,
					url: newUrl,
				},
				success: doneFunc,
				error: doneFunc,
			});
		}
		
		setTimeout(function(){editUrlLock = false},500);
		
		return false;
	});
});

</script>
