<title>Page List - Admin</title>
<link href="%%modpath%%/css/admin-list.css" rel="stylesheet" type="text/css" />
<script>window._binpath = '%%binpath%%'</script>
<script src='%%modpath%%/js/admin-list.js'></script>

<h1>Page List</h1>


<a href='%%binpath%%/create' class='button btn-default btn'>Add a new page...</a>

<table class='pretty table table-hover table-striped'>
	<thead>
		<th>Actions</th>
		<th>Order</th>
		<th>URL</th>
		<th>In Menus?</th>
		<th>Title</th>
		<th>Type</th>
	</thead>
	<tbody>
		<tmpl_loop pages>
		<tr>
			<td class='util'>
				<a href='%%url%%'>Visit</a> | <a href='%%binpath%%/edit?url=%%url%%'>Edit</a> | <a href='%%binpath%%/delete?url=%%url%%' onclick="return confirm('Are you SURE you want to delete %%url%%? This can\'t be undone!')">Delete</a>
			</td>
			<td><div class='idx_acts'><a href='%%binpath%%/change_idx?url=%%url%%&dir=up' onclick='add_scrolltop(this)'>&#8593;</a><a href='%%binpath%%/change_idx?url=%%url%%&dir=down' onclick='add_scrolltop(this)'>&#8595;</a></div>
				<!--%%menu_index%%</td>-->
				<tmpl_if menu_index_pre>
					<span class=menu_index_pre>%%menu_index_pre%%.</span>
				</tmpl_if>
				<input class='menu_index_cur'
					value='%%menu_index_cur%%'
					orig_value='%%menu_index_cur%%'
					pageid='%%pageid%%'
					onblur='change_index(this)'
					onkeypress='check_enter2(event,this)'
					onfocus='select()'>
				</td>
			<td><tmpl_if url>%%url_pretty%%<tmpl_else><i>(Home Page)</i></tmpl_if></td>
			<td><div class='menu_switch'><a page_url='%%url%%' onclick='return update_sw(this)' class='<tmpl_if show_in_menus>sw1<tmpl_else>sw0</tmpl_if>' href='%%binpath%%/set_in_menus?url=%%url%%&amp;flag=<tmpl_if show_in_menus>0<tmpl_else>1</tmpl_if>'><span>%%in_menus%%</span></a></div></td>
			<td>
				<img src='%%modpath%%/images/ajax-loader-balls-xparent.gif' class='loader' id='loader%%pageid%%'>
				<input class='page_title' type='text' tabindex='%%tab_idx%%' pageid='%%pageid%%' value='<tmpl_var title escape=html>' orig_value='%%title%%' onblur='save_title(this)' onkeypress='check_enter(event,this)'></td>
			<td class='page-type page-type-%%page_type_class%%'><tmpl_if page_type_name>%%page_type_name%%<tmpl_else>Static Page</tmpl_if></td>
		</tr>
		</tmpl_loop>
	</tbody>
</table>

<style>

.page-type  { text-align:center }
.page-type-content_page_controller
{
	color: rgb(80,80,80);
	font-size: 10px;
}

.page-type-boards
{
	color: #364a90;
	/*font-size: 10px;*/
}

.page-type-content_page_controller
{
	color: rgb(80,80,80);
	font-size: 10px;
}

</style>

<!--<img id='switch_img' style='display:none'/>-->

<tmpl_if st>
<script>
function doScroll() { document.body.scrollTop = <tmpl_var st>; } 
if(typeof($) == 'function')
	$(document).ready(doScroll);
else
	setTimeout(doScroll, 100);
</script>
</tmpl_if>
