<title>Page List - Admin</title>
<h1>Page List</h1>

<style>
.menu_switch
{
	/*margin:6px;*/
	width: 41px;
	margin: 0 auto;
}

.menu_switch a
{
	display: block;
	height: 15px;
	overflow: hidden;
	width: 41px;
	background: url("%%modpath%%/images/toggleOnOff.gif") no-repeat scroll 0 0 transparent;
	outline-style: none;
	text-decoration: none;
}

.menu_switch a.sw1
{
	background-position: 0 0;
}

.menu_switch a.sw0
{
	background-position: 0 -15px;
}

.menu_switch a span {display:none;}

.idx_acts 
{
	float: right;
	border-left: 1px dotted rgb(120,120,120);
	padding-left: 5px;
	margin-left: 5px;
}
.idx_acts a 
{ 
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.pretty input
{
	padding: 0;
	border: 0;
	padding: 3 4;
	margin: -3 -4;

}

.pretty input:hover
{
	background: #ffff99;
}

.loader
{
	float: right;
	margin-right: -2em;
	display: none;
}

</style>

<a href='%%binpath%%/create'>Add a new page...</a>

<table class='pretty'>
	<thead>
		<th>Actions</th>
		<th>Order</th>
		<th>URL</th>
		<th>In Menus?</th>
		<th>Title</th>
	</thead>
	<tbody>
		<tmpl_loop pages>
		<tr>
			<td class='util'>
				<a href='%%url%%'>Visit</a> | <a href='%%binpath%%/edit?url=%%url%%'>Edit</a> | <a href='%%binpath%%/delete?url=%%url%%' onclick="return confirm('Are you SURE you want to delete %%url%%? This can\'t be undone!')">Delete</a>
			</td>
			<td><div class='idx_acts'><a href='%%binpath%%/change_idx?url=%%url%%&dir=up'>&#8593;</a><a href='%%binpath%%/change_idx?url=%%url%%&dir=down'>&#8595;</a></div>
				%%menu_index%%</td>
			<td><tmpl_if url>%%url_pretty%%<tmpl_else><i>(Home Page)</i></tmpl_if></td>
			<td><div class='menu_switch'><a page_url='%%url%%' onclick='return update_sw(this)' class='<tmpl_if show_in_menus>sw1<tmpl_else>sw0</tmpl_if>' href='%%binpath%%/set_in_menus?url=%%url%%&amp;flag=<tmpl_if show_in_menus>0<tmpl_else>1</tmpl_if>'><span>%%in_menus%%</span></a></div></td>
			<td>
				<img src='%%modpath%%/images/ajax-loader-balls-xparent.gif' class='loader' id='loader%%pageid%%'>
				<input type='text' tabindex='%%tab_idx%%' pageid='%%pageid%%' value='%%title%%' orig_value='%%title%%' onblur='save_title(this)'></td>
		</tr>
		</tmpl_loop>
	</tbody>
</table>

<img id='switch_img' style='display:none'/>
<script>

function x(e){return document.getElementById(e);}
function a(e,k){return e.getAttribute(k);} 
function update_sw(elm)
{
	return true;
	
	//alert(elm);
	var out = x('switch_img');
	var url = a(elm,'page_url');
	var newCls = elm.className == 'sw0' ? 'sw1' : 'sw0';
	var newUrl = '%%binpath%%/set_in_menus?url='+url+'&flag=' + (newCls == 'sw0' ? '0':'1');
	//alert(newCls+','+elm.className);
	out.src = newUrl + '&quiet=1';
	elm.className = newCls;
	elm.href = newUrl;
	document.body.focus();
	return false;
}

function save_title(elm)
{
	if(elm.getAttribute('orig_value') == elm.value)
		return;
	//alert(elm.value);		
	var out = x('switch_img');
	var pageid = elm.getAttribute('pageid');
	var url = '%%binpath%%/save_title?pageid=' + pageid + '&title=' + elm.value + '&quiet=1';
	
	elm.setAttribute('orig_value', elm.value);
	
	//alert(url);
	
	var loader = x('loader' + pageid);
	if(loader)
	{
		loader.style.display = 'block';
		out.onerror = out.onload = function(){ loader.style.display = 'none'; };
	}
	
	out.src = url;
}

</script>