<a:cssx src="%%appcore%%/mods/Boards/css/boards.css"/>
<tmpl_unless weekly_widget>
	<title><tmpl_var board_title></title>
	
	<h1>Upcoming Events</h1>
	
	<!--%macro::sub_nav()%-->
	<!--<style>.subnav{margin-bottom:-10px !important}</style>-->
	<tmpl_var board_nav>
	
	<!--<p class='board-tagline'><tmpl_var board_tagline></p>
	
	<tmpl_if description>
		<div id='board-intro'>
			<tmpl_var board_description>
		</div>
	</tmpl_if>-->

</tmpl_unless>

<style>
.posts { margin-top:-.5em;<tmpl_unless weekly_widget>border-bottom:none</tmpl_unless>}
h1.event-list-header
{
	/*background-image: url(/images/jib3.png) !important;*/
	background-image: none!important;
	background-position: 0 -8px !important;
	/*background-color: white !important;*/
	/*padding-left: 70px !important;*/
	padding-left: 5px !important;
	/*margin-bottom: -1em;*/
	margin-top: .5em;
}
h1 a{border:0 !important}

td.subject,
td.title
{
	background: #e9eeff;
	border-bottom: 1px solid #c7cddf;
	border-top: 1px solid white;
	padding: .5em .25em;
}
</style>

<tmpl_unless weekly_widget>
	
	<tmpl_if can_admin>
		<a class='new_link' href='%%binpath%%/new' style='float:right;margin-top: -3.3em;margin-right:4px'><img src='%%appcore%%/images/silk/add.png' align=absmiddle border=0> Add a new event to this list!</a>
	</tmpl_if>
	
	<!--<h1 class='event-list-header'>Upcomming Special Events</h1>-->
	<tmpl_if dated>
		<table class='posts' width='100%' cellpadding=0 cellspacing=0>
			<tbody>
				<tr><td class='group-header' colspan=4>&nbsp;</td></tr>
				<tmpl_loop dated>
					<tr class='<tmpl_var post_flags>'>
						<td nowrap class='subject'>
							<!--<tmpl_if can_admin><a class='delete_post_link' href='%%bin%%/%%pageid%%/<tmpl_var folder_name>/<tmpl_var fake_folder_name>/delete' onclick='return confirm("Are you SURE you want to delete this post?")'><img src='/images/silk/delete.png' border=0 align=absmiddle></a> </tmpl_if>-->
							<a href='%%bin%%/%%pageid%%/<tmpl_var folder_name>/<tmpl_var fake_folder_name>' class='title_link'><b>%%day_name%%</b>, <b>%%normal_datestamp%%</b> at <b>%%time%%</b></a>
						</td>
						<td class='title'>
							- %%short_text%%
							<tmpl_if has_new><span class='new'>- Unread Comments: <span class='count'><tmpl_var new_count></span></span></tmpl_if>
						</td>
					</tr>
				</tmpl_loop> 
			</tbody>
		</table>
	<tmpl_else>
		<h3>Sorry, no upcomming special events listed!</h3>
	</tmpl_if>

</tmpl_unless>

<h1 class='event-list-header'><a name='weekly'>Every Week at PHC</a></h1>
	
<table class='posts' width='100%' cellpadding=0 cellspacing=0 style='margin-top:-1.5em'>
	<tbody>
		<tr><td class='group-header' colspan=4>&nbsp;</td></tr>
		<tmpl_loop weekly>
			<tr>
				<td colspan=99>
					<h3 style='margin-bottom:-1px'><tmpl_var day_name></h3>
				</td>
			</tr>
			
			<tmpl_loop list>		
				<tr class='<tmpl_var post_flags>'>
					<td nowrap class='subject'>
						<!--<tmpl_if can_admin><a class='delete_post_link' href='%%bin%%/%%pageid%%/<tmpl_var folder_name>/<tmpl_var fake_folder_name>/delete' onclick='return confirm("Are you SURE you want to delete this post?")'><img src='/images/silk/delete.png' border=0 align=absmiddle></a> </tmpl_if>-->
						<a href='%%bin%%/%%folder_name%%' class='title_link'>%%time%%</a>
					</td>
					<td class=title>
						- %%short_text%%
						<tmpl_if has_new><span class='new'>- Unread Comments: <span class='count'><tmpl_var new_count></span></span></tmpl_if>
					</td>
				</tr>
			</tmpl_loop>
		</tmpl_loop> 
	</tbody>
</table>
	

