<a:cssx src="%%appcore%%/mods/Boards/css/boards.css"/>
<tmpl_unless weekly_widget>
	<title><tmpl_var board_title></title>
	
	<h1>Upcoming Events</h1>
	
	<!--%macro::sub_nav()%-->
	<!--<style>.subnav{margin-bottom:-10px !important}</style>-->
	<tmpl_var board_nav>
	
	<!--<p class='board-tagline'><tmpl_var board_tagline></p>
	
	<tmpl_if description>
		<div id='board-intro'>
			<tmpl_var board_description>
		</div>
	</tmpl_if>-->

</tmpl_unless>

<style>

.posts { margin-top:-.5em;<tmpl_unless weekly_widget>border-bottom:none</tmpl_unless>}
h1.event-list-header
{
	/*background-image: url(/images/jib3.png) !important;*/
	background-image: none!important;
	background-position: 0 -8px !important;
	/*background-color: white !important;*/
	/*padding-left: 70px !important;*/
	padding-left: 5px !important;
	/*margin-bottom: -1em;*/
	margin-top: .5em;
}
h1 a{border:0 !important}

td.subject,
td.title
{
	background: #e9eeff;
	border-bottom: 1px solid #c7cddf;
	border-top: 1px solid white;
	padding: .5em .25em;
}

.posts td a
{
	text-decoration: none;
	color: black;
}


.event_list h1, .event_list h2, .event_list h3, .event_list h4, .event_list h5, .event_list h6, .event_list h7, .event_list p, .event_list form, .event_list ul, .event_list ol, .event_list li, .event_list blockquote { /* resets most browser styles to enhance cross-browser compatibility */
        margin: 0;
        padding: 0;
}


/*.event_list a:visited,
.event_list a:active,
.event_list a:hover*/
.event_list a
{
	text-decoration: none;
	/*color: black;*/
	
}

.event_list a:active,
.event_list a:focus
{
	outline: none;
}

.event_list h5
{
	background: url("%%modpath%%/images/calendar_background.jpg") no-repeat scroll 0 0 transparent;
	color: #A09F9F !important;
	display: block;
	float: left;
	font-size: 1.4em;
	height: 41px;
	margin: 0 15px 0px 10px;
	padding: 2px 0 0;
	text-align: center;
	width: 41px;
}	

.event_list h5 strong
{
	color: #FFFFFF;
	display: block;
	font-size: 0.6em;
	text-transform: uppercase;
}

.event_list h3.event-title
{
	color: black;
	/*padding: 2px 35px 2px 10px;*/
	margin: 0;
	border: 0;
	width: 90%;
	height: 1.25em;
	overflow: hidden;
}

.event_list p
{
	color: #6C6C6C !important;
	padding: 0 35px 0px 10px;
	text-indent: 0;
	margin-top: -5px;
	margin: 0;
}

.event_list ul
{
	margin: 0;
	padding: 0;
}

.event_list li
{
	background-color: #FFFFFF;
	/*background: red;*/
	border-bottom: 1px dotted black;
	font-size: 1.5em;
	list-style-type: none;
	text-align: left;
	padding-bottom: 10px;
	margin-top: 10px;
}

.event_list 
{
	background: white;
	/*padding: 5px 0 0 0;*/
	/*border-top: 2px solid black;
	border-bottom: 2px solid black;*/
	font-size: 10px;
}


</style>

<tmpl_unless weekly_widget>
	
	<tmpl_if can_admin>
		<a class='new_link' href='%%binpath%%/new' style='float:right;margin-top: -3.3em;margin-right:4px'><img src='%%appcore%%/images/silk/add.png' align=absmiddle border=0> Add a new event to this list!</a>
	</tmpl_if>
	
	<!--<h1 class='event-list-header'>Upcomming Special Events</h1>-->
	<tmpl_if dated>
	
		<div class='event_list'>
			<ul>
				<tmpl_loop dated>
				<li>
					<a href='/connect/events/%%folder_name%%'>
						<!-- FF Parser Error Fix - for some reason, duplicting the content of this <a> tag in a comment fixes the problem-->
						<!--
						<h5>
							<strong>%%month_name_short%%</strong>
							%%day%%
						</h5>
						<h3 class='event-title'>%%subject%%</h3>
						<p>%%day_name%% at %%time%%<tmpl_if event_show_endtime> until %%end_time%%</tmpl_if></p>
						-->
						<h5>
							<strong>%%month_name_short%%</strong>
							%%day%%
						</h5>
						<h3 class='event-title'>%%subject%%</h3>
						<p>%%day_name%% at %%time%%<tmpl_if event_show_endtime> until %%end_time%%</tmpl_if> <tmpl_if time_until>(in %%time_until%%)</tmpl_if></p>
					</a>
				</li>
				</tmpl_loop>
			</ul>
		</div>
		
	<tmpl_else>
		<h3>Sorry, no upcomming special events listed!</h3>
	</tmpl_if>

</tmpl_unless>

<h1 class='event-list-header'><a name='weekly'>Every Week</a></h1>
	
<table class='posts' width='100%' cellpadding=0 cellspacing=0 style='margin-top:-1.5em'>
	<tbody>
		<tr><td class='group-header' colspan=4>&nbsp;</td></tr>
		<tmpl_loop weekly>
			<tr>
				<td colspan=99>
					<h3 style='margin-bottom:-1px'><tmpl_var day_name></h3>
				</td>
			</tr>
			
			<tmpl_loop list>		
				<tr class='<tmpl_var post_flags>'>
					<td nowrap class='subject' align=center>
						<a href='%%bin%%/%%folder_name%%' class='title_link'>%%time%%</a>
					</td>
					<td class=title>
						<a href='%%bin%%/%%folder_name%%' class='title_link'><b>%%event_event_text%%</b></a>
					</td>
				</tr>
			</tmpl_loop>
		</tmpl_loop> 
	</tbody>
</table>
	

