<a:cssx src="%%appcore%%/mods/Boards/css/boards.css"/>
<a:cssx src='%%appcore%%/jquery-ui/css/smoothness/jquery-ui-1.8.12.custom.css'>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js'></script>

<title><tmpl_if post_postid>Edit "%%post_subject%%"<tmpl_else>Add an Event</tmpl_if></title>
<h1><tmpl_if post_postid>Edit "%%post_subject%%"<tmpl_else>Add an Event</tmpl_if></h1>

<!--%macro::sub_nav()%-->
<tmpl_var board_nav>

<script src='%%appcore%%/ckeditor/ckeditor.js' index="0"></script>
<style>
label{cursor:pointer}
.ui-datepicker
{
	background: rgb(230,230,230);
	padding: .5em;
	
	-moz-border-radius: 3px;
	-moz-box-shadow: 0px 0px 4px #000;

	border-radius: 3px;
	box-shadow: 0 0 4px #000;
}

.ui-datepicker-prev
{
	float:left;
	cursor: pointer;
}
.ui-datepicker-next
{
	float:right;
	cursor: pointer;
}
.ui-datepicker-title
{
	text-align: center;
	font-weight: bold;
}
img.ui-datepicker-trigger
{
	cursor: pointer;
	padding-top: 3px;
}
.ui-datepicker table th span
{
	font-size: .75em;
	color: rgb(80,80,80);
}

.ui-datepicker a.ui-state-active
{
	font-weight: bold;
	text-decoration: none;
	color: black;
	/*border: 1px solid black;
	-moz-border-radius: 3px;*/
	border-radius: 3px;
}
</style>

<form action='<tmpl_var post_url>' ENCTYPE="multipart/form-data" method=POST style='display:inline;border:0;padding:0;margin:0' name=item>
	<input type=hidden name=postid value="<tmpl_var post_postid>">

	<input type=hidden name=poster_name value='<tmpl_var user_display escape=html>'>
	<input type=hidden name=poster_email value="<tmpl_var user_email>">

	<div id="round_me" align=center style="background:rgb(220,220,220);padding-top:5px;padding-bottom:5px;-moz-border-radius: 5px;border:rgb(220,220,220);margin-bottom:.5em;margin-top:.5em;">
		<script>
		function update_dow_box()
		{
			var is_weekly = $('#weekly_yes').get(0).checked;
			$('#weekday').get(0).disabled = is_weekly ? false : true;
			$('#datepicker').get(0).disabled = is_weekly ? true : false;
		}
		
		$(function() { 
			update_dow_box();
			update_location_box();
		});

		function update_location_box()
		{
			var at_phc = $('#phc_yes').get(0).checked;
			$('#location').get(0).disabled = at_phc ? true : false;
			$('#map_link').get(0).disabled = at_phc ? true : false;
		}
		</script>

		<table border=0 cellpadding=3 cellspacing=0 style="margin:1em">
			<!--<tr>
				<td valign=top>Flag this Post:</td> <td valign=top>
					<select name='alert_flag' id='alert_flag'>
						<option value='0'	 	<tmpl_if ticker_priority4>selected</tmpl_if>>(No Flag)
						<option value='green' 	<tmpl_if ticker_priority4>selected</tmpl_if>>"Green" Alert
						<option value='yellow' 	<tmpl_if ticker_priority3>selected</tmpl_if>>"Yellow" Alert
						<option value='red' 	<tmpl_if ticker_priority2>selected</tmpl_if>>"Red" Alert
					</select>

					<br>
					<span style='font-size:.85em;color:rgb(100,100,100)'>This determines how it looks in the "News Ticker" at the top of the pages. Normally, just leave it at "No Flag". Use the Red Flag for stuff like cancelations.</span>
				</td>
			</tr>-->
			
			<tr>
				<td valign=top>Is Weekly?</td> <td nowrap valign=top>
					<input type='radio' name='is_weekly' %tmpl_if event_is_weekly%checked%/tmpl_if%         onchange='update_dow_box()' value='yes' id='weekly_yes'><label for='weekly_yes'> <b>Yes</b>, it happens every week on </label> <select name='weekday' id='weekday'>
						<option value='1' <tmpl_if dow1>selected</tmpl_if>>Monday
						<option value='2' <tmpl_if dow2>selected</tmpl_if>>Tuesday
						<option value='3' <tmpl_if dow3>selected</tmpl_if>>Wednesday
						<option value='4' <tmpl_if dow4>selected</tmpl_if>>Thursday
						<option value='5' <tmpl_if dow5>selected</tmpl_if>>Friday
						<option value='6' <tmpl_if dow6>selected</tmpl_if>>Saturday
						<option value='7' <tmpl_if dow7>selected</tmpl_if>>Sunday
					</select><br>
					<input type='radio' name='is_weekly' %tmpl_unless event_is_weekly%checked%/tmpl_unless% onchange='update_dow_box()' value='no' id='weekly_no'><label for='weekly_no'> <b>No</b>, it only happens on a certain date</label><br>

				<!--<span style='font-size:.85em;color:rgb(100,100,100)'>This is what will appear underneath the photo in lists of photos and on the front page.</span>-->
				</td>
			</tr>
			<tr>
				<td >Date:</td> <td><input type=text name=date id=datepicker value="<tmpl_var date>" size=10><br>
					<script>
 					$(function() {
						$( "#datepicker" ).datepicker({ 
							dateFormat: 'yy-mm-dd', 
							showOn: 'both',
							buttonImage: '%%appcore%%/images/silk/calendar.png',
							buttonImageOnly: true
						});
					});

					</script>

				</td>
			</tr>
			<tr>
				<td>Time:</td>
					<td>
						<select name=hour id=hour onchange='update_end_time()'>
							<option <tmpl_if hr_0 >selected</tmpl_if> value=0 >12 Midnight
							<option <tmpl_if hr_1 >selected</tmpl_if> value=1 > 1 am
							<option <tmpl_if hr_2 >selected</tmpl_if> value=2 > 2 am
							<option <tmpl_if hr_3 >selected</tmpl_if> value=3 > 3 am
							<option <tmpl_if hr_4 >selected</tmpl_if> value=4 > 4 am
							<option <tmpl_if hr_5 >selected</tmpl_if> value=5 > 5 am
							<option <tmpl_if hr_6 >selected</tmpl_if> value=6 > 6 am
							<option <tmpl_if hr_7 >selected</tmpl_if> value=7 > 7 am
							<option <tmpl_if hr_8 >selected</tmpl_if> value=8 > 8 am
							<option <tmpl_if hr_9 >selected</tmpl_if> value=9 > 9 am
							<option <tmpl_if hr_10>selected</tmpl_if> value=10>10 am
							<option <tmpl_if hr_11>selected</tmpl_if> value=10>11 am
							<option <tmpl_if hr_12>selected</tmpl_if> value=12>12 Noon
							<option <tmpl_if hr_13>selected</tmpl_if> value=13> 1 pm
							<option <tmpl_if hr_14>selected</tmpl_if> value=14> 2 pm
							<option <tmpl_if hr_15>selected</tmpl_if> value=15> 3 pm
							<option <tmpl_if hr_16>selected</tmpl_if> value=16> 4 pm
							<option <tmpl_if hr_17>selected</tmpl_if> value=17> 5 pm
							<option <tmpl_if hr_18>selected</tmpl_if> value=18> 6 pm
							<option <tmpl_if hr_19>selected</tmpl_if> value=19> 6 pm
							<option <tmpl_if hr_20>selected</tmpl_if> value=20> 7 pm
							<option <tmpl_if hr_21>selected</tmpl_if> value=21> 8 pm
							<option <tmpl_if hr_22>selected</tmpl_if> value=22>10 pm
							<option <tmpl_if hr_23>selected</tmpl_if> value=23>11 pm
							<option value= 0>12 Midnight
						</select>
						:
						<input type=text name=min id=min title='Minutes' value="<tmpl_if min>%%min%%<tmpl_else>00</tmpl_if>" size=3><br>
					</td>
			</tr>
			<tr>
				<td valign=top>Ends at:</td>
					<td>
						<input type=checkbox name=show_endtime value=1 id=show_endtime <tmpl_if event_show_endtime>checked</tmpl_if> onchange='update_show_endtime()'><label for=show_endtime> Show Ending Time</label>
						<br>
						<script>
							disable_update_end_time = false;
							function update_end_time()
							{
								if(disable_update_end_time)
									return;
								var elm = $('#hour').get(0);
								var endElm = $('#end_hour').get(0);
								if(!elm || !endElm)
									return;
								var idx = elm.selectedIndex;
								var endIdx = idx + 1;
								if(endIdx > 23)
									endIdx = 1;
								endElm.selectedIndex = endIdx;
								$('#end_min').get(0).value = $('#min').get(0).value;
								
							}
							function update_show_endtime()
							{
								var show = $('#show_endtime').get(0).checked;
								$('#end_min').attr('disabled',show ? false:true);
								$('#end_hour').attr('disabled',show ? false:true);
							}
							$(function(){
								update_end_time();
								update_show_endtime();
							});
						</script>
						<select name=end_hour id=end_hour onclick='disable_update_end_time=true'>
							<option <tmpl_if hr2_0 >selected</tmpl_if> value=0 >12 Midnight
							<option <tmpl_if hr2_1 >selected</tmpl_if> value=1 > 1 am
							<option <tmpl_if hr2_2 >selected</tmpl_if> value=2 > 2 am
							<option <tmpl_if hr2_3 >selected</tmpl_if> value=3 > 3 am
							<option <tmpl_if hr2_4 >selected</tmpl_if> value=4 > 4 am
							<option <tmpl_if hr2_5 >selected</tmpl_if> value=5 > 5 am
							<option <tmpl_if hr2_6 >selected</tmpl_if> value=6 > 6 am
							<option <tmpl_if hr2_7 >selected</tmpl_if> value=7 > 7 am
							<option <tmpl_if hr2_8 >selected</tmpl_if> value=8 > 8 am
							<option <tmpl_if hr2_9 >selected</tmpl_if> value=9 > 9 am
							<option <tmpl_if hr2_10>selected</tmpl_if> value=10>10 am
							<option <tmpl_if hr2_11>selected</tmpl_if> value=10>11 am
							<option <tmpl_if hr2_12>selected</tmpl_if> value=12>12 Noon
							<option <tmpl_if hr2_13>selected</tmpl_if> value=13> 1 pm
							<option <tmpl_if hr2_14>selected</tmpl_if> value=14> 2 pm
							<option <tmpl_if hr2_15>selected</tmpl_if> value=15> 3 pm
							<option <tmpl_if hr2_16>selected</tmpl_if> value=16> 4 pm
							<option <tmpl_if hr2_17>selected</tmpl_if> value=17> 5 pm
							<option <tmpl_if hr2_18>selected</tmpl_if> value=18> 6 pm
							<option <tmpl_if hr2_19>selected</tmpl_if> value=19> 6 pm
							<option <tmpl_if hr2_20>selected</tmpl_if> value=20> 7 pm
							<option <tmpl_if hr2_21>selected</tmpl_if> value=21> 8 pm
							<option <tmpl_if hr2_22>selected</tmpl_if> value=22>10 pm
							<option <tmpl_if hr2_23>selected</tmpl_if> value=23>11 pm
							<option value= 0>12 Midnight
						</select>
						:
						<input type=text name=end_min id=end_min title='Minutes' value="<tmpl_if end_min>%%end_min%%<tmpl_else>00</tmpl_if>" size=3>
						
					</td>
			</tr>
			<tr>
				<td valign=top nowrap>Event Title:</td>
				<td>
					<input type='text' class='textinput' id=subject name=subject value='<tmpl_var post_subject escape=html>' size=45><br> 
					<span style='font-size:.85em;color:rgb(100,100,100)'>This description is shown on the main page and on the calendar.</span><br>
					<!--<textarea style='display:none' rows=2 cols=55 id=comment name=comment><tmpl_var post_text></textarea>-->
					<!--<textarea rows=2 cols=55 id=comment name=comment><tmpl_var event_event_text></textarea>-->
					<script type="text/javascript">var e=$('#subject').get(0);if(e){e.focus();e.select()}</script>
				</td>

			</tr>
			<tr>
			<tr>
				<td valign=top>More Details:</td>
				<td>
					<span style='font-size:.85em;color:rgb(100,100,100)'>This information is only shown on the event page itself - e.g. if someone clicks on the time for this event, this will be shown on that page.</span>
					<textarea rows=4 cols=55 id=page_details name=page_details><tmpl_var event_page_details></textarea>
				</td>

			</tr>
				<td valign=top nowrap>Contact Name:</td> <td><input type=text id='contact_name' name=contact_name value="<tmpl_if post_postid><tmpl_var event_contact_name><tmpl_else>%%user_display%%</tmpl_if>" size=35><br>
					<span style='font-size:.85em;color:rgb(100,100,100)'>This name will appear in event descriptions - it can be left blank if desired. Example: <b>Pastor Bruce or Sue Bryan</b></span>

				</td>
			</tr>
			<tr>
				<td valign=top>Contact E-Mail:</td> <td><input type=text id='contact_email' name=contact_email value="<tmpl_if post_postid><tmpl_var event_contact_email><tmpl_else>%%user_email%%</tmpl_if>" size=45><br>
					<span style='font-size:.85em;color:rgb(100,100,100)'><b>We will NOT display this email to anyone!</b> It's only for use when any comments or questions on this event are added, they will be sent to this email (as well as posted on the event.) This can be left blank. Example: <b>bryan5@jayco.net</b></span>

				</td>
			</tr>
			<tr>
				<td valign=top>Is it at PHC?</td> <td>
					<input type='radio' name='at_phc' value='yes' %tmpl_if event_at_phc%checked%/tmpl_if%         onchange='update_location_box()' id='phc_yes'><label for='phc_yes'> <b>Yes</b>, it happens at PHC</label><br>
					<input type='radio' name='at_phc' value='no'  %tmpl_unless event_at_phc%checked%/tmpl_unless% onchange='update_location_box()' id='phc_no' ><label for='phc_no'> <b>No</b>, it happens away from PHC</label><br>
				<span style='font-size:.85em;color:rgb(100,100,100)'>If you put "No", please indicate the location and a link to a Google Map of the location below.</span>
				</td>
			</tr>
			<tr>
				<td valign=top>Location Description:</td> <td><input type=text id='location' name=location value="<tmpl_var event_location>" size=45><br>
					<span style='font-size:.85em;color:rgb(100,100,100)'>Example: <b>Josiah's House at 316 Meadow Drive, Union City, IN</b></span>

				</td>
			</tr>
			<tr>
				<td valign=top>Map Link:</td> <td><input type=text name=map_link id='map_link'  value="<tmpl_var event_location_map_link>" size=45><br>
					<span style='font-size:.85em;color:rgb(100,100,100)'>Example: <b>http://maps.google.com/maps?q=316+meadow+drive,+union+city,+indiana...</b></span>
				</td>
			</tr>
			<tr>
				<td colspan=99><hr size=1></td>
			</tr>
			<!--<tr>
				<td valign=top>Folder and Subject:</td>
				<td>
					<span style='font-size:.85em;color:rgb(100,100,100)'><b>Advanced use only</b> - normally you will let the computer choose the folder and subject.</span><br>
					<input type='radio' name='fake_folder_override' value='no'  %tmpl_unless event_fake_folder_override%checked%/tmpl_unless%  id='folder_no' ><label for='folder_no'> Let the computer choose the folder and subject.</label><br>
					<input type='radio' name='fake_folder_override' value='yes' %tmpl_if event_fake_folder_override%checked%/tmpl_if%  id='folder_yes'><label for='folder_yes'> Override the folder and subject manually, below.</label><br>

					<input type=text id='fake_folder' name=subject_override  value="%%post_subject%%" size=35> (Subject)<br>
					<input type=text id='fake_folder' name=fake_folder       value="%%post_fake_folder_name%%" size=35> (Folder)<br>


				</td>
			</tr>
			<tr>
				<td colspan=99><hr size=1></td>
			</tr>-->

			<tr>
				<td></td>
				<td>
				<br>

				<tmpl_if event_eventid>
					<div style='float:right'>
						<input type='button' onclick='if(confirm("Are you sure you want to delete this event?")){document.location.href="%%bin%%/%%pageid%%/%%board_folder_name%%/%%post_fake_folder_name%%/delete"}' value='Delete Event'>
					</div>
				
					<input type=submit value="Save Changes">
				<tmpl_else>
					<input type=submit value="Create Event">
				</tmpl_if>
				
				<!--<input type=reset value="Reset to Original Values"> -->
				</td>
			</tr>


		</table>
	</div>

</form>
<script>
$(function()
{
// 	var oFCKeditor = new FCKeditor('age') ;
// 	oFCKeditor.BasePath = '/fckeditor/' ;
// 	oFCKeditor.ToolbarSet = 'JBlog';
// 	oFCKeditor.Height = "80px" ;
// 
// 	oFCKeditor.ReplaceTextarea();
// 
// 	var oFCKeditor2 = new FCKeditor('page_details') ;
// 	oFCKeditor2.BasePath = '/fckeditor/' ;
// 	oFCKeditor2.ToolbarSet = 'JBlog';
// 	oFCKeditor2.Height = "300px" ;
// 
// 	oFCKeditor2.ReplaceTextarea();

// 	CKEDITOR.replace( 'comment', {
// 		//baseHref: '%%appcore%%/ckeditor/',
// 		extraPlugins : 'autogrow',
// 		width: '96%',
// 		//skin: 'office2003'
// 		skin: 'kama',
// 		toolbar: 'Basic',
// 		height: '40px',
// 		disableNativeSpellChecker: false,
// 		removePlugins: 'elementspath,scayt,contextmenu',
// 
// 		//skin: 'v2'
// 	});
	
	CKEDITOR.replace( 'page_details', {
		//baseHref: '%%appcore%%/ckeditor/',
		extraPlugins : 'autogrow',
		width: '96%',
		//skin: 'office2003'
		skin: 'kama',
		toolbar: 'Basic',
		height: '40px',
		disableNativeSpellChecker: false,
		removePlugins: 'elementspath,scayt,contextmenu',

		//skin: 'v2'
	});
				
				
});



</script>