<link href="/css/comments.css" rel="stylesheet" type="text/css" />
<link href="/css/boards.css" rel="stylesheet" type="text/css" />

<title><tmpl_var post_subject> - <tmpl_var board_title> - News and Events</title>
<h1><tmpl_var post_subject></h1>
<div class='post_page'>
	<!--%macro::sub_nav()%-->

	<tmpl_var board_nav>
</div>


<tmpl_if can_edit>
	<a class='edit_post_link' href='%%binpath%%/%%folder_name%%/edit'><img src='%%appcore%%/images/silk/page_edit.png' align=absmiddle border=0> Edit my post</a>
	<a class='edit_post_link' style='margin-right:3px' onclick='return confirm("Are you sure you want to delete this page?")' href='%%binpath%%/%%folder_name%%/delete'><img src='%%appcore%%/images/silk/page_delete.png' align=absmiddle border=0> Delete Post</a>
</tmpl_if>


<style>
.event_data .key { font-style: italic }
.event_data .val { font-weight: bold }
.event_data 
{ 
	color: 			#553b20;
	background: 		#fff6ec;
	border: 		1px solid #c9ac93;
	-moz-border-radius: 	4px;
	padding:		5px;
}

.event_data .val p { text-indent: 0 !important }
.post_text { margin-top: .5em }
</style>


<div class='post_header'>
	<div class='attribution'>
		Posted on <span class='date'><tmpl_var post_timestamp></span> by <span class='name'><tmpl_var post_poster_name></span>
	</div>
	<h3><tmpl_var post_subject></h3>
	<table class='event_data'>
		<tr class='what'>
			<td class='key'>What?</td>
			<td class='val'>
				<tmpl_var post_text>
			</td>
		</tr>
		
		
		<tr class='when'>
			<td class='key'>When?</td>
			<td class='val'>
				<tmpl_if event_is_weekly>
					Every Week on %%day_name%% at %%time%%
				<tmpl_else>
					%%day_name%%, %%normal_datestamp%% at %%time%%
				</tmpl_if>
			</td>
		</tr>
		
		<tmpl_if at_phc>
			<tr class='where'>
				<td class='key'>Where?</td>
				<td class='val'>
					<a href='%%bin%%/directions'>At PHC</a>
				</td>
			</tr>
		<tmpl_else>
			<tmpl_if event_location>
				<tr class='where'>
					<td class='key'>Where?</td>
					<td class='val'>
						<tmpl_if event_at_phc>
							<a href='%%bin%%/directions'>At PHC</a>
						<tmpl_else>
							<tmpl_if event_location_map_link><a href='%%event_location_map_link%%'></tmpl_if>
								<tmpl_if event_location>
									%%event_location%%	
								<tmpl_else>
									<tmpl_if event_location_map_link>
										Click for Map
									<tmpl_else>
										Don't know!
									</tmpl_if>
								</tmpl_if>
							<tmpl_if event_location_map_link></a></tmpl_if>
						</tmpl_if>
					</td>
				</tr>
			</tmpl_if>
		</tmpl_if>
		
		
	</table>
	
	
	
</div>


<div class='post_text <tmpl_if replies>has_replies</tmpl_if>'>
	<tmpl_var event_page_details>
</div>


<a class='new_reply_link <tmpl_if replies>top_reply_link</tmpl_if>' style='width:175px' href='%%binpath%%/%%folder_name%%/reply'><img src='%%appcore%%/images/silk/add.png' align=absmiddle border=0> Comment on this event</a>


<div id='comments' class='comments_block'>
	<tmpl_if replies>
		<!--<h5>Comments:</h5>-->
		<div class=comments_title>
			Replies:
		</div>
		
		<div class='replies_container'>
			<tmpl_loop replies>
				<div class=comment_text style='margin-left:<tmpl_var indent_css>em;margin-right:<tmpl_var indent_css>em;'>
					<a name='c<tmpl_var postid>'><span class=timestamp><tmpl_var timestamp></span></a>: <br>
					<tmpl_if can_admin><a class='admin_link' href='%%delete_url%%?postid=%%postid%%' onclick='return confirm("Are you SURE you want to delete this comment?")'><img src='%%appcore%%/images/silk/delete.png' border=0 align=absmiddle></a> </tmpl_if>
					<blockquote><span class=text><tmpl_var text></span>
					<span class=meta> <span class=person>-- <tmpl_var poster_name></span></span> <span class='irl'>(<a href='%%reply_to_url%%/%%folder_name%%'>Reply <b>...</b></a>)</span></blockquote>
				</div>
			</tmpl_loop>
		</div>
		
		<a class='new_reply_link' href='%%binpath%%/%%folder_name%%/reply'><img src='%%appcore%%/images/silk/add.png' align=absmiddle border=0> Reply to this post</a>

	<tmpl_else>
		<!--<h3>Sorry, no replies yet to this post.</h3>-->
	</tmpl_if>
</div>