<title><tmpl_if groupid>Edit %%title%%<tmpl_else>Create New Group</tmpl_if></title>
<h1><tmpl_if groupid>Edit %%title%%<tmpl_else>Create New Group</tmpl_if></h1>

<form action='%%binpath%%/post' method=POST>

	<input type=hidden name=groupid value="<tmpl_var groupid>">
	
	<table class='editform'>
		<tr>
			<td>Title:</td> <td><input id='title' type=text name=title class='textinput' value='%%title%%' size=40></td>
		</tr>
		<tr>
			<td>Folder:</td> <td><input type=text name=folder_name class='textinput' value='%%folder_name%%' size=40></td>
		</tr>
		<tmpl_if is_admin>
		<tr>
			<td>Manager:</td> <td>
				<select name='managerid'>
					<tmpl_loop manager_list>
						<option value='%%value%%' <tmpl_if selected>selected</tmpl_if>>%%text%%</option>
					</tmpl_loop>
				</select>
			</td>
		</tr>
		</tmpl_if>
		<tr>
			<td>Tag Line:</td> <td><textarea cols=40 rows=2 name=tagline>%%tagline%%</textarea></td>
		</tr>
		<tr>
			<td>Description:</td> <td><textarea cols=40 rows=4 name=description>%%description%%</textarea></td>
		</tr>
		<tr>
			<td>Group Type:</td> <td><input type=text name=group_type class='textinput' value='%%group_type%%' size=40></td>
		</tr>
		<tr>
			<td colspan=2><input type=checkbox name=listed_publicly class='textinput' value='1' <tmpl_if listed_publicly>checked</tmpl_if> id=listed_publicly><label for=listed_publicly> Listed Publicly</label></td>
		</tr>
		<tr>
			<td colspan=2><input type=checkbox name=member_approval_required class='textinput' value='1' <tmpl_if member_approval_required>checked</tmpl_if> id='member_approval_required'><label for=member_approval_required> Membership Approval Required</label></td>
		</tr>
		<tr>
			<td colspan=2><input type=checkbox name=access_members_only class='textinput' value='1' <tmpl_if access_members_only>checked</tmpl_if> id=access_members_only><label for=access_members_only> Access Only for Members</label></td>
		</tr>
		<!-- TODO Need to figure out how to mix the contact personid and user fill in field -->
		<!--<tr>
			<td>Contact Person:</td> <td>
				<select name='manager'>
					<tmpl_loop users>
						<option value='%%value%%' <tmpl_if selected>selected</tmpl_if>>%%text%%</option>
					</tmpl_loop>
				</select>
			</td>
		</tr>-->
		<tr>
			<td>Contact Person:</td> <td><input type=text name=contact_person class='textinput' value='%%contact_person%%' size=40></td>
		</tr>
		<tr>
			<td>Contact Email:</td> <td><input type=text name=contact_email class='textinput' value='%%contact_email%%' size=40></td>
		</tr>
		<tr>
			<td>Contact Phone:</td> <td><input type=text name=contact_phone class='textinput' value='%%contact_phone%%' size=10></td>
		</tr>
		
		
		<tr><td colspan=2><hr size=1></td></tr>
		<tr>
			<td colspan=2>
			<h3>Members</h3>
			<table class='editform kids-tbl' width=100%>
				<thead>
					<th>Person</th>
					<th>Role</th>
					<th>Is Admin?</th>
				</thead>
				<tbody>
					<tmpl_loop members>
						<tr>
							<td>
								<b>%%member_name%%</b>
							</td>
							<td>
								<input type=text class='textinput' name='role_%%memberid%%' value='%%role%%' size=20>
							</td>
							<td>
								<input type=checkbox class='textinput' name='admin_%%memberid%%' value='1' <tmpl_if is_admin>checked</tmpl_if> id='admin_%%memberid%%'>
							</td>
						</tr>
					</tmpl_loop>
					<tr>
						<td>
							<select name='new_member_userid'>
								<tmpl_loop new_members>
									<option value='%%value%%'>%%text%%</option>
								</tmpl_loop>
							</select>
						</td>
						<td>
							<a name='add_another'><input type=text class='textinput' id='role_new' name='role_new' value='' size=20></a>
						</td>
						<td>
							<input type=checkbox class='textinput' name='admin_new' value='1' id='admin_new'>
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<input type=submit name=add_another value='Add Member'>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr><td colspan=2><hr size=1></td></tr>
		<!--<tmpl_if is_admin>
			<tr>
				<td valign=top><a name='admin_notes'>Admin Notes</a>:</td> <td><textarea name=admin_notes id='admin_notes' class='textinput' rows=4 cols=40>%%admin_notes%%</textarea></td>
			</tr>
			<tr><td colspan=2><hr size=1></td></tr>
		</tmpl_if>-->
		<tr>
			<td colspan=2 class=controls>
				<input type=submit value="Save Changes"> 
				<input type=reset value="Reset to Original Values">
			</td>
		</tr>
	</table>
	
	
</form>

<script>
$(document).ready(function() {
	
	if(window.location.hash.indexOf("add_another")>0)
	{
		$('#role_new').get(0).focus();
	}
/*	else
	if(window.location.hash.indexOf("admin_notes")>0)
	{
		$('#admin_notes').get(0).focus();
	}*/
	else
	if(!window.location.hash)
	{
		$('#title').get(0).focus();
	}
	
	$('.textinput').live("focus", function() {
		this.select();
	});
	
	
});
	
</script>