<title>%%group_title%% - Groups</title>


<tmpl_unless is_mobile>
	${inc:%%appcore%%/mods/ThemePHC/tmpl/groups/inc-eventlist-dated.tmpl}
	<style>
		.event_list li
		{
			background-color: #FFFFFF;
			/*background: red;*/
			border-bottom: 1px dotted black;
			font-size: 1.5em;
			list-style-type: none;
			text-align: left;
			padding-bottom: 10px;
			padding-top: 8px;
			overflow: hidden;

		}
		
		.event_list 
		{
			background: white;
			/*padding: 5px 0 0 0;*/
			/*border-top: 2px solid black;
			border-bottom: 2px solid black;*/
			font-size: 8px;
			
			/*float: right;
			margin-right: -20em;*/
			
			width: 20.5em;
			margin-right: -22.5em;
			/*margin-top: -4em;*/
			padding: .5em;
			float: right;
			background: #E6E6E6;
			-moz-border-radius: 3px;
		}

	</style>
</tmpl_unless>

<h1 class='title'>%%group_title%%</h1>

<style>
.tagline
{
	font-weight: bold;
	border-bottom: 1px solid rgb(200,200,200);
	padding-bottom:.5em;
	margin-top: 1em;
}

div.description { margin: .5em 0}
		
/*h3.event_list_title
{
	margin-top: 2em;
}*/

.board_admin_link
{ 
	float: right;
	margin-top: -2em;
	margin-right: .4em;
}
		
</style>

<div class='board_admin_link'>
	<a href='%%binpath%%/edit?groupid=%%group_groupid%%'>Edit Group</a>
</div>

<tmpl_if group_tagline>
	<div class='tagline'>
		%%group_tagline%%
	</div>
</tmpl_if>

<tmpl_if group_description>
	<div class='description'>
		%%group_description%%
	</div>
</tmpl_if>



<style>
.posts { margin-top:-.5em;<tmpl_unless weekly_widget>border-bottom:none</tmpl_unless>}
h1.event-list-header
{
	/*background-image: url(/images/jib3.png) !important;*/
	background-image: none!important;
	background-position: 0 -8px !important;
	/*background-color: white !important;*/
	/*padding-left: 70px !important;*/
	padding-left: 5px !important;
	/*margin-bottom: -1em;*/
	margin-top: .5em;
}
h1 a{border:0 !important}

td.subject,
td.title
{
	background: #e9eeff;
	border-bottom: 1px solid #c7cddf;
	border-top: 1px solid white;
	padding: .5em .25em;
}

.posts td a
{
	text-decoration: none;
	color: black;
}


</style>

<tmpl_if is_mobile>
	
	${inc:%%appcore%%/mods/ThemePHC/tmpl/groups/inc-eventlist-dated.tmpl}
	
</tmpl_if>


<tmpl_if events_weekly>
	<h3 class='event-list-header'><a name='weekly'>Every Week</a></h3>
		
	<table class='posts' width='100%' cellpadding='0' cellspacing='0' style='margin-top:-1.5em'>
		<tbody>
			<tr><td class='group-header' colspan=4>&nbsp;</td></tr>
			<tmpl_loop events_weekly>
				<tr>
					<td colspan=99>
						<h3 style='margin-bottom:-1px'><tmpl_var day_name></h3>
					</td>
				</tr>
				
				<tmpl_loop list>		
					<tr class='<tmpl_var post_flags>'>
						<td nowrap class='subject' align='center'>
							<a href='%%bin%%/%%folder_name%%' class='title_link'>%%time%%</a>
						</td>
						<td class=title>
							<a href='%%bin%%/%%folder_name%%' class='title_link'><b>%%event_event_text%%</b></a>
						</td>
					</tr>
				</tmpl_loop>
			</tmpl_loop> 
		</tbody>
	</table>
</tmpl_if>
	
<tmpl_if is_mobile>
	<h1>Bulletin Board</h1>
<tmpl_else>
	<h3 class='posts_list_title' style='margin-top:1.5em'>Bulletin Board</h3>
</tmpl_if>
${inc:%%appcore%%/mods/ThemePHC/tmpl/boards/list.tmpl}

