<!--<link href="/css/boards.css" rel="stylesheet" type="text/css" />-->

<title>Reply to "<tmpl_var post_subject>" - Bulletin Boards</title>
<h1>Reply to "<tmpl_var post_subject></h1>

<!--%macro::sub_nav()%-->
<tmpl_var board_nav>


<script src='%%appcore%%/ckeditor/ckeditor.js' index="0"></script>
<script>
function win_onload()
{

// 	var oFCKeditor = new FCKeditor('age') ;
// 	oFCKeditor.BasePath = '/fckeditor/' ;
// 	oFCKeditor.ToolbarSet = 'JBlog';
// 	oFCKeditor.Height = "300px" ;
// 	
// 	oFCKeditor.ReplaceTextarea();

	
	

}

//global.onload(win_onload);
</script>

<tmpl_if reply_text>
	<div class='ffjc-info'>
		<b>You are replying to:</p>
			<blockquote>
				<p><tmpl_var reply_text></p>
			</blockquote>
		</p>
	</div>
</tmpl_if>

<form action='<tmpl_var post_url>' method=POST style='display:inline;border:0;padding:0;margin:0' name=comment>
	<input type=hidden name=parent_commentid value="<tmpl_var reply_postid>">
	

	<div id="round_me" align=center style="background:rgb(220,220,220);padding-top:5px;padding-bottom:5px;-moz-border-radius: 5px;border:rgb(220,220,220);margin-bottom:.5em">
	
		<table border=0 cellpadding=3 cellspacing=0 style="margin:1em">
			<tr class='name'>
				<td>Your Name?</td> <td>
					<!--<tmpl_if user_display>readonly style='background:rgb(220,220,220)'</tmpl_if>-->
					<input type=text name=poster_name onfocus='select()' value='<tmpl_var user_display escape=html>' size=30> 
					<!--<span style='font-size:.85em;color:rgb(100,100,100)'>(Will <b>NOT</b> be displayed)</span>-->
					<!--<sxcript>var e= $x('name');if(e)e.focus()</script>-->
				</td>
			</tr>
			<tr class='email'>
				<td valign=top>Your E-Mail:</td> <td>
					<input type=text name=poster_email onfocus='select()' <tmpl_if user_email>readonly style='background:rgb(220,220,220)'</tmpl_if> value="<tmpl_var user_email>" size=30><br>
					<span style='font-size:.85em;color:rgb(100,100,100)'>(We will <b>NEVER</b> show or share your e-mail address with <b>ANYONE!</b>)</span>
				</td>
			</tr>
			
			<!--<tr class='subject'>
				<td>Subject:</td> <td><input type=text name=subject id=subject value="<tmpl_var subject escape=html>" size=65>
				
				</td>
			</tr>-->
		<!--	<tr class='zip'>
				<td valign=top>Comment:</td> <td><textarea rows=8 cols=65 id=comment name=comment></textarea>
				</td>
				
			</tr>-->
			<tr class='age'>
				<td valign=top>Comment:</td> <td><textarea rows=8 cols=65 id=age name=age><tmpl_var comment></textarea>
				<!--<sxcript type="text/javascript">var e=$x('age');if(e){e.focus();e.select()}</script>-->
				<script>
				//CKEDITOR.basePath = '%%appcore%%/ckeditor/'; 
				CKEDITOR.replace( 'age', {
					//baseHref: '%%appcore%%/ckeditor/',
					extraPlugins : 'autogrow',
					width: '96%',
					//skin: 'office2003'
					skin: 'kama',
					disableNativeSpellChecker: false,
					removePlugins: 'elementspath,scayt,contextmenu',
			
					//skin: 'v2'
				});
				
				</script>
				</td>
				
			</tr>
			
			
			
			<tr>
				<td colspan=2 align=center class=focus_highlight>
				<br>
				
				<input type=submit value="Save Comment"> 
				<input type=reset value="Reset to Original Values"> 
				</td>
			</tr>
		
		
		</table>
	</div>
	
</form>
