		<tmpl_if nav_path>
			<div class='nav_level2'>
				<table cellspacing=0 cellpadding=0 border=0 width='100%'>
					<tr>
						<td width='100%'>
							<span class=breadcrumbs>
							<tmpl_if nav_path>
								<tmpl_loop nav_path>
									<tmpl_if current>
										<span class=current>%%title%%</span>
									<tmpl_else>
										<a href='%%url%%'>%%title%%</a><span class=divider> &raquo;</span>
									</tmpl_if>
								</tmpl_loop>
							</tmpl_if>
							</span>
							
							<tmpl_if nav_kids>
								<span class=divider>&raquo;</span>
								<span class=kids>(
								<tmpl_loop nav_kids>
								<a href='%%url%%'>%%title%%</a><tmpl_unless last><span class='or_divider'> | </span></tmpl_unless>
								</tmpl_loop>
								)</span>
							</tmpl_if>
						</td><!--
						<tmpl_if nav_url_from>
							<td nowrap>
								<div>
									<a href='%%nav_url_from%%'>&laquo; Previous page</a>
								</div>
							</td>
						</tmpl_if>-->
						<td nowrap>
							<!--<tmpl_if nav_url_from>
								&nbsp;|
							</tmpl_if>-->
							
							<tmpl_if user_userid>
								<a href='/user/settings'>%%user_display%%</a> (<a href='/user/login'>Logout</a>)
								<tmpl_if can_edit> | <a href='/content/admin/edit?url=%%content_url%%'>Edit Page</a></tmpl_if>
								<tmpl_if is_admin> | <a href='/admin'>Admin</a></tmpl_if>
							<tmpl_else>
								<a href='/user/login'>Login</a> | <a href='/user/signup'>Signup</a>
							</tmpl_if>
						</td>
						<td nowrap>
							<div id='no_float_wrap' style='display:none'>
								| 
								<a href='#' class='no_float'>Don't Float</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</tmpl_if>