<html>
<head>
	<title>Pleasant Hill Church</title>
	<!--<link href="%%modpath%%/css/frontpage.css" rel="stylesheet" type="text/css" />-->
	<a:cssx src="%%modpath%%/css/frontpage.css"/>
</head>

<body>

<tmpl_include main-nav.inc.tmpl>
<!-- Hack our download order to reduce blockages futher in the download pipeline -->
<img src='%%modpath%%/images/graphic_box_bg_sm.png' style='display:none'>

<div id='header'>
	<div id='header-shadow'>
		<div id='mainlogo-floater'>
			<div id='mainlogo-wrap'>
				<!--<img src='%%modpath%%/images/mainlogo.png' id='mainlogo'>-->
				<img src='%%modpath%%/images/mainlogo-300px-sm.png' id='mainlogo'>
				<!--<img src='%%modpath%%/images/mainlogo-cropped2-250px.png' id='mainlogo'>-->
				
			</div>
		</div>
	</div>
</div>

<!-- Downloading these images here instead of later in the order reduces page render time by ~100ms due to blocking at the end -->
<img src='%%modpath%%/images/sidebar.jpg'       style='display:none'> 
<img src='%%modpath%%/images/header-bluebg.jpg' style='display:none'>

<div id='graphicblock-wrap'>
	<div id='graphicblock'>
		<div id='graphicblock-bg'>
			&nbsp;
		</div>
	</div>
</div>


<div id='graphic-floater'>
	<div id='graphic-centerer'>
		<div id='graphic-wrap'>
			<div class='block-item' id='block-title-slide'>
				<center>
					<img src='%%modpath%%/images/logo-white-textunder-250px-sm.png' style='margin-top:30px'>
				</center>
			</div>
			<div class='block-item' id='block-video'>
				<center>
					<!--<iframe src="http://player.vimeo.com/video/22211666?byline=0&amp;portrait=0" width="400" height="300" frameborder="0" class='vimeo-video'></iframe>-->
					 <h3>Still working on Video...</h3>
				</center>
			</div>
			<div class='block-item' id='block-events'>
				<center>
					<h1>Upcoming Events!</h1>
					
					<div class='event_list'>
						<ul>
							<li>
								<a href='#'>
									<h5>
										<strong>Apr</strong>
										5
									</h5>
									<h3 class='event-title'>Potluck!</h3>
									<p>Next Sunday, 4/24, we are having a potluck! Come enjoy!</p>
								</a>
							</li>
							<li>
								<a href='#'>
									<h5>
										<strong>Apr</strong>
										12
									</h5>
									<h3 class='event-title'>Photo Fun</h3>
									<p>Join us to get shot!</p>
								</a>
							</li>
							<li>
								<a href='#'>
									<h5>
										<strong>Apr</strong>
										17
									</h5>
									<h3 class='event-title'>PHYSH Canoing</h3>
									<p>Dunk the Pastor and run!</p>
								</a>
							</li>
							<li class='readmore'>
								<a href='#'>
									<span>See More...</span>
								</a>
							</li>
						</ul>
					</div>
						
					
				</center>
			</div>
			<div class='block-item' id='block-photos'>
				<center>
					<h3>Still working on Photos...</h3>
				</center>
			</div>
			<div class='block-item' id='block-prayers'>
				<center>
					<h3>Still working on Prayer Requests...</h3>
				</center>
			</div>
		</div>
		<div id='sidebar'>
			<div class='sidebar-link-block'>
				<a href='/video' class='link-block' id='link-video' block-suffix='video'>
					<span class='title'>Watch Current Message</span><br/>
					<span class='subtitle'>"Our Marvelous Messiah" - Apr 10</span>
				</a>
			</div>

			<div class='sidebar-link-block'>
				<a href='/events' class='link-block' id='link-events' block-suffix='events'>
					<span class='title'><b>Upcomming Events</b></span><br/>
					<span class='subtitle'>Updated two days ago!</span>
				</a>
			</div>

			<div class='sidebar-link-block'>
				<a href='/photos' class='link-block' id='link-photos' block-suffix='photos'>
					<span class='title'><b>Photos from PHC</b></span><br/>
					<span class='subtitle'>Updated yesterday!</span>
				</a>
			</div>

			<div class='sidebar-link-block'>
				<a href='/prayer' class='link-block' id='link-prayers' block-suffix='prayers'>
					<span class='title'><b>Prayer Requests</b></span><br/>
					<span class='subtitle'>Updated about two hours ago!</span>
				</a>
			</div>
		</div>
	</div>
</div>


<div class='bodywrap'>
	<!-- Main nav links here -->
	<div class='bodycontent'>
		%%page_content%%
		<tmpl_include user-footer.inc.tmpl>
	</div>
	<!-- In-page footer here -->
</div>

<div id='footer'>
	<div id='footercontent'>
		<a href='/?sitepref=mobile'>View <b>Mobile Version</b></a>
	</div>
</div>
<!--<script src='%%appcore%%/js/jquery-1.5.2.min.js'></script>-->
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>
<script src='%%appcore%%/js/jquery-scrollto.js'></script>
<script src='%%modpath%%/js/frontpage.js'></script>
</body>
</frontpage>