<!--<link href="%%modpath%%/css/main-nav.css" rel="stylesheet" type="text/css" />-->
<a:cssx src="%%modpath%%/css/main-nav.css"/>
<!--<Xstyle>h2#mobile-link{background: -moz-linear-gradient(center top , #eee 0%, #777 100%) repeat scroll 0 0 transparent;}</style>-->
<h2 id='mobile-link'>
	<!--<a href='/?sitepref=mobile'>Go to the <b>Mobile Version</b> of the PHC Website</a>-->
	<a href='?sitepref=mobile' title='View Mobile Version of this page'><b>Mobile Version</b></a>
</h2>
	


<div id='navblock'>
	<div id='header-wrap'>
		<div id='header-content'>
			<table border=0 cellspacing=0 cellpadding=0 align=center>
			<tr>
			<td nowrap>
				<ul id='mainnav'>
					<tmpl_loop mainnav>
						<li><a href='%%url%%'>%%title%%</a>
							<tmpl_if kids>
								<ul>
									<tmpl_loop kids>
										<li><a href='%%url%%'>%%title%%</a></li>
									</tmpl_loop>
								</ul>
							</tmpl_if>
						</li>
					</tmpl_loop>
					
					<!-- IE Fix - IE Refuses to show last list item item... not sure why! -->
					<li>&nbsp;</li>
				</ul>
			</td>
			<td>
				<div class=search>
					<form action='#' method=GET>
						<input name="q" id="top-searchbox" maxlength="80" alt="Search" class="inputbox" type="text" size="80" value="Search..."  onblur="if(this.value=='') this.value='Search...';" onfocus="if(this.value=='Search...') this.value='';" />
					</form>
				</div>
				
				<!--<a href='/?sitepref=mobile'>Mobile</a>-->
				
			</td>
			</tr>
			</table>
		</div>
	</div>
</div>