<link href="%%modpath%%/css/main-nav.css" rel="stylesheet" type="text/css" />
<div id='navblock'>
	<div id='header-wrap'>
		<div id='header-content'>
			<ul id='mainnav'>
				<li><a href='/location'>Location</a>
		
				</li>
				<li><a href='/groups'>Groups</a>
					<ul>
						<li><a href='/groups/small'>Small Groups</a></li>
						<li><a href='/groups/large'>Large Groups</a></li>
					</ul>
				</li>
				<li><a href='/ministries'>Ministries</a>
					<ul>
						<li><a href='/ministries/hiskross'>Kids (HIS KROSS)</a></li>
						<li><a href='/ministries/physh'>Youth Group (PHYSH)</a></li>
						<li><a href='/ministries/adults'>Adults</a></li>
						<li><a href='/ministries/techarts'>Technical Arts</a></li>
						<li><a href='/ministries/choir'>Choir</a></li>
						<li><a href='/ministries/smallgroups'>Small Groups</a></li>
					</ul>
				</li>
				<li><a href='/about'>About Us</a>
					<ul>
						<li><a href='/about/history'>History</a></li>
						<li><a href='/about/doctrine'>Doctrine</a></li>
						<li><a href='/about/staff'>Staff</a></li>
						<li><a href='/dir'>Member Directory</a></li>
					</ul>
				</li>
				<li><a href='/contrib'>Contributions</a></li>
				<li><a href='/contact'>Contact Us</a></li>
			</ul>
		
			<form action='#' method=GET>
				<input name='q' id='top-searchbox'>
			</form>
		</div>
	</div>

</div>