<!--<link href="%%modpath%%/css/main-nav.css" rel="stylesheet" type="text/css" />-->
<a:cssx src="%%modpath%%/css/main-nav.css"/>
<!--<Xstyle>h2#mobile-link{background: -moz-linear-gradient(center top , #eee 0%, #777 100%) repeat scroll 0 0 transparent;}</style>-->
<h2 id='mobile-link'>
	<!--<a href='/?sitepref=mobile'>Go to the <b>Mobile Version</b> of the PHC Website</a>-->
	<a href='?sitepref=mobile' title='View Mobile Version of this page'><b>Mobile Version</b></a>
</h2>
	


<div id='navblock'>
	<div id='header-wrap'>
		<div id='header-content'>
			<table border=0 cellspacing=0 cellpadding=0 align=center>
			<tr>
			<td nowrap>
				<ul id='mainnav'>
					<tmpl_loop mainnav>
						<li class='nav-%%no_slash%%'><a href='%%url%%'><span class='icon'><tmpl_if icon><img src='%%icon%%' border=0 align=absmiddle></tmpl_if></span>%%title%%</a>
							<tmpl_if kids>
								<ul class=level2nav>
									<tmpl_loop kids>
										<li>
											<tmpl_if kids><span class='kid_flag'>&raquo;</span></tmpl_if>
											<a href='%%url%%'>%%title%%</a>
											<tmpl_if kids>
												<ul class='level3nav'>
													<tmpl_loop kids>
														<li><a href='%%url%%'>%%title%%</a>
													</tmpl_loop>
												</ul>
											</tmpl_if>
										</li>
									</tmpl_loop>
								</ul>
							</tmpl_if>
						</li>
					</tmpl_loop>
					
					<!-- IE Fix - IE Refuses to show last list item item... not sure why! -->
					<li>&nbsp;</li>
				</ul>
			</td>
			<td>
				<div class=search>
					<form action='/search' method=GET>
						<input name="q" id="top-searchbox" maxlength="80" alt="Search" class="inputbox" type="text" size="80" value="Search..."  onblur="if(this.value=='') this.value='Search...';" onfocus="if(this.value=='Search...') this.value='';" />
					</form>
					<script>
					if(typeof($( "#top-searchbox" ).autocomplete) == 'function')
					{
						$( "#top-searchbox" ).autocomplete({
							source: "/search/autocomplete",
							minLength: 2,
							select: function( event, ui ) {
	// 							alert( ui.item ?
	// 								"Selected: " + ui.item.value + " aka " + ui.item.id :
	// 								"Nothing selected, input was " + this.value );
								if(ui.item)
									document.location = ui.item.id;
							}
						}).get(0).setAttribute('autocomplete','off');
					}
					</script>
				</div>
				
				<!--<a href='/?sitepref=mobile'>Mobile</a>-->
				
			</td>
			</tr>
			</table>
		</div>
	</div>
</div>