<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="Description" content="Welcome to Pleasant Hill! Whether your checking out God and church for the first time, or are looking for a new place to call home, Pleasant Hill has a place for you!" />
	<meta name="viewport" content="user-scalable=no, width=320" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title><tmpl_if page_title>%%page_title%% - </tmpl_if>PHC</title>
	<link rel="icon" type="image/x-icon" href="%%modpath%%/favicon-trans.ico">
	<a:cssx src="%%modpath%%/css/mobile.css"/>
</head>

<body>	
	<h2 id='full-link'>
		<a href='?sitepref=full'>View Full PHC Website</a>
	</h2>
	<div id='header'>
		<div id='header-shadow'>
			
			<div id='logo'>
				<a href='/'><img src='%%modpath%%/images/logo-mobile-114pxh-320pxw-sm.png' id='logo' border=0 alt='PHC' width='320' height='114'></a>
			</div>
			
			<div id='nav'>
				<ul>
					<li>
						<a href='/m/news' class='news'>News</a>
					</li>
					<li>
						<a href='/m/prayer' class='prayer'>Prayer</a>
					</li>
					<li>
						<a href='/m/contact' class='contact'>Contact</a>
					</li>
					<li class='last'>
						<a href='/m/more' class='more'>More</a>
					</li>
				</ul>
			</div>
	
		</div>
	</div>
	<div id='bodywrap'>
		<div class='bodycontent'>
			%%page_content%%
		</div>
			
		<div class='bodyfooter'>
			<tmpl_if user_userid>
				<h3 class='title-divider'><div>Account: <tmpl_if user_first>%%user_first%%<tmpl_else>%%user_display%%</tmpl_if></div></h3>
				<ul class='links'>
					<li><a href='/user/login'><h4>Signoff</h4></a></li>
					
					<tmpl_if can_edit> 
						<li><a href='/content/admin/edit?url=%%content_url%%'><h4>Edit Page</h4></a></li>
					</tmpl_if>
					
					<tmpl_if is_admin> 
						<li><a href='/admin'><h4>Administration</h4></a></li>
					</tmpl_if>
				</ul>
			<tmpl_else>
				<h3 class='title-divider'><div>You're not logged in!</div></h3>
				<ul class='links'>
					<li><a href='/user/login'><h4>Signin</h4></a></li>
					<li><a href='/usr/signup'><h4>Signup</h4></a></li>
				</ul>
			</tmpl_if>
		</div>
	</div>
<!--<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>-->
</body>
</html>
