	<tmpl_if is_mobile>
		<style>
		.nav-subs-mobile
		{
			padding: 3px;
		}
		
		.nav-subs-mobile a
		{
			text-align: left;/*
			display: block;*/
			border: 1px solid #768ad3;
			background-color: #e2e7f7;
			line-height: 30px;
			color: #768ad3 !important;
			padding: 4px;
			margin: 3px;
			/*line-height: 4;*/
			background-image: none;
			/*margin-right: 4;*/
			text-decoration: none !important;
			-moz-border-radius: 3px;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			box-shadow: 0px 0px 3px #000;
			/*text-shadow: black 0px 0px 3px;*/
			font-weight: bold;
			text-align: center;
			
			width: auto;
		}
		
		.nav-subs-mobile a.current
		{
			background-color: white;
			border-color: black;
			color: black !important;
			/*border-width: 2px;*/
			box-shadow: 0px 0px 5px #000;
			-moz-box-shadow: 0px 0px 5px #000;
			-webkit-shadow: 0px 0px 5px #000;
		}
		div.fc { clear:both }
		
		.current-wrap 
		{
			position: relative;
			display: inline;
		}
		
		.current-wrap .sub-menu
		{
			position: absolute;
			top: 2em;
			left: .25em;
			text-align: left;
			width: 10em;
			padding: .5em;
			
			border: 1px solid black;
			background-color: white;
			/*-moz-border-radius: 3px;
			border-radius: 3px;*/
			margin-left: -4.5em;
			
			display: none;
		}
		
		.current-wrap .sub-menu li
		{
			margin-bottom: .5em;
		}
		
		.current-wrap .sub-menu ul
		{
			list-style: none;
		}
		
		</style>
		<tmpl_if nav_sibs>
		<div class=nav-subs-mobile>
			<div class=wrap>
				<center>
				You are here:
			
				<tmpl_loop nav_sibs><tmpl_if current>
						<a href='%%url%%' <tmpl_if current>class='current'</tmpl_if>>%%title%%</a>
				</tmpl_if></tmpl_loop>
				
				<div class=current-wrap>
					
					<a href='#' id='subnav-current' >More...</a>
					
					<div class=sub-menu id='subnav-menu'>
						<ul>
							<tmpl_loop nav_sibs>
								<li><a href='%%url%%' <tmpl_if current>class='current'</tmpl_if>>%%title%%</a></li>
							</tmpl_loop>
						</ul>
					</div>
				</div>

				
				</center>
			</div>
		</div>
		</tmpl_if>
		<div class=fc></div>
		
		<script>
			$("#subnav-current").live("click", function() {
				var menu = $("#subnav-menu");
				if(menu.css("display") != "block")
					menu.css("display", "block");
				else
					menu.css("display", "none");
				return false;
			});
		</script>
		
		<div class=pagebody>
			%%page_content%%
		</div>
	<tmpl_else>
		<table border=0 cellpadding=0 cellspacing=0 width='100%'>
			<tr>
				<tmpl_if nav_sibs>
					<td valign=top class='nav-sibs-cell'>
						<div class=nav-sibs>
							<ul>
								<tmpl_loop nav_sibs>
									<li <tmpl_if current>class='current'</tmpl_if>>
										<a href='%%url%%'>%%title%%</a>
									</li>
								</tmpl_loop>
							</ul>
						</div>
					</td>
				</tmpl_if>
				<td valign=top>
					<div class=pagebody>
						<!--<tmpl_if page_title>
							<h1>%%page_title%%</h1>
						</tmpl_if>-->
						
						%%page_content%%
					</div>
					
				</td>
			</tr>
		</table>
		<style>
		
		</style>
		<script>
		$(function() 
		{
			var block2 = $('.nav_level2');
			var block1 = $('.nav-sibs');
			
			block1.fixedPos = '2.2em';
			block1.unfix = function() {
				markUnfixed(block2);
			}
			
			block2.fixedPos = '1.5em';
			block2.fix = function() {
				this.css('border','1px solid rgb(200,200,200)').css('width','957px');
				markFixed(block1);
			}
			block2.unfix = function() {
				this.css('border','0').css('width','auto');
				markUnfixed(block1);
			}
			
			
			
			var fixedList = [block1,block2];
			
			function markFixed(navRef)
			{
				navRef.css('position','fixed');
				navRef.css('top', navRef.fixedPos);
				
				if(navRef.fix)
					navRef.fix();
			}
			
			function markUnfixed(navRef)
			{
				if(navRef.css('position') == 'fixed')
				{
					//console.debug(navRef.attr('className')+": mark2"); 
					//console.debug(navRef.attr('className')+":  unfixing");
					navRef.css('position','relative');
					navRef.css('top', 'auto');
					
					if(navRef.unfix)
						navRef.unfix();
				}
			}
			
			function fixThisFloater(navRef,scrollTop)
			{
				var offset = navRef.offset();
				if(!offset) 
				{
					// nav ref probably doesnt exist
					return false;
				}
				var rowTop = offset.top;
				if(!navRef.origTop)
					navRef.origTop = rowTop;
					
				//console.debug(navRef.attr('className')+": rowTop:"+rowTop+", scrollTop:"+scrollTop+", origTop:"+navRef.origTop); 
				if(rowTop < scrollTop && navRef.css('position') != 'fixed')
				{
					markFixed(navRef);
				}
				else
				if(navRef.origTop > scrollTop)
				{
					//console.debug(navRef.attr('className')+": mark1: "+navRef.css('position'));
					markUnfixed(navRef);
				}
			}
			
			var disableFloat = false;
			function fixFloaters() {
				//return;
				//var rowRef = $("tr.loadmore");
				if(disableFloat)
					return;
				var scrollTop = $(window).scrollTop(); // + $(window).height();
				var fudge = 0; // amount by which to fudge the detection
				
				for(var i=0;i<fixedList.length;i++)
				{
					fixThisFloater(fixedList[i],scrollTop);
				}
			}
			
			function setCookie(name,value,days) {
				if (days) {
					var date = new Date();
					date.setTime(date.getTime()+(days*24*60*60*1000));
					var expires = "; expires="+date.toGMTString();
				}
				else var expires = "";
				document.cookie = name+"="+value+expires+"; path=/";
			}
			
			function getCookie(name) {
				var nameEQ = name + "=";
				var ca = document.cookie.split(';');
				for(var i=0;i < ca.length;i++) {
					var c = ca[i];
					while (c.charAt(0)==' ') c = c.substring(1,c.length);
					if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
				}
				return null;
			}
			
			function deleteCookie(name) {
				setCookie(name,"",-1);
			}

			$('.no_float').live('click',function() {
				disableFloat = true;
				for(var i=0;i<fixedList.length;i++)
				{
					markUnfixed(fixedList[i]);
				}
				$('.no_float_wrap').hide();
				setCookie('phc.nofloat','true',30);
				return false;
			});
			
			disableFloat = getCookie('phc.nofloat') == 'true';
			if(disableFloat)
			{
				$('.no_float_wrap').hide();
			}
			else
			{
				$(window).bind('scroll', fixFloaters);
				
				setTimeout(fixFloaters, 100);
			}
		});
		</script>
		
	</tmpl_if>