<html>
<head>
	<title><tmpl_if page_title>%%page_title%% - </tmpl_if>Pleasant Hill Church</title>
	<link href="%%modpath%%/css/subpage.css" rel="stylesheet" type="text/css" />
	<script src='%%appcore%%/js/jquery-1.5.2.min.js'></script>
</head>

<body>

<tmpl_include main-nav.inc.tmpl>

<div id='header'>
	<div id='header-shadow'>
		<div id='mainlogo-wrap'>
			<a href='/'>
				<!--<img src='%%modpath%%/images/mainlogo-cropped2-250px.png' id='mainlogo' border=0>-->
				<img src='%%modpath%%/images/mainlogo-300px-bcrop.png' id='mainlogo' border=0>
			</a>
		</div>
	</div>
</div>

<div class='bodywrap'>
	<div class='bodycontent'>
		
		<tmpl_include breadcrumbs.inc.tmpl>
		
		%%page_content%%
		
		<tmpl_include user-footer.inc.tmpl>
	</div>
</div>

<div id='footer'>

</div>

</body>
</html>
