<html>
<head>
	<title><tmpl_if page_title>%%page_title%% - </tmpl_if>Pleasant Hill Church</title>
	<!--<link href="%%modpath%%/css/subpage.css" rel="stylesheet" type="text/css" />-->
	<link rel="icon" type="image/x-icon" href="%%modpath%%/favicon-trans.ico"/>
	
	<link href='%%appcore%%/jquery-ui/css/smoothness/jquery-ui-1.8.12.custom.css' rel="stylesheet" type="text/css">
	<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js'></script>
	
	<!-- This stylesheet applies to all browsers -->
	<a:cssx src="%%modpath%%/css/subpage.css"/>
	
	<!-- Now for fun with Internet Explorer -->
	<!--[if lt ie 7.0]>
	<link href="%%modpath%%/css/iefixup-pre-ie7.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if gte ie 7.0]>
	<link href="%%modpath%%/css/iefixup-post-ie7.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if ie]>
	<link href="%%modpath%%/css/iefixup-all-ie.css" rel="stylesheet" type="text/css" />
	<![endif]-->
</head>

<body class='subpage'>

<tmpl_include main-nav.inc.tmpl>

<div id='header'>
	<div id='header-shadow'>
		<div id='mainlogo-wrap'>
			<a href='/'>
				<!--<img src='%%modpath%%/images/mainlogo-cropped2-250px.png' id='mainlogo' border=0>-->
				<img src='%%modpath%%/images/mainlogo-300px-bcrop-sm.png' id='mainlogo' border='0'/>
			</a>
			<a title='Learn more about Building Lives for Eternity...' href='/about/vision#build' id='build-lnk'>
				<img src='%%modpath%%/images/build8.png' border=0 alt='Building Lives for Eternity' title='Learn about Building Lives for Eternity...'>
			</a>
		</div>
	</div>
</div>

<div class='bodywrap'>
	<div class='bodycontent'>
		
		<tmpl_include breadcrumbs.inc.tmpl>
		
		%%page_content%%
		
		<tmpl_include user-footer.inc.tmpl>
	</div>
</div>

<div id='footer'>
	<div id='footercontent'>
		<a href='?sitepref=mobile'>View <b>Mobile Version</b> of this page!</a>
	</div>
</div>

<!--<xxscript src='%%appcore%%/js/jquery-1.5.2.min.js'></script>-->
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' index="-100"></script>
</body>
</html>
