<html>
<head>
<title>%%page_title%%</title>
	<link href="%%modpath%%/css/subpage.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id='navblock'>
	<ul id='mainav'>
		<li><a href='#'>Location</a>

		</li>
		<li><a href='#'>Groups</a>
			<ul>
				<li><a href='#'>Small Groups</a></li>
				<li><a href='#'>Large Groups</a></li>
			</ul>
		</li>
		<li><a href='#'>Ministries</a></li>
		<li><a href='#'>About Us</a></li>
		<li><a href='#'>Meaningful Contributions</a></li>
		<li><a href='#'>Contact Us</a></li>
	</ul>

	<form action='#' method=GET>
		<input name='q' id='top-searchbox'>
	</form>

</div>

<div id='header'>
	<div id='header-shadow'>
		<div id='mainlogo-wrap'>
			<a href='/'>
				<img src='%%modpath%%/images/mainlogo-cropped2-250px.png' id='mainlogo' border=0>
			</a>
		</div>
	</div>
</div>

<div class='bodywrap'>
	<!-- Main nav links here -->
	<div class='bodycontent'>
		%%page_content%%
		<hr size=1>
		<span style='font-size:.75em'>
			<tmpl_if user_display>
				You are logged in as <i>%%user_display%%</i> | <a href='/user/login'>Signoff</a>
			<tmpl_else>
				<a href='/user/login'>Signin</a> | <a href='/usr/signup'>Signup</a>
			</tmpl_if>
		</span>
	</div>
	<!-- In-page footer here -->
</div>

<div id='footer'>

</div>

</body>
