		<hr size=1>
		<span style='font-size:.75em'>
			<tmpl_if user_display>
				You are logged in as <i>%%user_display%%</i> | <a href='/user/login'>Signoff</a> | <a href='/admin/pages/edit?url=%%content_url%%'>Edit Page</a>
			<tmpl_else>
				<a href='/user/login'>Signin</a> | <a href='/usr/signup'>Signup</a>
			</tmpl_if>
		</span>