<script flag='dynamic_server_content'>
<tmpl_if user_userid>
window.USER_DISPLAY = "%%user_display%%";
</tmpl_if>
</script> 
<script src='/appcore/mods/ThemePHC/js/live-extra.js'></script>


					<!--<iframe src='/appcore/mods/ThemePHC/livefeed.html' width='480' height='296' style='border:0'>
					</iframe>-->
					
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" height="296" id="utv39192" width="480">
				<param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=8249750&amp;v3=1" />
						<param name="allowfullscreen" value="true" />
						<param name="allowscriptaccess" value="always" />
						<param name="movie" value="http://www.ustream.tv/flash/viewer.swf" />
						<embed allowfullscreen="true" allowscriptaccess="always" flashvars="autoplay=false&amp;brand=embed&amp;cid=8249750&amp;v3=1" height="296" id="utv39192" name="utv_n_475394" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash" width="480"></embed>
					</object>
