<title><tmpl_if boardid>Edit &quot;%%title%%&quot;<tmpl_else>Create New Board</tmpl_if></title>
<h1><tmpl_if boardid>Edit &quot;%%title%%&quot;<tmpl_else>Create New Board</tmpl_if></h1>

<form action='%%binpath%%/save' method=POST>

	<input type=hidden name=boardid value="<tmpl_var boardid>">
	<input type=hidden name=url_from value="<tmpl_var url_from>">

	<table class='editform'>
			<tr>
				<td>Title:</td> <td><input type=text name=title class='textinput' value='%%title%%' size=40></td>
			</tr>
			<tr>
				<td>Tag Line:</td> <td><input type=text name=tag_line class='textinput' value='%%tag_line%%' size=40></td>
			</tr>
			<tr>
				<td>Description:</td> <td><input type=text name=description class='textinput' value='%%description%%' size=40></td>
			</tr>
			<tr>
				<td>Manager:</td> <td>
				<select name=managerid>
					<tmpl_loop users>
						<option value='%%value%%' <tmpl_if selected>selected</tmpl_if>>%%text%%</option>
					</tmpl_loop>
				</select>
				</td>
			</tr>
			<tr>
				<td>Folder Name:</td> <td><input type=text name=folder_name class='textinput' value='%%folder_name%%' size=40></td>
			</tr>
			<tr>
				<td>Sort Key:</td> <td><input type=text name=sort_key class='textinput' value='%%sort_key%%' size=4></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type=checkbox name=hidden value=1 <tmpl_if hidden>checked</tmpl_if> id=cb_hidden><label for=cb_hidden> Hide Board</label></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type=checkbox name=enabled value=1 <tmpl_if enabled>checked</tmpl_if> id=cb_enabled><label for=cb_enabled> Enable Board</label></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type=checkbox name=fb_sync_enabled value=1 <tmpl_if fb_sync_enabled>checked</tmpl_if> id=cb_fb_sync_enabled><label for=cb_fb_sync_enabled> Enabel FB Post Sync</label></td>
			</tr>
			<tr>
				<td>FB Feed Name:</td> <td><input type=text name=fb_feed_name class='textinput' value='<tmpl_if fb_feed_name>%%fb_feed_name%%<tmpl_else>My Wall</tmpl_if>' size=40></td>
			</tr>
			<tr>
				<td>FB Feed ID:</td> <td><input type=text name=fb_feed_id class='textinput' value='<tmpl_if fb_feed_id>%%fb_feed_id%%<tmpl_else>me</tmpl_if>' size=40></td>
			</tr>
			<tr>
				<td valign=top>FB Access Token:</td> <td><input type=text name=fb_access_token class='textinput' value='%%fb_access_token%%' size=40>
				<tmpl_if boardid>
					<br>
					<tmpl_if fb_app_id>
						<a href='https://www.facebook.com/dialog/oauth?client_id=%%fb_app_id%%&redirect_uri=%%fb_redir_url%%&scope=email,read_stream,publish_stream,manage_pages,create_event,offline_access,read_stream' class='get_token_link'>Get access token...</a>
					<tmpl_else>
						<span class=hint>(Note: You must have already created a Facebook App and put the App ID in conf/appcore.conf)</span>
					</tmpl_if>
				</tmpl_if>
				</td>
			</tr>
			<tr>
				<td valign=top>Forum Controller:</td> <td><input type=text name=forum_controller class='textinput' value='%%forum_controller%%' size=40><br>
					<span class=hint>If you don't know what this is, don't put<br>
					anything here or don't change it!</span>
				</td>
			</tr>
			<tr>
				<td colspan=2 class=controls>
					<input type=submit value="Save Changes"> 
					<input type=reset value="Reset to Original Values">
				</td>
			</tr>
		
		
		</table>
</form>

<script>
$(document).ready(function() {
	
	$('.textinput').live("focus", function() {
		this.select();
	});
});
	
</script>