<title>Boards</title>

<h1>Boards</h1>

<a class='btn btn-default' href='%%binpath%%/create'>Add a new board...</a>

<table class='pretty table table-hover table-striped'>
	<thead>
		<th>Actions</th>
		<th>Title</th>
		<th>Hidden?</th>
		<th>Enabled?</th>
		<th nowrap>FB Sync?</th>
		<th>FB Feed</th>
	</thead>
	<tbody>
		<tmpl_loop list>
		<tr>
			<td class='util' nowrap>
				<a href='%%binpath%%/edit?boardid=%%boardid%%'>Edit</a> | 
				<a href='%%binpath%%/delete?boardid=%%boardid%%' onclick="return confirm('Are you SURE you want to delete %%boardid%%? This can\'t be undone!')">Delete</a>
			</td>
			<td>%%title%%</td>
			<td align=center><tmpl_if hidden>Yes<tmpl_else>No</tmpl_if></td>
			<td align=center><tmpl_if enabled>Yes<tmpl_else>No</tmpl_if></td>
			<td align=center><tmpl_if fb_sync_enabled>Yes<tmpl_else>No</tmpl_if></td>
			<!--<td>%%forum_controller%%</td>-->
			<td>%%fb_feed_name%%</td>
		</tr>
		</tmpl_loop>
	</tbody>
</table>
