	<tr class='post' id='post%%postid%%'>
		<td valign='top' class='data' colspan=2>
			
			<img class='user_photo' 
				src="<tmpl_if poster_photo:str>%%poster_photo%%<tmpl_else>http://www.gravatar.com/avatar/%%poster_email_md5%%?d=$(CDN:<tmpl_if user_photo:str>%%user_photo%%<tmpl_else>%%appcore%%/mods/User/images/male-fb-sq-50px.jpg</tmpl_if>)&s=50</tmpl_if>" 
				userid='%%posted_by%%' align=left>
			
			<a href='%%binpath%%/%%board_folder_name%%/%%folder_name%%' class='title_link'>
				%%subject%%
			</a>
			
			<div class='posted_by'>
				<span class='by'>by</span> <span class='name'><tmpl_if username:str><a href='/%%username%%' title="Go to %%poster_name%%'s Wall"><b></tmpl_if>%%poster_name%%<tmpl_if username:str></b></a></tmpl_if></span>
				<tmpl_if board_userid>
					<tmpl_if original_board_folder_name:str>
						<span class='by'>in</span> 
						<span class='name'><a href='/boards/%%original_board_folder_name%%'><b>%%board_title%%</b></a></span>
					</tmpl_if>
				</tmpl_if>
				&middot;
				<span class='timestamp'>%%approx_time_ago%% ago
				<tmpl_if external_source:str>via <tmpl_if external_url:str><a href='%%external_url%%'><tmpl_else><b></tmpl_if>%%external_source%%<tmpl_if external_url:str></a><tmpl_else></b></tmpl_if></tmpl_if>
				<!-- on %%pretty_timestamp%% --><!--<a href='%%bin%%/%%board_folder_name%%/%%folder_name%%'>#</a>--></span>
			</div>
			
			<div class='post_text'>
				<div id='short_text_%%postid%%' class='short_text'>
					%%clean_html%%
				</div>
				<tmpl_if short_text_has_more>
					<div id='long_text_%%postid%%' class='long_text'></div>
				</tmpl_if>
				<div class='fc'></div>
			</div>
			
			<div class='actions post_actions' id='acts%%postid%%'>
				<tmpl_if short_text_has_more>
					<a href='%%bin%%/%%board_folder_name%%/%%folder_name%%' class='readmore_link' postid='%%postid%%'>Read More &raquo;</a>
				</tmpl_if>
				
				<a href='%%reply_to_url%%/%%folder_name%%' class='reply_link' postid='%%postid%%'>Comment</a>
				
				<tmpl_if can_edit>
					<a class='edit_post_link' href='%%bin%%/%%board_folder_name%%/%%folder_name%%/edit'>Edit</a>
					<a class='delete_post_link' postid='%%postid%%' href='%%bin%%/%%board_folder_name%%/%%folder_name%%/delete'>Delete</a>
				</tmpl_if>
				
				${inc:%%appcore%%/mods/ThemePHC/tmpl/boards/inc-likes-mobile.tmpl}
			</div>
			
			<div class='reply_container' id='reply%%postid%%'></div>
			
			<div class='replies comments_block'>
				<div class='replies_container'>
					<tmpl_loop replies>
						${inc:%%appcore%%/mods/ThemePHC/tmpl/boards/inc-postreply-mobile.tmpl}
					</tmpl_loop>
				</div>
			</div>
			
		</td>
	</tr>
