	<tr class='post<tmpl_if post_class> post-%%post_class%%</tmpl_if>' id='post%%postid%%'>
		<tmpl_if post_class_user_comment>
			<td valign='top' align='center' class='photo'>
				<img class='user_photo ar_adjustable' 
					src="<tmpl_if poster_photo:str>%%poster_photo%%<tmpl_else>http://www.gravatar.com/avatar/%%poster_email_md5%%?d=$(CDN:<tmpl_if user_photo:str>%%user_photo%%<tmpl_else>%%appcore%%/mods/User/images/male-fb-sq-50px.jpg</tmpl_if>)&s=50</tmpl_if>" 
					userid='%%posted_by%%' width='25' height='25'/>
			</td>
			<td valign='center' class='data'>
				<span class='post_text'>
					%%text%%
				</span>
				
				<span class='timestamp'>about <span class='approx_time_ago' title='%%timestamp%%' timestamp='%%timestamp%%'>%%approx_time_ago%%</span> ago</span> 
			</td>
		
		<tmpl_else>
			<td valign='top' align='center' class='photo'>
				<img class='user_photo ar_adjustable' 
					src="<tmpl_if poster_photo:str>%%poster_photo%%<tmpl_else>http://www.gravatar.com/avatar/%%poster_email_md5%%?d=$(CDN:<tmpl_if user_photo:str>%%user_photo%%<tmpl_else>%%appcore%%/mods/User/images/male-fb-sq-50px.jpg</tmpl_if>)&s=50</tmpl_if>" 
					userid='%%posted_by%%' width='50' height='50'/>
			</td>
			<td valign='top' class='data'>
				<a href='%%binpath%%/%%board_folder_name%%/%%folder_name%%' class='title_link'>
					%%subject%%
				</a>
				
				<div class='posted_by'>
					<span class='by'>by</span> <span class='name'><tmpl_if username:str><a href='/%%username%%' title="Go to %%poster_name%%'s Wall"><b></tmpl_if>%%poster_name%%<tmpl_if username:str></b></a></tmpl_if></span>
					<tmpl_if board_userid>
						<tmpl_if original_board_folder_name:str>
							<span class='by'>in</span> 
							<span class='name'><a href='/boards/%%original_board_folder_name%%#p%%postid%%'><b>%%board_title%%</b></a></span>
						</tmpl_if>
					</tmpl_if>
					<a name="p%%postid%%">&middot;</a>
					<span class='timestamp'><span class='approx_time_ago' title='%%timestamp%%' timestamp='%%timestamp%%'>%%approx_time_ago%%</span> ago on <span class='pretty_timestamp'>%%pretty_timestamp%%</span> 
					<tmpl_if external_source:str>via <tmpl_if external_url:str><a href='%%external_url%%'><tmpl_else><b></tmpl_if>%%external_source%%<tmpl_if external_url:str></a><tmpl_else></b></tmpl_if></tmpl_if> 
					<a href='%%bin%%/%%board_folder_name%%/%%folder_name%%'>#</a></span>
				</div>
				
				<div class='post_text'>
					<tmpl_if system_content>
						<tmpl_if post_class_link>
							<span class='system_content'>
								posted a link<tmpl_if data_name:str> to <a href='%%data_link%%'>%%data_name%%</a><tmpl_if data_caption> - <i>%%data_caption%%</i></tmpl_if></tmpl_if>.
							</span>
							<!--<hr size=1 class='post-attach-divider'>-->
							<!--<div class='attach-container'>
								<div class='attach'>
									<a class='image-link' href="%%data_link%%">
										<img src="<tmpl_if data_picture:str>%%data_picture%%<tmpl_else>%%data_icon%%</tmpl_if>" border=0>
										<span class='overlay'></span>
									</a>
								</div>
							</div>-->
							
						<tmpl_else>
							<tmpl_if post_class_photo>
								<span class='system_content'>
									<tmpl_if data_caption:str>uploaded <a href='%%data_link%%'>%%data_caption%%</a> to<tmpl_else>updated a photo in </tmpl_if> <b><a href='%%data_link%%'>%%data_name%%</a></b> on <i>Facebook</i>.
								</span>
								<tmpl_if clean_text:str>
									<span class='post_text'>
										%%text_html%%
									</span>
								</tmpl_if>
								<!--<div class='attach-container'>
									<div class='attach'>
										<a class='image-link' href="%%data_link%%">
											<img src="<tmpl_if data_picture:str>%%data_picture%%<tmpl_else>%%data_icon%%</tmpl_if>" border=0>
											<span class='overlay'></span>
										</a>
									</div>
								</div>-->
								
							<tmpl_else>
								<!-- Don't know how to render 'system content' for this post class, so just render content as normal -->
								<span class='post_text'>
									%%text_html%%
								</span>
								
							</tmpl_if>
							
							
						</tmpl_if>
						
					</tmpl_if>
					<tmpl_if single_post_page>
						%%post_text%%
					<tmpl_else>
						<div id='short_text_%%postid%%' class='short_text'>
							%%clean_html%%
						</div>
						<tmpl_if short_text_has_more>
							<div id='long_text_%%postid%%' class='long_text'></div>
						</tmpl_if>
					</tmpl_if>
				</div>
				
				${inc:%%appcore%%/mods/ThemePHC/tmpl/boards/inc-postrow-attachment-snippet.tmpl}
				
				<div class='actions post_actions' id='acts%%postid%%'>
					<tmpl_unless single_post_page>
						<tmpl_if short_text_has_more>
							<a href='%%bin%%/%%board_folder_name%%/%%folder_name%%' class='readmore_link' postid='%%postid%%'>Read More &raquo;</a>
							&middot;
						</tmpl_if>
					</tmpl_unless>
					
					<a href='%%reply_to_url%%/%%folder_name%%' class='reply_link' postid='%%postid%%'>Add a Comment</a> &middot;
					
					<tmpl_if can_edit>
						<a class='edit_post_link' href='%%bin%%/%%board_folder_name%%/%%folder_name%%/edit'>Edit</a> &middot;
						<a class='delete_post_link' postid='%%postid%%' href='%%bin%%/%%board_folder_name%%/%%folder_name%%/delete'>Delete</a> &middot;
					</tmpl_if>
						
					${inc:%%appcore%%/mods/ThemePHC/tmpl/boards/inc-likes.tmpl}
				</div>
				
				<div class='reply_container' id='reply%%postid%%'></div>
				
				<div class='replies comments_block'>
					<div class='replies_container'>
						<tmpl_loop replies>
							${inc:%%appcore%%/mods/ThemePHC/tmpl/boards/inc-postreply.tmpl}
						</tmpl_loop>
					</div>
				
				</div>
			</td>
		</tmpl_if>
	</tr>
