						<form class='wrap'  onsubmit='return ajax_post_new(this)'>
							
							<table width=100%>
								<tr>
									<!--<td valign=top class=photo-cell>
										<img class='user_photo' src="$(CDN:<tmpl_if user_photo>%%user_photo%%<tmpl_else>%%appcore%%/mods/User/images/male-fb-sq-50px.jpg</tmpl_if>)" userid='%%user_userid%%' align=left>
									</td>-->
									<td valign=top class=content colspan=99>
										<textarea class="expandText" name="comment" id="newpost_text"></textarea>
										<div id=attach-wrapper>
											<a href='' id=attach_link><img src='%%appcore%%/images/silk/attach.png' border=0 align=absmiddle><span> Attach photo...</span></a>
											<div class=fc></div>
											<div id=attach-preview class=uploadify-wrapper>
												<input id="custom_file_upload" type="file" name="upload" />
												<div id="custom-queue"></div>	
											</div>
											
										</div>
										
										<script src='%%appcore%%/mods/ThemePHC/uploadify/swfobject.js'></script>
										<script src='%%appcore%%/mods/ThemePHC/uploadify/jquery.uploadify.v2.1.4.js'></script>

										<style>
										
										#newpost_text {
								
										}
										
										#attach_link {
											/*background: url(%%appcore%%/images/silk/attach.png) no-repeat top left;*/
											/*width: 16px;
											height: 16px;*/
											/*display: block;*/
											/*padding-left: 18px;*/
											/*float: left;*/
											margin-top: -17px;
											padding-left: 0px;
											/*margin-bottom: -3px;*/
											display: block;
											/*left: 2px;*/
											z-index: 100;
											
											/*display: none;*/ /* Hide until futher devel tomorrow */
										}
										
										#attach-preview {
											display: none;
											margin-top: 3px;
										}
										
										#attach_link:active,
										#attach_link:focus {
											outline: 0;
										}
										
										
										
										.uploadify-wrapper .uploadifyQueueItem {
											background-color: #FFFFFF;
											border: none;
											border-bottom: 1px solid #E5E5E5;
											font: 11px Verdana, Geneva, sans-serif;
											height: 50px;
											margin-top: 0;
											padding: 10px;
											width: 350px;
										}
										.uploadify-wrapper .uploadifyError {
											background-color: #FDE5DD !important;
											border: none !important;
											border-bottom: 1px solid #FBCBBC !important;
										}
										.uploadify-wrapper .uploadifyQueueItem .cancel {
											float: right;
										}
										.uploadify-wrapper .uploadifyQueue .completed {
											color: #C5C5C5;
										}
										.uploadify-wrapper .uploadifyProgress {
											background-color: #E5E5E5;
											margin-top: 10px;
											width: 100%;
										}
										.uploadify-wrapper .uploadifyProgressBar {
											background-color: #0099FF;
											height: 3px;
											width: 1px;
										}
										.uploadify-wrapper #custom-queue {
											border: 1px solid #E5E5E5;
											/*height: 213px;*/
											margin-bottom: 10px;
											margin-top: 10px;
											width: 370px;
											display: none;
											/*padding-left: 2em;*/
										}		
										.uploadify-wrapper  {
											/*margin-left: 2.5em;*/
										}
										</style>
										<script>
										$(function() {
											$("#attach_link").live('click', function() {
												
											
												$('#custom_file_upload').uploadify({
													'buttonText'     : 'Select Images ...',
													//'scriptData'     : window.uploadifyScriptData,
													'uploader'       : '%%appcore%%/mods/ThemePHC/uploadify/uploadify.swf',
													'script'         : '%%binpath%%/add_track',
													'cancelImg'      : '%%appcore%%/mods/ThemePHC/uploadify/cancel.png',
													'folder'         : '%%appcore%%/mods/ThemePHC/audio_upload_tmp',
													'fileDataName'   : 'upload',
													'multi'          : true,
													'auto'           : true,
													'fileExt'        : '*.jpg;*.gif;*.png',
													'fileDesc'       : 'Image Files (.JPG, .GIF, .PNG)',
													'queueID'        : 'custom-queue',
													'queueSizeLimit' : 30,
													'simUploadLimit' : 1,
													'removeCompleted': true,
													'onInit'	 : function() {
														$('#upload').hide(); // hide fallback form
														return true;
													},
													'onOpen'	 : function() {
														$('#custom-queue').show();
													},
													'onSelectOnce'   : function(event,data) {
														$('#status-message').text(data.filesSelected + ' files have been added to the queue.');
													},
													'onComplete'	 : function(event, ID, fileObj, response, data) {
														// get parameters from response and set new scriptData
														/* 
														<input type='hidden' name='recordingid' id='track_recordingid' value=''>
														<input type='hidden' name='title' id='track_title' value=''>
														<input type='hidden' name='date' id='track_date' value=''>
														<input type='hidden' name='bulk_flag' id='bulk_flag' value='0'>
														*/
						// 								console.debug('onComplete!');
						// 								console.debug(response);
														var json;
														eval('json='+response);
														if(!response)
														{
															alert("Error uploading using Flash uploader, switching to legacy uploader form.");
															$('#upload').show();
															$('.uploadify-wrapper').hide();
														}
														else
														{
															updateScriptData(json.recordingid);
															
															_upload_cb(json.recordingid, //recid
																json.tracknum, //t_num
																json.title, //t_title
																json.len, 
																json.file //t_file
															);
															$('#upload').hide();
															
														}
														
														//window.uploadifyInstance.uploadifyCancel(ID);
													},
													'onAllComplete'  : function(event,data) {
														$('#status-message').text(data.filesUploaded + ' files uploaded, ' + data.errors + ' errors.');
													},
													'onError'     : function (event,ID,fileObj,errorObj) {
														//console.debug(errorObj);
														//alert(errorObj.type + ' Error: ' + errorObj.info);
														$('#upload').show();
														$('.uploadify-wrapper').hide();
													},
												});
												
												$('#attach-preview').show();
										
												return false;
											});
										});
											
										</script>
									</td>
									<!--<td class=tags>
										<div class=wrap>
											<div><input type=radio name=tag value=pray> Prayer</div>
											<div><input type=radio name=tag value=praise> Praise</div>
											<div><input type=checkbox name=epa value=1> ePrayerAlert</div>
										</div>
										
										<style>
										.newpost .tags,
										.newpost .tags div * { vertical-align: middle; }
										
										.newpost .tags .wrap 
										{
											margin-top: -1px;
											padding-left: 2px;
										}
										
										.newpost .tags .wrap div
										{
											background: #e9eeff;
											border-bottom: 1px solid #c7cddf;
											border-top: 1px solid white;
											padding: 2px 5px;
										}
										</style>
									
									</td>-->
								<tmpl_if user_display>
								<tr>
									<td colspan=3>
										<div class='ident' id='postas_display'>
											<img class='user_photo' src="$(CDN:<tmpl_if user_photo>%%user_photo%%<tmpl_else>%%appcore%%/mods/User/images/male-fb-sq-50px.jpg</tmpl_if>)" userid='%%user_userid%%' align=absmiddle width=16 height=16>
											Posting as <b>%%user_display%%</b>
											<input value='%%user_display%%' name='poster_name' type=hidden>
											<input value='%%user_email%%' name='poster_email' type=hidden>
										</div>
										
										<div class='controls'>
											<button type='submit' class='button'>Post</button>
										</div>
										
										
										<div class='tags'>
											<span id=span_tag_praise>
												<input type=radio class=tag name=tag value=praise id=tag_praise><label       for=tag_praise class=tag> Praise!</label></span>
											<span id=span_tag_pray>
												<input type=radio class=tag name=tag value=pray   id=tag_pray><label         for=tag_pray class=tag> Prayer Request</label></span>
											<span id=span_tag_talk>
												<input type=radio class=tag name=tag value=talk   id=tag_talk checked><label for=tag_talk class=tag> Just Talking</label></span>
											<tmpl_if can_epa>&nbsp;&nbsp;| 
											<span><input type=checkbox name=epa value=1 id=epa><label for=epa> eAlert</label></span>
											</tmpl_if>
										</div>
									</td>
								</tr>
								<tmpl_else>
									<tr>
										<td valign=middle align=right>Name:</td>
										<td><input class='text' value='%%user_display%%' name='poster_name' size=12></td>
									
										<td rowspan=2>
											<div class='controls'>
												<button type='submit' class='button'>Post</button>
											</div>
											
											<div class='tags'>
												<span id=span_tag_praise>
													<input type=radio class=tag name=tag value=praise id=tag_praise><label       for=tag_praise class=tag> Praise!</label></span>
												<span id=span_tag_pray>
													<input type=radio class=tag name=tag value=pray   id=tag_pray><label         for=tag_pray class=tag> Prayer Request</label></span>
												<span id=span_tag_talk>
													<input type=radio class=tag name=tag value=talk   id=tag_talk checked><label for=tag_talk class=tag> Just Talking</label></span>
												<tmpl_if can_epa>&nbsp;&nbsp;| 
												<span><input type=checkbox name=epa value=1 id=epa><label for=epa> eAlert</label></span>
												</tmpl_if>
											</div>
										</td>
									</tr>
									<tr>
										<td valign=middle align=right>Email:</td>
										<td><input class='text' value='%%user_email%%' name='poster_email' size=12></td>
									</tr>
								</tmpl_if>
							</table>
							
							<style>
							
							.newpost .tags,
							.newpost .tags span * { vertical-align: middle; }
							.newpost .tags { 
								margin-top: 3px;
								text-align: right; 
							}
							
							.newpost .controls { margin-left: .5em; }
							
							.newpost .ident { margin-top: 6px; }
							
							.newpost .tags span
							{
								font-weight: normal;
								color: rgb(80,80,80);
								padding: 2 5px 4px 0;
							}
							
							#span_tag_pray
							{
								background: #fcffb1;
							}
							
							#span_tag_praise
							{
								background: #d9ffd2;
							}
							
							#span_tag_talk
							{
								background: rgb(235,235,235);
							}
							
							
							.newpost .tags span.current
							{
								color: black;
								font-weight: bold;
							}
							
							
							/* Add padding to photo for coloring */
							.postlist tr.talktype-ePrayerAlert td.photo,
							.postlist tr.talktype-pray td.photo,
							.postlist tr.talktype-praise td.photo, 
							.postlist tr.talktype-talk td.photo,
							.postlist .newpost td.photo-cell
							{
								padding-left: 5px;
							}
							
							/*** Pray ***/
							
							.postlist tr.talktype-pray,
							.postlist tr.talktype-ePrayerAlert
							{
								background: #fcfeb3;
								
							}
							
							.postlist tr.talktype-ePrayerAlert td.data,
							.postlist tr.talktype-ePrayerAlert td.photo,
							.postlist tr.talktype-pray td.data,
							.postlist tr.talktype-pray td.photo
							{
								border-top: 1px solid white;
								border-bottom: 1px solid #e3e684;
							}
							
							.postlist span.talktype-pray,
							.postlist span.talktype-ePrayerAlert
							{
								color: #636439;
								font-weight: bold;
							}
							
							/* Prayer Comments */
							.postlist tr.talktype-pray .comment_text_wrap,
							.postlist tr.talktype-ePrayerAlert .comment_text_wrap 
							{
								border-top: 1px solid #fdffc5;
								border-bottom: 1px solid #d7d999;
							}
							.postlist tr.talktype-pray .indent-odd,
							.postlist tr.talktype-ePrayerAlert .indent-odd {
								background: #e8eaa5 !important;
							}
							.postlist tr.talktype-pray .indent-even,
							.postlist tr.talktype-ePrayerAlert .indent-even {
								background: #e4e6a2 !important;
							}
							
							/*** Praise ***/
							
							.postlist tr.talktype-praise
							{
								background: #d9ffd2;
								
							}
							
							.postlist tr.talktype-praise td.data,
							.postlist tr.talktype-praise td.photo
							{
								border-top:    1px solid white;
								border-bottom: 1px solid #bfe1b9;
							}
							
							.postlist span.talktype-praise
							{
								color: #556452;
								font-weight: bold;
							}
							
							/* Praise Comments */
							.postlist tr.talktype-praise .comment_text_wrap
							{
								border-top: 1px solid #e2ffdd;
								border-bottom: 1px solid #b5d5af;
							}
							.postlist tr.talktype-praise .indent-odd {
								background: #d0f3c9 !important;
							}
							.postlist tr.talktype-praise .indent-even {
								background: #c7eac1 !important;
							}
							
							/*** Talk ***/
							.postlist tr.talktype-talk
							{
								background: rgb(235,235,235);
								
							}
							
							.postlist tr.talktype-talk td.data,
							.postlist tr.talktype-talk td.photo
							{
								border-top:    1px solid white;
								border-bottom: 1px solid rgb(200,200,200);
							}
							
							.postlist span.talktype-talk
							{
								color: rgb(100,100,100);
								font-weight: bold;
							}
							
							/* Talk Comments */
							.postlist tr.talktype-talk .comment_text_wrap
							{
								border-top: 1px solid rgb(245,245,245);
								border-bottom: 1px solid rgb(140,140,140);
							}
							.postlist tr.talktype-talk .indent-odd {
								background: rgb(210,210,210) !important;
							}
							.postlist tr.talktype-talk .indent-even {
								background: rgb(190,190,190) !important;
							}
							
							
							
							
							</style>
							
							<script>
							// Put it all in a $(function(){}) block and
							// make highlightTab a "var" instead of declaring
							// it as a function - both of these decisions
							// allow the YUI JS compressor to replace var names
							// and the highlightTag function name with a much
							// shorter name. Since no global vars are used or declared,
							// this block is reduced to the following code (approx). 
							// However, we maintain the code here in "long hand"
							// for easier maintenance.
							
							// $(function(){var a=$("#tag_talk"),b=function(d,f){var e=d.get(0).id,
							// c=$(".tags span[for="+e+"]");if(f){c.addClass("current")}else{
							// c.removeClass("current")}};b(a,true);$(".newpost .tags input").live("click",function(){
							// b(a,false);b(a=$(this),true)})})
							
							
							$(function(){
								// *** Highlight Current Tag *** /
								var currentTag   = $("#tag_talk"),
								    userClickedTag = false,
								    highlightTag = function(tag, isCurrent)
								{
									var cId    = tag.get(0).id,
									    cLabel = $("#span_"+cId);
									if(isCurrent)
									{
										cLabel.addClass("current");
										tag.attr('checked',true);
									}
									else
										cLabel.removeClass("current");
								}
								
								highlightTag(currentTag, true);
							
								$(".tags input.tag").live("click",function()
								{
									highlightTag(currentTag, false);
									highlightTag(currentTag = $(this), true);
								});
								
								// The user_clicked_tag form element is used to tell the server
								// that the user, well, clicked the tag instead of automatically
								// highlighting it. This allows the server to override the tag
								// choice if it knows better - but dont override if the user
								// actually clicked the tag themself. Note the "user clicked"
								// flag is cleared if the user erases all text in the box 
								// (called in the update() function below) 
								var setUserClicked = function(flag)
								{
									// When called as an event handler as a result of bind() calls,
									// 'flag' will be an Object reference instead of boolean,
									// but it still evaluates true for our purposes here.
									$("#user_clicked_tag").get(0).value = flag ? 1:0;
									userClickedTag = flag ? true:false; // flag may not always be really a boolean, but may be true 
								};
								
								// Call the 'set user clicked' routine only if the user actually uses the mouse to click a radio button or label
								$(".tags input.tag").bind('mouseup',setUserClicked);
								$(".tags label.tag").bind('mouseup',setUserClicked);
								
								// *** Automatically Change Tag Based on Typed Text *** 
								var rx1 = new RegExp("((please\\s.*?)?remember|pray)", "i"),
								    rx2 = new RegExp("(prais|thank)", "i"),
								    //rx3 = new RegExp("talk", "i"),
								    flagged = false,
								    update = function()
								{
									var t = this;
									if(!t.value)
									{
										$("#tag_talk").click();
										t.tagged = false;
										setUserClicked(false);
										return;
									}
									if(t.tagged || userClickedTag)
										return;
									if(rx1.test(t.value))
									{
										$("#tag_pray").click();
										t.tagged = true;
										return;
									}
									if(rx2.test(t.value))
									{
										$("#tag_praise").click();
										t.tagged = true;
										return;
									}
// 									if(rx3.test(t.value))
// 									{
// 										$("#tag_talk").click();
// 										t.tagged = true;
// 										return;
// 									}
								};
								//alert(update);
								var n = $("#newpost_text");
							
								n.change(update).keyup(update).keydown(update);
								//n.get(0).onkeyup = update;
								
							});
							</script>
							<input type=hidden name=user_clicked_tag id=user_clicked_tag value=0>
						</form>
