	<!--<div class=comment_text style='margin-left:%%indent_css%%em;margin-right:%%indent_css%%em;'>-->
	<div class='comment_text_wrap indent-<tmpl_if indent_is_odd>odd<tmpl_else>even</tmpl_if>' id="wrap%%postid%%">
		<table class=comment_text  id='comment%%postid%%' indent_css="%%indent_css%%" width='100%'>
			<tr>
			<!--src="http://www.gravatar.com/avatar/%%poster_email_md5%%?d=$(CDN:<tmpl_if user_photo:str>%%user_photo%%<tmpl_else>%%appcore%%/mods/User/images/male-fb-sq-50px.jpg</tmpl_if>)&s=25"-->
				<td valign=top style='padding-left:%%indent_css%%em' width='1%' class='indent-<tmpl_if indent_is_odd>odd<tmpl_else>even</tmpl_if>'>
					<img class='user_photo' 
						src="<tmpl_if poster_photo:str>%%poster_photo%%<tmpl_else>http://www.gravatar.com/avatar/%%poster_email_md5%%?d=$(CDN:<tmpl_if user_photo:str>%%user_photo%%<tmpl_else>%%appcore%%/mods/User/images/male-fb-sq-50px.jpg</tmpl_if>)&s=25</tmpl_if>"
						 
						width=25 
						height=25 
						userid='%%posted_by%%'>
				</td>
				<td valign=top align='left' class='indent-<tmpl_if indent_is_odd>odd<tmpl_else>even</tmpl_if>'>
					<span class='posted_by'>
						<a name='c%%postid%%'><!--<span class='by'>by</span> --><span class='name'>%%poster_name%%</span></a>
						&middot;
					</span>
					
					<span class="comment_text text">
						<span id='short_text_%%postid%%' class='short_text'>
							<tmpl_if clean_html:str>%%clean_html%%<tmpl_else>%%text_html%%</tmpl_if>
							<!--%%text_html%%-->
						</span>
						<tmpl_if short_text_has_more>
							<span id='long_text_%%postid%%' class='long_text'></span>
						</tmpl_if>
					</span>
					
					<div class='actions' id='acts%%postid%%'>
						<span class='timestamp'>
							<a href='#' onclick='return false' class='ago' title='%%pretty_timestamp%%'>%%approx_time_ago%% ago</a>
							<tmpl_if external_source:str>via <tmpl_if external_url:str><a href='%%external_url%%'><tmpl_else><b></tmpl_if>%%external_source%%<tmpl_if external_url:str></a><tmpl_else></b></tmpl_if></tmpl_if>
						</span>
						
						&middot;
						
						<tmpl_if short_text_has_more>
							<a href='%%bin%%/%%board_folder_name%%/%%folder_name%%' class='readmore_link' postid='%%postid%%'>Read More &raquo;</a>
							&middot;
						</tmpl_if>
						
						<a href='%%reply_to_url%%/%%folder_name%%' class='reply_link' postid='%%postid%%' type='comment' top_commentid='%%top_commentid%%'>Reply</a> &middot;
						
						<tmpl_if can_edit>
							<a class='edit_post_link' href='%%bin%%/%%board_folder_name%%/%%folder_name%%/edit'>Edit</a> &middot;
							<a class='delete_comment_link' postid='%%postid%%' href='%%bin%%/%%board_folder_name%%/%%folder_name%%/delete'>Delete</a> &middot;
						</tmpl_if> 
						
						${inc:%%appcore%%/mods/ThemePHC/tmpl/boards/inc-likes.tmpl}
					</div>
					
					<div class='reply_container' id='reply%%postid%%'></div>
				</td>
			</tr>
		</table>
	</div>