	<a_cssx src="%%modpath%%/css/boards.css"/>
	
	<title><tmpl_var board_title> - Bulletin Boards</title>
	
	<!-- Board Title -->
	<h1><tmpl_var board_title></h1>
	
	<!-- Board Tagline -->
	<!--<p class='board-tagline'><tmpl_var board_tagline></p>-->
	
	<!-- Board Description -->
	<!--<tmpl_if description>
		<div id='board-intro'>
			<tmpl_var board_description>
		</div>
	</tmpl_if>-->
	
	<!-- Removed: "print list" link and script -->
	
	<!-- Removed: "delete list" link and script -->
	
	<!-- "Add a post" link -->
	<!--<a class='new_link' href='%%bin%%/<tmpl_var board_folder_name>/new'><img src='%%appcore%%/images/silk/add.png' align=absmiddle border=0> Add a new post to this forum!</a>-->
	
	
	<style type="text/css">
	textarea.expandText {
		/*line-height: 10px;*/
		/*height: 15px;*/
	}
	
	.newpost
	{
		cursor: default; 
		background: #e9eeff;
		border-bottom: 1px solid #c7cddf;
		border-top: 1px solid white;
		padding: 10px;
		
		padding-bottom: 30px;
	}
	
	.newpost .wrap
	{
		width: 30em;
		margin: 0 auto;
	}
	
	.reply_form .wrap
	{
		width: 450px;
	}
	
	.reply_form .wrap .fc
	{
		clear: both;
	}
	
	.newpost h2
	{
		color: #364a90;
		margin: 0; /*reset ...*/
		padding: 0;
		font-size: .7225em;
		font-weight: bold;
		text-align: center;
		/*background: #364a90;
		color: white;*/
		
	}
	
	.reply_form .ident,
	.newpost .ident
	{
		color: #364a90;
		font-size: .7225em;
		float: left;
	}
	
	.reply_form .controls,
	.newpost .controls
	{
		float: right;
	}
	
	#postas_form table
	{
		border-collapse: collapse; 
	}
	
	#postas_form td
	{
		color: #364a90;
		font-size: .7225em;
		padding: 0;
	}
	
	#postas_form 
	{
		display: none;
		margin-top: -1px;
	}
	
	.reply_form textarea, 
	.reply_form input,
	.newpost textarea, 
	.newpost input
	{
		/*border: 1px solid #364a90;*/
		border: 1px solid #b9c0da;
		
		/*-moz-box-shadow: 0px 0px 2px #000;*/
	}
	
	.reply_form textarea:focus, 
	.reply_form input:focus,
	.newpost textarea:focus, 
	.newpost input:focus
	{
		-moz-box-shadow: 0px 0px 9px #364a90;
		box-shadow: 0px 0px 9px #364a90;
	}
	
	.reply_form input,
	.newpost input
	{
		margin-top: 2px;
	}
	
	</style>
	
	<!--max-height: 70px;-->
	<div class='newpost'>
	<!--action='%%binpath%%/post' method='POST'-->
		<form class='wrap'  onsubmit='return ajax_post_new(this)'>
			<!--<input type='hidden' name='poster_name' value='%%user_display%%'>
			<input type='hidden' name='poster_email' value='%%user_email%%'>-->
			<h2>Add a new post</h2>
			
			<div class='content'>
				<textarea class='expandText' style="width: 41.25em; height:5em" class="expandText" name="text"></textarea>
			</div>
			<div class='controls'>
				<button type='submit' class='button'>Post</button>
			</div>
			<div class='form' id='postas_form'>
				<table>
					<tr>
						<td>Name:</td>
						<td><input value='%%user_display%%' name='poster_name'></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input value='%%user_email%%' name='poster_email'></td>
					</tr>
				</table>
			</div>
			<div class='ident' id='postas_display'>
				<script>
				function show_postas_form()
				{
					$("#postas_form").show(200);
					$("#postas_display").hide(200);
				}
				</script>
				Posting as <b>%%user_display%%</b> - <a href='javascript:void(show_postas_form());'>Change</a>
			</div>
			<tmpl_unless user_display>
			<script>setTimeout(show_postas_form,500)</script>
			</tmpl_unless>
		</form>
	</div>
	
	<script>
	
	function ajax_post_new(formElm)
	{
		var postData = {
			comment: formElm.text.value,
			poster_name: formElm.poster_name.value,
			poster_email: formElm.poster_email.value,
			output_fmt: "json",
			plain_text: 1,
		};
		
		$("#post-placeholder").show();
		
		var errorFunc = function() 
		{
			$("#post-placeholder").hide();
			if(confirm("There was an error saving your post to the server - nothing was saved. Do you want to use the simple post page instead of this fancy page to make your post?"))
			{
				document.location.href = "%%binpath%%/%%board_folder_name%%/new?text=" + postData.text; 
			}
		}
		
		var postUrl = "%%binpath%%/%%board_folder_name%%/post";
		//alert(postUrl);
		$.ajax({
			type: "POST",
			url: postUrl,
			data: postData,
			success: function(data)
			{
				//alert("Got post data:"+data+", type:"+typeof(data));
				if(typeof(data) == "string")
				{
					// something wierd on server - should be JSON!
					errorFunc();
				}
				else
				{
					//alert(data);
					//console.debug(data);
					$("#post-tmpl").tmpl(data).insertAfter("#post-placeholder");
					$("#post-placeholder").hide();
					formElm.text.value = "";
					formElm.text.updateAutogrow();
				}	
			},
			error: errorFunc,
			
		});
		
		return false;
	}
	</script>
		
	<script id="post-tmpl" type="text/x-jquery-tmpl">
		<tr href='%%binpath%%/%%board_folder_name%%/${folder_name}' class='post' id='post${postid}'> <!-- onclick='document.location.href=this.getAttribute("href")'>-->
			<td valign='top' align='center' class='photo'>
				<img class='user_photo' src='http://www.gravatar.com/avatar/${poster_email_md5}?d=${CDN:/appcore/mods/User/images/male-fb-sq-50px.jpg}&s=50'>
			</td>
			<td valign='top' class='data'>
				<a href='%%binpath%%/%%board_folder_name%%/${folder_name}' class='title_link'>
					${subject}
				</a>
				
				<div class='posted_by'>
					<span class='by'>by</span> <span class='name'>${poster_name}</span>
				</div>
				
				<div class='timestamp'>${approx_time_ago} ago</div>
				
				<div class='post_text'>
					<div id='short_text_${postid}' class='short_text'>
						${short_text_html}
						<span class='more'><a href='%%binpath%%/%%board_folder_name%%/${folder_name}' class='more_link' onclick='return show_more_post(${postid},this)'>More...</a></span>
					</div>
					<div id='text_${postid}' class='long_text'>
						<div class='more'><a href='#' class='more_link' onclick='return show_less_post(${postid})'>&laquo; Less</a></div>
						<div id='long_text_${postid}'></div>
						<div class='more'><a href='#' class='more_link' onclick='return show_less_post(${postid})'>&laquo; Less</a></div>
					</div>
				</div>
			</td>
		</tr>
	</script>
	

	
	<style>
	table.postlist
	{
		/*border-collapse:collapse;*/
		/*border: 1px solid #364a90; */
		/*-moz-box-shadow: 0px 0px 8px #000;*/
		/*-moz-box-shadow: 0 0 3px #fff, 0px 0px 8px #000;*/
		/*margin: 1em 0;*/
		border-spacing: 0;
	} 
	
	
	table.postlist th 
	{
		background: #364a90;
		color: white;
		text-shadow: rgb(8,8,8) 1px 1px 1px;
		font-weight: bold;
		padding: 2 4;
		text-align: left;
		
		/*border-bottom: 1px solid #364a90;*/
	}
	
	.postlist .user_photo
	{
		border: 1px solid #364a90;
		-moz-box-shadow: 0px 0px 3px #000;
	}
	
	table.postlist td 
	{
		/*border: 1px solid #364a90;*/
		/*padding: 2 4;*/
		/*cursor: pointer;*/ 
		background: #e9eeff;
		border-bottom: 1px solid #c7cddf;
		border-top: 1px solid white;
	}
	
	.postlist td.photo
	{
		width: 60px;
		padding: 10px;
	}
	
	.postlist td img
	{
		cursor: default;
	}
	
	.postlist td a img
	{
		cursor: pointer;
	}
	
	.postlist td.data
	{
		padding: 10px 0;
	}
	
	table.postlist tr:hover td
	{
		/*background: #c2cdf5;*/
	}
	
	table.postlist .util
	{
		color: #364a90;
	}

	.postlist .data .lastpost { display: none }
	.postlist .data .title_link { display: none; }
	
	.postlist .data .by {
		font-style: italic;
		/*font-weight: bold;*/
		font-size: .85em;
		
	} 
	
	.postlist .data .posted_by .name { font-weight: bold; }
	
	.postlist .data .posted_by,
	.postlist .data .timestamp 
	{
		color: #364a90;
		font-size: .85em;
	}
	
	.postlist .data .timestamp
	{
		font-size: .7225em;
	}
	
	.postlist .more,
	.postlist .more a
	{
		text-decoration: none;
		color: #364a90;
	}
	
	.postlist .more { font-size: .7225em; }
	
	.postlist .post_text
	{
		/*-moz-box-shadow:inset 0 0 8px #000;
		-webkit-box-shadow:inset 0 0 8px #000;
		box-shadow:inset 0 0 8px #000;*/
		/*border-left: 2px solid #b9c0da;*/
		padding: 10px 0;

	}
	
	.long_text
	{
		display: none;
	}
	
	img.loading, 
	#post-placeholder { display: none; }
	
	.postlist td a.youtube-play-link 
	{
		display: block;
		position: relative;
		width: 120px;
		height: 90px;
		overflow: hidden !important;
	}
	
	.postlist td a.youtube-play-link img
	{
		display: block;
		position: absolute;
		z-index: 1;
		border: 1px solid black;
		/*border: 1px solid #364a90;*/
	}
	
	.postlist td a.youtube-play-link span 
	{
		display: block;
		position: absolute;
		background: url(%%modpath%%/images/play-icon-48px.png) no-repeat center;
		z-index: 2;
		width: 120px;
		height: 90px;
		opacity: .75;
	}
	
	.postlist td a.youtube-play-link,
	iframe.youtube-iframe
	{
		-moz-box-shadow: 0px 0px 9px #364a90;
		box-shadow: 0px 0px 9px #364a90;
		/*-moz-box-shadow: 0px 0px 3px #000;*/
	}
	
	.postlist td a.youtube-play-link,
	{
		margin: 10 0;
	}
		
	
	.postlist td a.youtube-play-link iframe
	{
		z-index: -1;
	}
	
	.postlist td a.youtube-play-link:active, 
	.postlist td a.youtube-play-link:focus
	{
		outline: 0;
	}
	
	.postlist td hr
	{
		margin-top: 10px;
		margin-bottom: 4px;
		border-color: #b9c0da;
	}
	
	.postlist td hr.post-attach-divider
	{
		margin-bottom: 10px;
	}
	
	</style>
	<script>
	function show_more_post(postid,aElm)
	{
		var	blockId   = "#long_text_"+postid,
			loadingRef = $("#loading_"+postid),
			shortId   = "#short_text_"+postid,
			longId    = "#text_"+postid,
			postHref  = aElm.href;
		
		loadingRef.show();
		
		var errorFunc = function() 
		{
			// Error loading, just redirect to the page itself...
			document.location.href = postHref; 
		};
		
		$.ajax({
			type: "GET",
			url: postHref,
			data:
			{
				output_fmt: "json",
				no_comments: 1,
			},
			success: function(data)
			{
				//alert("Got post data:"+data+", type:"+typeof(data));
				if(typeof(data) == "string")
				{
					// something wierd on server - should be JSON!
					errorFunc();
				}
				else
				{
					$(blockId).html(data.post_text);
					$(shortId).hide(300);
					$(longId).show(300);
					loadingRef.hide(300);
					
					//alert(data);
					//console.debug(data);
				}	
			},
			error: errorFunc,
			
		});
		
		return false;
	}
	
	function show_less_post(postid)
	{
		var	shortId = "#short_text_"+postid,
			longId = "#text_"+postid,
			rowRef = $("tr.#post"+postid); 
		$(shortId).show(300);
		$(longId).hide(300);
		// only scroll doc if top of the post is above the window top.
		// That way we dont "confuse" the user with unnecessary changes
		if(rowRef.offset().top < document.body.scrollTop)
			$.scrollTo(rowRef,300);
		return false;
	}
	</script>
	<table class='postlist' width='100%'>
		<tbody>
			<tr class='post post-placeholder' id='post-placeholder'>
				<td valign='top' align='center' class='photo'>
					<img class='user_photo' src="${CDN:/appcore/mods/User/images/male-fb-sq-50px.jpg}">
				</td>
				<td valign='top' class='data'>
					<img src='%%appcore%%/mods/ThemePHC/images/fb-ajax-loader.gif'>
				</td>
			</tr>
				
		<tmpl_loop posts>
			<tr href='%%binpath%%/<tmpl_var board_folder_name>/<tmpl_var folder_name>' class='post' id='post%%postid%%'> <!-- onclick='document.location.href=this.getAttribute("href")'>-->
				<td valign='top' align='center' class='photo'>
					<img class='user_photo' src="http://www.gravatar.com/avatar/%%poster_email_md5%%?d=${CDN:<tmpl_if user_photo>%%appcore%%%%user_photo%%<tmpl_else>%%appcore%%/mods/User/images/male-fb-sq-50px.jpg</tmpl_if>}&s=50">
				</td>
				<td valign='top' class='data'>
					<a href='%%binpath%%/<tmpl_var board_folder_name>/<tmpl_var folder_name>' class='title_link'>
						<tmpl_var subject>
					</a>
					
					<div class='posted_by'>
						<span class='by'>by</span> <span class='name'>%%poster_name%%</span>
						<!--&middot;-->
					</div>
					<div class='timestamp'>%%approx_time_ago%% ago on %%pretty_timestamp%%</div>
					
					<div class='post_text'>
						<div id='short_text_%%postid%%' class='short_text'>
							%%short_text_html%%
							<tmpl_if short_text_has_more>
								<!--<span class='more'><a href='%%bin%%/%%board_folder_name%%/%%folder_name%%' class='more_link' onclick='return show_more_post(%%postid%%,this)'>More...</a></span>-->
								<img src='%%appcore%%/mods/ThemePHC/images/fb-ajax-loader.gif' class='loading' id='loading_%%postid%%'>
							</tmpl_if>
						</div>
						<tmpl_if short_text_has_more>
							<div id='text_%%postid%%' class='long_text'>
								<div class='more'><a href='#' class='more_link' onclick='return show_less_post(%%postid%%)'>&laquo; Less</a></div>
								<div id='long_text_%%postid%%'></div>
								<div class='more'><a href='#' class='more_link' onclick='return show_less_post(%%postid%%)'>&laquo; Less</a></div>
							</div>
						</tmpl_if>
					</div>
					
					<!--<div class='lastpost'>
						<tmpl_if post_postid>
							<span class='post'>
								<a href='<tmpl_var post_url>'><tmpl_var post_subject></a><br>
								<span class='by'><tmpl_var post_timestamp> | <tmpl_var post_poster_name></span>
							</span>
						</tmpl_if>
					</div>-->
					<!--<a class='new_reply_link <tmpl_if replies>top_reply_link</tmpl_if>' href='%%bin%%/%%pageid%%/<tmpl_var board_folder_name>/<tmpl_var post_fake_folder_name>/reply'><img src='/eas_www/images/silk/add.png' align=absmiddle border=0> Reply to this post</a>-->

					<div class='actions' id='acts%%postid%%'>
						<tmpl_if short_text_has_more>
							<a href='%%bin%%/%%board_folder_name%%/%%folder_name%%' class='more_link' onclick='return show_more_post(%%postid%%,this)'>Read More</a>
							&middot;
						</tmpl_if>
						
						<a href='%%reply_to_url%%/%%folder_name%%' class='reply_link' postid='%%postid%%'>Add a Comment</a> &middot;
						 
						<span class='you_like' style='<tmpl_if you_like>display:inline<tmpl_else>display:none</tmpl_if>' id='youlike%%postid%%'>
							<b>You</b> (<a href='%%unlike_url%%' class='unlike_link' postid='%%postid%%'>Unlike</a>) and
						</span>
						
						<span class='add_like' style='<tmpl_if you_like>display:none<tmpl_else>display:inline</tmpl_if>' id='addlike%%postid%%'>
								<a href='%%like_url%%' class='like_link' postid='%%postid%%'>Like</a>
								<tmpl_if others_like> &middot;</tmpl_if>
						</span>
						
						<tmpl_if others_like>
							<span class='others_like'><b>%%others_like%% others</b> like this</span>
						</tmpl_if>
					</div>
					<div class='reply_container' id='reply%%postid%%'></div>
					
					<div class='replies comments_block'>
						<tmpl_if replies>
							<hr size=1>
						
							<!--<h5>Comments:</h5>-->
							<!--<div class=comments_title>
								Replies:
							</div>-->
							
							<div class='replies_container'>
								<tmpl_loop replies>
									<!--<div class=comment_text style='margin-left:<tmpl_var indent_css>em;margin-right:<tmpl_var indent_css>em;'>-->
									<table class=comment_text style='margin-left:<tmpl_var indent_css>em;margin-right:<tmpl_var indent_css>em;'>
										<tr>
											<td valign=top>
												<img class='user_photo' src="http://www.gravatar.com/avatar/%%poster_email_md5%%?d=${CDN:<tmpl_if user_photo>%%appcore%%%%user_photo%%<tmpl_else>%%appcore%%/mods/User/images/male-fb-sq-50px.jpg</tmpl_if>}&s=25" width=25 height=25>
											</td>
											<td valign=top>
												
												<!--<a name='c<tmpl_var postid>'><span class=timestamp>%%approx_time_ago%% ago on %%pretty_timestamp%%</span></a>: <br>-->
												<div class='posted_by'>
													<a name='c<tmpl_var postid>'><span class='by'>by</span> <span class='name'>%%poster_name%%</span></a>
													&middot;
													<span class='timestamp'>%%approx_time_ago%% ago on %%pretty_timestamp%%</span>
												</div>
												
												<!--<tmpl_if can_admin>
													<a class='admin_link' href='%%delete_url%%?postid=%%postid%%' onclick='return confirm("Are you SURE you want to delete this comment?")'>
														<img src='%%appcore%%/images/silk/bullet_toggle_minus.png' title='Delete this comment' border=0 align=absmiddle>
													</a> 
												</tmpl_if>-->
												<span class=text>%%clean_text%%</span>
												<!--<span class='irl'>(<a href='%%reply_to_url%%/%%folder_name%%'>Reply <b>...</b></a>)</span>-->
												<div class='actions' id='acts%%postid%%'>
													<a href='%%reply_to_url%%/%%folder_name%%'>Reply</a> &middot; 
													<span class='you_like' style='<tmpl_if you_like>display:inline<tmpl_else>display:none</tmpl_if>'>
														<b>You</b> (<a href='%%unlike_url%%' class='unlike'>Unlike</a>) and
													</span>
													<span class='add_like' style='<tmpl_if you_like>display:none<tmpl_else>display:inline</tmpl_if>'>
														 <a href='%%like_url%%'>Like</a>
														 <tmpl_if others_like> &middot;</tmpl_if>
													</span>
													<tmpl_if others_like>
														<b>%%others_like%% others</b> like this
													</tmpl_if>
												</div>
												<div class='reply_container' id='reply%%postid%%'></div>
											</td>
										</tr>
									</table>
								</tmpl_loop>
							</div>
						<tmpl_else>
							<!--<h3>Sorry, no replies yet to this post.</h3>-->
						</tmpl_if>
						
					</div>
					
					<!--<a class='new_reply_link' href='%%bin%%/%%pageid%%/<tmpl_var board_folder_name>/%%post_folder_name%%/reply'><img src='%%appcore%%/images/silk/add.png' align=absmiddle border=0> Reply to this post</a>-->
					


				</td>
			</tr>
		</tmpl_loop>
		</tbody>
	</table>
	
	<script id="reply-tmpl" type="text/x-jquery-tmpl">
		<form class='reply_form'  onsubmit='return ajax_post_reply(this)' postid='${postid}'>
			<div class='wrap'>
		
				<div class='content'>
					<textarea class='expandText' style="width: 450px; height:5em" class="expandText" name="text"></textarea>
				</div>
				<div class='controls'>
					<button type='submit' class='button'>Post</button>
				</div>
				<div class='fc'></div>
			</div>
		</form>
	</script>
	<!--
			<div class='form' id='postas_form'>
				<table>
					<tr>
						<td>Name:</td>
						<td><input value='%%user_display%%' name='poster_name'></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input value='%%user_email%%' name='poster_email'></td>
					</tr>
				</table>
			</div>
			<div class='ident' id='postas_display'>
				Posting as <b>%%user_display%%</b> - <a href='javascript:void(show_postas_form());'>Change</a>
			</div>
			-->
	<script>
	//selector:
	$(".actions .reply_link").live("click",function(){
		// show reply form
		var	postid = $(this).attr("postid"),
			
			replyHolder = "#reply"+postid,
			
			tmp = $(replyHolder+" .reply_form");
		//alert("postid:"+postid+", tmp:"+tmp);
		//alert("replyHolder:"+replyHolder);
		// Create reply form for this post if doesnt already exist
		//if(!tmp)
		{
			tmp = $("#reply-tmpl").tmpl({postid:postid});
			//alert(tmp.html());
			$(replyHolder).append(tmp);
		}
		
		tmp.children(replyHolder+' .expandText').autogrow();
		tmp.children(replyHolder+' .expandText').focus();
		
		tmp.show(300);
		
		return false;
		
	});
	/*
	function ajax_post_reply(formElm)
	{
		var postData = {
			comment: formElm.text.value,
			poster_name: formElm.poster_name.value,
			poster_email: formElm.poster_email.value,
			output_fmt: "json",
			plain_text: 1,
		};
		
		$("#post-placeholder").show();
		
		var errorFunc = function() 
		{
			$("#post-placeholder").hide();
			if(confirm("There was an error saving your post to the server - nothing was saved. Do you want to use the simple post page instead of this fancy page to make your post?"))
			{
				document.location.href = "%%binpath%%/%%board_folder_name%%/new?text=" + postData.text; 
			}
		}
		
		var postUrl = "%%binpath%%/%%board_folder_name%%/post";
		//alert(postUrl);
		$.ajax({
			type: "POST",
			url: postUrl,
			data: postData,
			success: function(data)
			{
				//alert("Got post data:"+data+", type:"+typeof(data));
				if(typeof(data) == "string")
				{
					// something wierd on server - should be JSON!
					errorFunc();
				}
				else
				{
					//alert(data);
					//console.debug(data);
					$("#post-tmpl").tmpl(data).insertAfter("#post-placeholder");
					$("#post-placeholder").hide();
					formElm.text.value = "";
					formElm.text.updateAutogrow();
				}	
			},
			error: errorFunc,
			
		});
		
		return false;
	}*/
	/*
	$(".actions .you_like a").live("click",function(){
		// NOTE This is the UNLIKE link
		// 1. send url to server
		// 2. on reply, hide the span with the proper postid  #youlike${postid}
		//    and show the span #addlike${postid}
		
		var	blockId   = "#long_text_"+postid,
			loadingRef = $("#loading_"+postid),
			shortId   = "#short_text_"+postid,
			longId    = "#text_"+postid,
			postHref  = aElm.href;
		
		loadingRef.show();
		
		var errorFunc = function() 
		{
			// Error loading, just redirect to the page itself...
			document.location.href = postHref; 
		};
		
		$.ajax({
			type: "GET",
			url: postHref,
			data:
			{
				output_fmt: "json",
				no_comments: 1,
			},
			success: function(data)
			{
				//alert("Got post data:"+data+", type:"+typeof(data));
				if(typeof(data) == "string")
				{
					// something wierd on server - should be JSON!
					errorFunc();
				}
				else
				{
					$(blockId).html(data.post_text);
					$(shortId).hide(300);
					$(longId).show(300);
					loadingRef.hide(300);
					
					//alert(data);
					//console.debug(data);
				}	
			},
			error: errorFunc,
			
		});
	});
	
	
	*/
	</script>
					
					
	<style>
	
	.comment_text
	{
		border-collapse: collapse;
	}
	
	table.comment_text td
	{
		font-size: .85em;
		border:  0/* !important*/;
		padding: 0/* !important*/;
	}
	
	.comment_text .user_photo 
	{	
		float: left; 
		margin: 4px 10px 4px 0;
	}
	.comment_text .fc { clear: both; }
	/*.comment_text span.text { clear: left; }*/
	
	.new_link, .new_reply_link, .edit_post_link
	{ 
		/*border: 2px solid #c9ac93;
		padding: 5px;
		margin-top: 1.5em;
		margin-bottom: 1em;
		font-size: 13px;
		display: block;
		width: 200px;
		background: white;border-color: blue;
		-moz-border-radius: 4px;*/
		
	}
	
	.comments_block
	{
		float: none;
	/*	border: 1px solid #838183;*/
		/*border-top: 1px solid #838183;*/ 
		/*background: rgb(250,250,250);*/
		/*padding: .95em;*/
		/*margin-left: .5em;*/
		/*margin-bottom: .5em;*/
		/*width: 55em;*/
		/*margin-right: -5em;*/
		/*margin-top: 2.95em; 
		padding-top:.95em;*/
		
		font-size: .85em;
		
		
	}
	
	.comments_block .comments_title 
	{
		/*font-weight: bold;
		border-bottom: 1px solid #838183;*/
		
	}
	
	.comments_block .comment_link
	{
		/*float: right;*/
	} 
	
	.comments_block  .timestamp 
	{ 
		font-size: 1em; 
		/*color: rgb(60,160,60);*/
		font-family: Courier New, Monospace;
		/*font-weight: bold;*/
	}
	
	.comments_box .subject { display: none }
	
	.comments_block  .meta 
	{
		/*font-size: 1em; font-weight: bold;
		color: rgb(60,160,60);*/
	}
	
	.comments_block .nocomments {}
	
	.comment_text
	{
		margin: 5px 0;
			
		
	}
	
	/*.comment_text  blockquote { margin:0;padding:0;margin-left:3em; }*/
	
	/*.comment_text + .comment_text  { border-top: 1px dotted #838183; margin-top: .2em; padding-top: .2em }*/
	
	/*.comment_text blockquote        { margin-left: 2em !important; border-color: #c9ac93 }*/
	/*.comments_block .new_reply_link { margin-bottom: -.5em !important; margin-top: 2em }*/
	/*.comments_block .comments_title { border-bottom: 2px solid #c9ac93 ; color: #553b20; margin-bottom: .2em }*/
	/*.comment_text + .comment_text   { border-color: #c9ac93 }*/
	/*.comment_text .text             { font-size: 1em }
	.comment_text .admin_link	{ float: left;margin-left:5px }*/
	
	.postlist .actions,
	.postlist .actions a 
	{
		color: #364a90;
		text-decoration: none;
	}
	
	.postlist .actions
	{
		font-size: .75em;
	}
	</style>


<script type="text/javascript">

function showThumb(data)
{
	var id_img = "#vimeo-" + data[0].id;
	$(id_img).attr('src',data[0].thumbnail_small).animate({width:120,height:90},1);
}



$(function() {
	$('textarea').autogrow();

	// Add in-page youtube player to links marked 'youtube-play-link'. They should be something like:
	// 	<a href='$url' class='youtube-play-link' videoid='$code'>
	// 		<img src="http://img.youtube.com/vi/$code/1.jpg" border=0>
	// 		<span class='overlay'></span>
	// 	</a>
	// Appropriate CSS (above) adds a play icon via the span.overlay element.
	// Note that the HTML example shown will render a perfectly valid image link to the youtube site even if this
	// javascript doesn't work for some reason, so no underlying functionality is lost if JS is disabled.
	//
	// NOTE - The script below EXPECTS a 'videoid' attribute on the link to contain the youtube videoid.
	// If not present, the script wont work - the link will just fall thru and redirect the user to whatever the href is.
	$('a.vimeo-video').each(function() {
		var th = $(this),
		    id = th.attr("videoid"),
		    url = "http://vimeo.com/api/v2/video/" + id + ".json?callback=showThumb",
		    id_img = "#vimeo-" + id;
		    $(id_img).before('<scr'+'ipt type="text/javascript" src="'+ url +'"></scr'+'ipt>');
	});
	
	$('a.youtube-play-link').live("click", function() {

		var th = $(this),
		    // Create a loading indicator
		    loading = $('<img/>')
		    	.attr('src','%%appcore%%/mods/ThemePHC/images/fb-ajax-loader.gif');

		// No videoid - we dont do parsing here. Just fall thru and allow the link to work as links would normally work.
		if(!th.attr('videoid'))
			return true;
		
		// Fade out the icon for the video
		th.children('img').animate({opacity:0},300);
		// Add in the loading image
		th.append(loading);
		// Animate expanding the link (assuming its CSS is display:block) to the size of the player.
		// When done, insert an iframe into the block that auto-plays the video from youtube.
		//width="480" height="390" 
		var v=th.attr("isvimeo") == 1;
		var w=v?320:375,h=v?240:312;
		th.animate({width:w, height:h}, 300, "swing", function()
		{
			// Note that we re-use the 'th' ref from the start of this function to
			// grab the 'videoid' attribute instead of parsing the HREF
			if(v == "1")
			{
				th.html('<iframe src="http://player.vimeo.com/video/'+th.attr('videoid') + '?portrait=0&amp;autoplay=1" width="320" height="240" frameborder="0"></iframe>');
			}
			else
			{
				th.html('<iframe title="YouTube video player" width="'+w+'" height="'+h+'" '+
					'src="http://www.youtube.com/embed/' + th.attr('videoid') +'?autoplay=1" '+
					'frameborder="0" class="youtube-iframe" allowfullscreen></iframe>');
			}
		});
		return false;
	});
});

</script>

<script type="text/javascript" src="%%appcore%%/js/jquery-autogrow.js" index="50"></script>
<script type="text/javascript" src="%%appcore%%/js/jquery-scrollto.js" index="50"></script>
<script type="text/javascript" src="%%appcore%%/js/jquery.tmpl.min.js" index="50"></script>

