	<a_cssx src="%%modpath%%/css/boards.css"/>
	
	<title><tmpl_var board_title> - Bulletin Boards</title>
	
	<!-- Board Title -->
	<h1><tmpl_var board_title></h1>
	
	<!-- Board Tagline -->
	<!--<p class='board-tagline'><tmpl_var board_tagline></p>-->
	
	<!-- Board Description -->
	<!--<tmpl_if description>
		<div id='board-intro'>
			<tmpl_var board_description>
		</div>
	</tmpl_if>-->
	
	<!-- Removed: "print list" link and script -->
	
	<!-- Removed: "delete list" link and script -->
	
	<!-- "Add a post" link -->
	<!--<a class='new_link' href='%%bin%%/<tmpl_var board_folder_name>/new'><img src='%%appcore%%/images/silk/add.png' align=absmiddle border=0> Add a new post to this forum!</a>-->
	
	
	<style type="text/css">
	textarea.expandText {
		/*line-height: 10px;*/
		/*height: 15px;*/
	}
	
	.newpost
	{
		cursor: default; 
		background: #e9eeff;
		border-bottom: 1px solid #c7cddf;
		border-top: 1px solid white;
		padding: 10px;
		
		padding-bottom: 30px;
	}
	
	.newpost .wrap
	{
		width: 30em;
		margin: 0 auto;
	}
	
	.newpost h2
	{
		color: #364a90;
		margin: 0; /*reset ...*/
		padding: 0;
		font-size: .7225em;
		font-weight: bold;
		text-align: center;
		/*background: #364a90;
		color: white;*/
		
	}
	
	.newpost .ident
	{
		color: #364a90;
		font-size: .7225em;
		float: left;
	}
	
	.newpost .controls
	{
		float: right;
	}
	
	</style>
	
	<!--max-height: 70px;-->
	<div class='newpost'>
		<div class='wrap'>
			<h2>Add a new post</h2>
			
			<div class='content'>
				<textarea class='expandText' style="width: 41.25em; height:1.675em" class="expandText" name="myTextarea"></textarea>
			</div>
			<div class='ident'>
				Posting as <b>%%user_display%%</b> - <a href='#'>Change</a>
			</div>
				
			<div class='controls'>
				<input type='submit' class='button' value='Post'>
			</div>
		</div>
	</div>
	
	<style>
	table.postlist
	{
		/*border-collapse:collapse;*/
		/*border: 1px solid #364a90; */
		/*-moz-box-shadow: 0px 0px 8px #000;*/
		/*-moz-box-shadow: 0 0 3px #fff, 0px 0px 8px #000;*/
		/*margin: 1em 0;*/
		border-spacing: 0;
	} 
	
	
	table.postlist th 
	{
		background: #364a90;
		color: white;
		text-shadow: rgb(8,8,8) 1px 1px 1px;
		font-weight: bold;
		padding: 2 4;
		text-align: left;
		
		/*border-bottom: 1px solid #364a90;*/
	}
	
	.postlist .user_photo
	{
		border: 1px solid #364a90; /* light orange */
		-moz-box-shadow: 0px 0px 8px #000;
	}
	
	table.postlist td 
	{
		/*border: 1px solid #364a90;*/
		/*padding: 2 4;*/
		cursor: default; 
		background: #e9eeff;
		border-bottom: 1px solid #c7cddf;
		border-top: 1px solid white;
	}
	
	.postlist td.photo
	{
		width: 60px;
		padding: 10px;
	}
	
	.postlist td.data
	{
		padding: 10px;
	}
	
	table.postlist tr:hover td
	{
		/*background: #c2cdf5;*/
	}
	
	table.postlist .util
	{
		color: #364a90;
	}

	.postlist .data .lastpost { display: none }
	.postlist .data .title_link { display: none; }
	
	.postlist .data .by {
		font-style: italic;
		/*font-weight: bold;*/
		font-size: .85em;
		
	} 
	
	.postlist .data .posted_by .name { font-weight: bold; }
	
	.postlist .data .posted_by,
	.postlist .data .timestamp 
	{
		color: #364a90;
		font-size: .85em;
	}
	
	.postlist .data .timestamp
	{
		font-size: .7225em;
	}
	
	.postlist .more
	{
		font-size: .7225em;
	}
	
	.postlist .text
	{
		/*-moz-box-shadow:inset 0 0 8px #000;
		-webkit-box-shadow:inset 0 0 8px #000;
		box-shadow:inset 0 0 8px #000;*/
		border-left: 2px solid #b9c0da;
		padding: 10px;

	}
	
	</style>
	
	<table class='postlist' width='100%'>
		<tmpl_loop posts>
			<tr href='%%bin%%/<tmpl_var board_folder_name>/<tmpl_var folder_name>' class='post' onclick='document.location.href=this.getAttribute("href")'>
				<td valign='top' align='center' class='photo'>
					<img class='user_photo' src="http://www.gravatar.com/avatar/%%poster_email_md5%%?d=http://beta.mypleasanthillchurch.org/appcore/mods/User/images/male-fb-sq-50px.jpg&s=50">
				</td>
				<td valign='top' class='data'>
					<a href='%%bin%%/<tmpl_var board_folder_name>/<tmpl_var folder_name>' class='title_link'>
						<tmpl_var subject>
					</a>
					
					<div class='posted_by'>
						<span class='by'>by</span> <span class='name'>%%poster_name%%</span>
					</div>
					
					
					<!--<tmpl_if has_new>
						<span class='new'>- Unread Comments: <span class='count'><tmpl_var new_count></span></span>
					</tmpl_if>-->
					<div class='text'>
						<tmpl_var short_text>
						<span class='more'>(<a href='%%bin%%/<tmpl_var board_folder_name>/<tmpl_var folder_name>' class='more_link'>More<!-- <b>%%subject%%</b>-->...</a>)</span>
					</div>
					
					<div class='timestamp'>%%timestamp%%</div>
					
					<div class='lastpost'>
						<tmpl_if post_postid>
							<span class='post'>
								<a href='<tmpl_var post_url>'><tmpl_var post_subject></a><br>
								<span class='by'><tmpl_var post_timestamp> | <tmpl_var post_poster_name></span>
							</span>
						</tmpl_if>
					</div>
				</td>
			</tr>
		</tmpl_loop>
	</table>
	
	<!-- List of Posts -->
	<!--<tmpl_if posts>
		<table class='posts' width='100%' cellpadding=0 cellspacing=0>
			<thead>
				<th align=left class='title'>Post Title</th>
				<th nowrap align=right>Views</th>
				<th nowrap align=right>Replies</th>
				<th align=left nowrap>Last Comment</th>
			</thead>
			<tbody>
				<tmpl_loop posts>
					<tr class='<tmpl_var post_flags>'>
						<td width='65%' class='subject'>
							<a href='%%bin%%/<tmpl_var board_folder_name>/<tmpl_var folder_name>' class='title_link'>
								<tmpl_var subject>
							</a>
							<span class='by'> <tmpl_var timestamp> | %%poster_name%%</span>
							<tmpl_if has_new>
								<span class='new'>- Unread Comments: <span class='count'><tmpl_var new_count></span></span>
							</tmpl_if>
							<span class='tagline'>
								<span class='hidden'> - </span>
								<tmpl_var short_text>
							</span>
							</td>
						<td width='10%' nowrap class='num_views' valign=top align=right>
							<tmpl_if num_views>
								<tmpl_var num_views>
							<tmpl_else>
								-
							</tmpl_if>
						</td>
						<td width='10%' nowrap class='num_replies' valign=top align=right>
							<tmpl_if num_replies>
								<tmpl_var num_replies>
							<tmpl_else>
								-
							</tmpl_if>
						</td>
						<td width='15%' nowrap class='lastpost' valign=top >
							<tmpl_if post_postid>
								<span class='post'>
									<a href='<tmpl_var post_url>'><tmpl_var post_subject></a><br>
									<span class='by'><tmpl_var post_timestamp> | <tmpl_var post_poster_name></span>
								</span>
							<tmpl_else>-</tmpl_if>
						</td>
					</tr>
				</tmpl_loop> 
			</tbody>
		</table>
	<tmpl_else>
		<h3>Sorry, no posts added yet to this forum.</h3>
	</tmpl_if>-->


<script type="text/javascript">
setTimeout(function(){
	$(document).ready (function() {
		$('textarea.expandText').autogrow();
	});

}, 500);

// $(function() {
//           $('textarea').autogrow();
//         });

</script>

