
<title><tmpl_var post_subject> - <tmpl_var board_title> - Bulletin Boards</title>
<h1><tmpl_var post_subject></h1>

<script>
// Using the ${CDN:...} macro so that the URL matches the <img> pre-catching tag at the bottom of the page
loaderGif = '${CDN:%%appcore%%/mods/ThemePHC/images/fb-ajax-loader.gif}';
</script>

<a:cssx src="%%appcore%%/mods/ThemePHC/css/boards-list.css"/>
<table class='postlist' width='100%' align=center cellspacing=0>
	${inc:%%appcore%%/mods/ThemePHC/tmpl/boards/inc-postrow.tmpl}
</table>

<tmpl_include inc-reply-scripts.tmpl>
<tmpl_include inc-video-scripts.tmpl>	

<script type="text/javascript" src="%%appcore%%/js/jquery-autogrow.js" index="50"></script>
<script type="text/javascript" src="%%appcore%%/js/jquery-scrollto.js" index="50"></script>
<script type="text/javascript" src="%%appcore%%/js/jquery.tmpl.js" index="50"></script>
<script type="text/javascript" src="%%appcore%%/mods/ThemePHC/js/boards-postlist-actions.js" index="50"></script>

<!-- Some browsers don't seem to load the loader gif until its actually visible - which causes visual artifacts
     when the "empty image" icon is shown, *then* the gif animation. By putting this image down here, initially
     visible then hiding it as soon as its loaded, we force the browser to preload the image inorder to reduce
     or prevent such visual artifcats. -->
<img src='%%appcore%%/mods/ThemePHC/images/fb-ajax-loader.gif' onload='this.style.display="none"'>

<style>
/* Remove spacing at top of the post list since we're just showing a single post on this page */
.postlist td.photo
{
	padding-top: 2px;
}

.postlist td.data
{
	padding-top: 0;
}
</style>